{% extends base_template %}


{% block content %}
<h1 class="mt-5 mb-0"><i class="bi bi-box"></i> {{ object.label }}</h1>
<span class="text-muted mt-0">{{ data_source_class }}</a>

<table class="table mt-5">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Help</th>
        <th scope="col">Example values</th>
        </tr>
    </thead>
    <tbody>
        {% for definition in object.get_data_definition %}
        <tr>
            <th scope="row">{{ definition.name }}</th>
            <td>{{ definition.type }}</td>
            <td>{{ definition.help }}</td>
            <td>{{ definition.examples_values }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
