{% extends base_template %}


{% block content %}
<div class="row w-100 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <h1 class="mb-5"><i class="bi bi-file-earmark-word"></i> {{ object.name }}</h1>

        <p>
            Please confirm deletion by clicking on Confirm button below.
            <br/>
            <form methode="post">
                <button type="submit" class="btn btn-danger">Confirm delete</button>
            </form>
            <a href="{% url 'docx_template:detail' object.slug %}" class="btn btn-secondary mt-1">Cancel</a>
        </p>
    </div>
</div>
{% endblock content %}
