{% extends base_template %}


{% block content %}
<div class="row w-100 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <h1 class="mb-5">{% if submit_label %}{{ submit_label }}{% else %}Add{% endif %} docx template</h1>
        <form  enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="fr-btn ">{% if submit_label %}{{ submit_label }}{% else %}Add{% endif %}</button>
        </form>
    </div>
</div>
{% endblock content %}
