{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <input type="submit" value="Générer carte conso" name="_generate-conso-map">
        <input type="submit" value="Générer carte artif" name="_generate-artif-map" disbaled>
        <input type="submit" value="Générer carte comprendre artif" name="_generate-understand-artif-map" disbaled>
        <input type="submit" value="Générer couverture" name="_generate-cover" disbaled>
    </div>
{% endblock %}
