{% extends "index.html" %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Carte intéractive
{% endblock %}

{% block headers %}
<!-- leaflet -->

{% sri_static "carto/js/leaflet.js" %}
{% sri_static "carto/css/leaflet.css" %}

<style nonce="[NONCE_PLACEHOLDER]">
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
#local-container {
    overflow: auto;
}
#layer_list {
    width: 300px;
    overflow: auto;
}
#layer_title {
    width: 23px;
    font-size: 1.5rem;
}

html, body {
    height: 100% !important;
  }
</style>
{% endblock %}

{% block carto %}
<div id="local-container" class="d-flex h-100">
    <div class="collapse collapse-horizontal p-2" id="layer_list">
        <h2>Calques</h2>
    </div>
    <div id="layer_title" class="row justify-content-center h-100 border-right m-0 p-0">
        <a href="#" class="p-0 text-center" id="div-toggle-calque">
            <i class="bi bi-chevron-double-right" id="toggle-calque"></i>
            <br/><img src="{% static 'carto/img/calques-vertical.png' %}" width="18px" />
        </a>

    </div>
    <div id="mapid" class="flex-grow-1"></div>
</div>
{% endblock %}

{% block bodyend %}
{% localize off %}
{% sri_static "carto/js/map.js" %}
<script language="javascript" nonce="[NONCE_PLACEHOLDER]">
geolayers = [
{% for layer in layer_list %}
    {
        {% for k, v in layer.items %}
        {{ k }}: "{{ v|safe }}",
        {% endfor %}
    },
{% endfor %}
]
let carto = new Carto ([{{ center_lat }}, {{ center_lng }}], {{ default_zoom }})
carto.init(geolayers)
</script>
{% endlocalize %}
{% endblock %}

{% block tagging %}

<script language="javascript" nonce="[NONCE_PLACEHOLDER]">
var isvisible = false
$("#div-toggle-calque").click(function () {
    if (isvisible) {
        $("#layer_list").hide('slow')
        $("#toggle-calque").toggleClass('bi-chevron-double-right').toggleClass('bi-chevron-double-left');
        isvisible = false
    }else{
        $("#layer_list").show('slow', function () {})
        $("#toggle-calque").toggleClass('bi-chevron-double-right').toggleClass('bi-chevron-double-left')
        isvisible = true
    }
    let height = $(window).height() - $('.fr-header').height() - $('.fr-container').height()
    $("#layer_list").height(height)
    console.log('clicked')
})

const resize = () => {
    let height = $(window).height() - $('.fr-header').height() - $('.fr-container').height()
    console.log('test', height)
    $("#layer_list").height(height)
}

$(window).resize(() => {
    let height = $(window).height() - $('.fr-header').height() - $('.fr-container').height()
    console.log('test', height)
    $("#layer_list").height(height)
})

</script>
{% endblock tagging %}

{% block footer %}{% endblock footer %}
