{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Carte intéractive
{% endblock %}

{% block headers %}
    <!-- leaflet -->

    {% sri_static "carto/js/leaflet.js" %}

    <!-- Il y a un bug dans django-sri 0.3.0 et le hash n'est pas correcte pour ce fichier. Dès qu'une nouvelle version de django-sri sera disponible il faudra retirer la balise manuelle link ci-dessous
    voir https://github.com/RealOrangeOne/django-sri/issues/66 -->
    {% sri_static "carto/css/leaflet.css" %}
    <link crossorigin="anonymous" href="/static/carto/css/leaflet.css" integrity="sha256-BPfK9M5v34c2XP6p0cxVz1mUQLst0gTLk0mlc7kuodA=" rel="stylesheet" type="text/css"/>'

    <style nonce="{{ CSP_NONCE }}">
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
        #local-container {
            overflow: auto;
        }
        #layer_list {
            width: 300px;
        }
        #layer_title {
            width: 23px;
            font-size: 1.5rem;
        }
    </style>
{% endblock %}

{% block carto %}
<div id="local-container" class="d-flex h-100">
    <div class="h-100 collapse collapse-horizontal p-2" id="layer_list">
        <h2>Calques</h2>
    </div>
    <div id="layer_title" class="row justify-content-center h-100 border-right m-0 p-0">
        <a href="#" class="p-0 text-center" data-bs-toggle="collapse" data-bs-target="#layer_list" aria-expanded="false" aria-controls="layer_list">
            <i class="bi bi-chevron-double-right" id="toggle-calque"></i>
            <br/><img src="{% static 'carto/img/calques-vertical.png' %}" width="18px" />
        </a>

    </div>
    <div id="mapid" class="flex-grow-1"></div>
</div>
<script language="javascript" nonce="{{ CSP_NONCE }}">
var calque_div = document.getElementById('layer_list')
calque_div.addEventListener('hidden.bs.collapse', function () {
    $("#toggle-calque").toggleClass('bi-chevron-double-right').toggleClass('bi-chevron-double-left');
})
calque_div.addEventListener('show.bs.collapse', function () {
    $("#toggle-calque").toggleClass('bi-chevron-double-right').toggleClass('bi-chevron-double-left');
})
</script>
{% endblock %}

{% block bodyend %}
{% localize off %}
{% sri_static "carto/js/map.js" %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
geolayers = [
{% for layer in layer_list %}
    {
        {% for k, v in layer.items %}
        {{ k }}: "{{ v|safe }}",
        {% endfor %}
    },
{% endfor %}
]
let carto = new Carto ([{{ center_lat }}, {{ center_lng }}], {{ default_zoom }})
carto.init(geolayers)
</script>
{% endlocalize %}
{% endblock %}

{% block footer %}
{% endblock %}
