{% extends 'base_connected.html' %}

{% load static %}
{% load map_tags %}

{% block pagetitle %}
 - map
{% endblock %}

{% block headers %}
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <style>
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="mapid" class="flex-grow-1"></div>
{% endblock %}

{% block bodyend %}
<script src="{% static 'carto/js/map.js' %}"></script>
<script language="javascript">

    let carto = new Carto ([{{ center_lat }}, {{ center_lng }}], {{ default_zoom }})
    carto.init()

    {% for layer in layer_list %}
        {{ layer|geolayer }}
    {% endfor %}
/*
    let world_layer = new GeoLayer("World borders", "{% url 'carto:data_worldborder' %}")
    world_layer.get_color = function (feature) {
        // get the property that will decide the color
        d = feature.properties.pop2005
        // set the color according to the property's value
        return d > 1312978855 ? '#00441b' :
               d > 1134403141 ? '#006d2c' :
               d > 299846449 ? '#238b45' :
               d > 186830759 ? '#41ae76' :
               d > 127896740 ? '#66c2a4' :
               d > 69420607 ? '#99d8c9' :
               d > 38195558 ? '#ccece6' :
               d > 17795149 ? '#e5f5f9' :
               '#f7fcfd'
    }
    world_layer.info_txt = (properties) => {
        return '<h4>World borders</h4><b>' + properties.name + '</b><br/>' + properties.pop2005
    }
    world_layer.add_to_map(carto)
    */
</script>
{% endblock %}
