{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Carte V2 - {{ map_name }}
{% endblock pagetitle %}

{% block headers %}
<style nonce="{{ CSP_NONCE }}">
html, body {
    height: 100% !important;
}
</style>
{% endblock headers %}

{% block body_class %}header-min full-width breadcrumb-min{% endblock %}

{% block content %}
<div id="local-container" class="d-flex h-100">
    <div id="mapid" class="flex-grow-1"></div>
</div>

<div id="layer_list"></div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block bodyend %}
{% localize off %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
{% comment %} geolayers = [
{% for layer in layer_list %}
    {
        {% for k, v in layer.items %}
        {{ k }}: "{{ v|safe }}",
        {% endfor %}
    },
{% endfor %}
] {% endcomment %}
new SparteMap ({
    targetElement: document.getElementById('mapid'),
    debug: true,
    map_center: [{{ center_lat }}, {{ center_lng }}],
    default_zoom: {{ default_zoom }},
})
{% comment %} carto.init(geolayers) {% endcomment %}
</script>
{% endlocalize %}
{% endblock bodyend %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Carte intéractive', '{{ map_name }}'])
})
</script>
{% endblock tagging %}
