{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Carte V2 - {{ map_name }}
{% endblock pagetitle %}

{% block headers %}
<style nonce="{{ CSP_NONCE }}">
html, body {
    height: 100% !important;
}
</style>
{% endblock headers %}

{% block body_class %}header-min full-width breadcrumb-min{% endblock %}

{% block content %}
<div id="mapV2__wrapper" class="d-flex h-100">
    <div id="mapV2__container" class="flex-grow-1">
        map
    </div>

    <div id="mapV2__panel" class="tabs">
        <div class="tablist" role="tablist" aria-label="Paramètres de la carte">
            <button role="tab" aria-selected="false" id="layers">
                <i class="bi bi-layers"></i>
            </button>
            <button role="tab" aria-selected="false" id="data">
                <i class="bi bi-bar-chart"></i>
            </button>
            <button role="tab" aria-selected="false" id="debug">
                <i class="bi bi-bug"></i>
            </button>
        </div>
        <div id="layers-panel" class="tab" role="tabpanel" aria-labelledby="layers" hidden></div>
        <div id="data-panel" class="tab" role="tabpanel" aria-labelledby="data" hidden></div>
        <div id="debug-panel" class="tab" role="tabpanel" aria-labelledby="debug" hidden></div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block bodyend %}
{% localize off %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
layerList = [
{% for layer in layer_list %}
    {
        {% for k, v in layer.items %}
        {{ k }}: "{{ v|safe }}",
        {% endfor %}
    },
{% endfor %}
]

couv_leafs = [
{% for leaf in couv_leafs %}
    {
        "code_couverture": "{{ leaf.code_prefix_class|safe }}",
        "map_color": "{{ leaf.map_color|safe }}",
    },
{% endfor %}
]

usa_leafs = [
{% for leaf in usa_leafs %}
    {
        "code_usage": "{{ leaf.code_prefix_class|safe }}",
        "map_color": "{{ leaf.map_color|safe }}",
    },
{% endfor %}
]

new SparteMap ({
    targetElement: document.getElementById('mapV2__container'),
    debug: true,
    mapCenter: [{{ center_lat }}, {{ center_lng }}],
    defaultZoom: {{ default_zoom }},
    layerList: layerList,
    couv_leafs: couv_leafs,
    usa_leafs: usa_leafs,
})
</script>
{% endlocalize %}
{% endblock bodyend %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Carte intéractive', '{{ map_name }}'])
})
</script>
{% endblock tagging %}
