{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}

{% block pagetitle %}
Carte intéractive
{% endblock %}

{% block headers %}
    <!-- leaflet -->
    <link rel="stylesheet" href="{% static 'carto/css/leaflet.css' %}"/>
    <script src="{% static 'carto/js/leaflet.js' %}"></script>
{% endblock %}

{% block content %}
<div id="layer_list" style="display: None"></div>
<div class="h-100 d-flex flex-column">
    <div class="mx-1">
        <h1>Réaliser son diagnostic.
            <br/><small class="text-muted">
                Etape 1 - sélectionner le territoire à diagnostiquer
            </small>
        </h1>
        <hr/>
    </div>
    <div class="mx-1">
        France / Région / Département / Epci / Communes
    </div>
    <div class="flex-grow-1 d-flex">
        <div id="mapid" class="w-50 flex-grow-1"></div>
        <div id="selection" class="w-50 px-2">
            <p>
                Utilisez la carte de gauche pour naviguer en France et sélectionner
            le territoire sur lequel vous souhaitez réaliser le diagnostic.
            </p>

            <p>
                Simple clic pour sélectionner.
                <br/>Double clic pour zoomer dans un territoire.
            </p>

            <h3>Territoires sélectionnés :</h3>

            <div id="items-selected" class="">
                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>

                <div class="card m-2 float-start" style="width: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">Région xyz</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sub_bar_actions %}
{% endblock %}

{% block bodyend %}
{% localize off %}
<script src="{% static 'carto/js/map.js' %}"></script>
<script language="javascript">
geolayers = [
{% for layer in layer_list %}
    {
        {% for k, v in layer.items %}
        {{ k }}: "{{ v|safe }}",
        {% endfor %}
    },
{% endfor %}
]
let carto = new Carto ([{{ center_lat }}, {{ center_lng }}], {{ default_zoom }})
carto.init(geolayers)
</script>
{% endlocalize %}
{% endblock %}
