///////// {{ name }} /////////
// init
geo_layer = new GeoLayer("{{ name }}", "{{ url }}")
// options
{% if load_full_data %}geo_layer.load_full_data = false{% endif %}
{% if load_full_data %}geo_layer.immediate_display = false{% endif %}
// scale and init
{% if fit_map %}geo_layer.fit_map = true{% endif %}
{% if use_emprise_style %}geo_layer.style = emprise_style{% endif %}
{% if color_url %}geo_layer.add_to_map_with_custom_scale("{{ color_url }}", carto)
{% else %}geo_layer.add_to_map(carto){% endif %}
