{% extends 'index.html' %}

{% load static %}

{% block pagetitle %}Accueil{% endblock %}

{% block content %}
<div class="d-flex h-100 justify-content-center">
    <div class="" style="width:750px;">
        <p class="w-100"><img src="{% static 'header.png' %}"  class="w-100" /></p>

        <h1>SPARTE</h1>

        <p>En aval de l’Observatoire National, le <strong>S</strong>ervice de <strong>P</strong>ortrait de l’<strong>AR</strong>tificialisation des <strong>TE</strong>rritoires (ou SPARTE) est la plateforme
        qui accompagne les acteurs de l’aménagement dans l'analyse de l’artificialisation du territoire et dans le suivi de l’impact des
        projets d’aménagement.</p>

        <hr/>

        <p>Pour commencer à utiliser la version bêta du service, rien de plus simple.</p>

        <p><a href="{% url 'users:signup' %}" class="btn btn-primary w-100">Inscrivez-vous !</a></p>

        <hr/>



        <h2 class="mt-5">Comment ça marche ?</h2>

        <div class="card-deck row">

            <div class="col card ms-1 me-1">
                <img class="card-img-top" src="{% static 'picto_home_1.svg' %}" alt="Pictogramme" style="height: 110px">
                <div class="card-body">
                    <p class="card-text">
                        Réalisez le bilan de l’artificialisation des sols de votre territoire
                    </p>
                </div>
            </div>

            <div class="col card ms-1 me-1">
                <img class="card-img-top" src="{% static 'picto_home_2.png' %}" alt="Pictogramme" style="height: 110px">
                <div class="card-body">
                    <p class="card-text">
                        Analysez l’évolution de l’artificialisation dans le temps selon les indicateurs
                    </p>
                </div>
            </div>

            <div class="col card ms-1 me-1">
                <img class="card-img-top" src="{% static 'picto_home_3.svg' %}" alt="Pictogramme" style="height: 110px">
                <div class="card-body">
                    <p class="card-text">
                        Estimez l’impact de vos projets d'urbanisme sur l’artificialisation des sols
                    </p>
                </div>
            </div>

            <div class="col card ms-1 me-1">
                <img class="card-img-top" src="{% static 'picto_home_4.png' %}" alt="Pictogramme" style="height: 110px">
                <div class="card-body">
                    <p class="card-text">
                        Exportez les cartographies et tableaux de bord pour vos projets
                    </p>
                </div>
            </div>

        </div>

        <hr/>



        <h2 class="mt-5">Consommation d’espace ou artificialisation ?</h2>

        <strong>A quoi correspond l’artificialisation des sols ?</strong>

        <p>L’article 192 de la Loi Climat & Résilience votée en juillet 2021 la définit comme
        « une surface dont les sols sont :</p>
        <ul>
            <li>soit imperméabilisés en raison du bâti ou d'un revêtement,</li>
            <li>soit stabilisés et compactés,</li>
            <li>soit constitués de matériaux composites »</li>
        </ul>

        <strong>Quelle est la différence avec la consommation d’espace ?</strong>

        <p>La mesure de la consommation d’espace prend en compte l’usage des sols alors que l’artificialisation des sols traduit la
        couverture des sols.</p>

        <strong>Pourquoi mesurer et suivre l’artificialisation des sols ?</strong>

        <p>D’ici 2050, l’objectif de la Loi Climat est d’atteindre le “Zéro Artificialisation Nette”,
        soit un équilibre entre l’artificialisation des sols et la renaturation du territoire. Un
        suivi régulier facilite cette transition.</p>

        <p>Dès 2021, les collectivités devront faire un bilan tri-annuel de l’artificialisation des sols.</p>

        <strong>Comment SPARTE calcule l’artificialisation des sols ?</strong>

        <p>L’artificialisation des sols est mesurée à partir de l’OCSGE nationale et directement issue des objets définis dans la loi
        “climat et résilience”.</p>

        <p>La consommation des espaces NAF sera mesurée à partir des objets de l’OCSGE tels que définis dans le décret d'application
        de la loi ou avec les fichiers fonciers ou avec une donnée locale cohérente avec les exigences du décret.</p>


        <h2 class="mt-5">Les atouts de SPARTE</h2>

        <div class="d-flex flex-row">
            <div class="flex-fill">
                <br/><strong>Un calcul conforme </strong>
                <br/>La mesure de l’artificialisation est basée sur la définition et la méthode de calcul préconisées dans l’article
                192 de la Loi Climat et Résilience.
            </div>
            <div><img src="{% static 'picto_home_5.svg' %}" alt="Femme vérifie la conformité" style="width: 133px;"></div>
        </div>

        <div class="d-flex flex-row">
            <div><img src="{% static 'picto_home_6.svg' %}" alt="Ordinateur avec boutton de téléchargement" style="width: 133px;"></div>
            <div class="flex-fill pl-2">
                <p>
                    <strong>Des données actualisées </strong>
                    <br/>Les données les plus précises possibles pour analyser les sols jusqu’à l’échelle infra-communale : l’OSCGE pour le calcul de
                    l’artificialisation dès qu’elles sont disponibles, les fichiers fonciers pour le calcul de la consommation d’espace.
                </p>
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="flex-fill">
                <strong>Un outil d’aide à la décision au service de la sobriété foncière </strong>
                <br/>Les cartes interactives, les tableaux de bord et l’outil d’estimation de l’impact des projets d’urbanisme en
                termes d'artificialisation des sols vous aident à optimiser vos projets d’urbanisme avec un calcul de l’état des sols.
            </div>
            <div><img src="{% static 'picto_home_7.png' %}" alt="Homme regarde un dessin mathématique" width="133"></div>
        </div>

        <h2 class="mt-5">Comment accéder à SPARTE ?</h2>

        <p>Accédez à la version beta de SPARTE pour calculer et suivre l’état d’artificialisation des sols de votre territoire. </p>

        <p><a href="{% url 'users:signup' %}" class="btn btn-primary w-100">Pour commencer à utilisez l'outil, inscrivez-vous !</a></p>

        <hr/>

        <p>SPARTE est un projet d'innovation pour faciliter le calcul et le suivi de l’artificialisation en vue de l'atteinte de l’objectif Zéro Artificialisation Nette acté par la Loi Climat et Résilience.</p>

        <p><strong>Faites nous part de vos propositions pour améliorer ce service : <a href="mailto:sparte@beta.gouv.fr">sparte@beta.gouv.fr</a></strong></p>

        <p><img src="{% static 'logo_france.png' %}" width="100"/></p>
    </div>
</div>
{% endblock %}
