{% extends "index.html" %}

{% load static %}
{% load sri %}

{% block pagetitle %}Mentions légales{% endblock pagetitle %}

{% block headers %}
{% sri_static "home/css/home.css" %}
{% endblock headers %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="home-container">
        <h1>Mentions légales du Service Mon Diagnostic Artificialisation (ex SPARTE)</h1>

        <h2>Editeur de la Plateforme</h2>

        <p>La Plateforme Mon Diagnostic Artificialisation est éditée par une équipe pluridisciplinaire :</p>

        <ul>
            <li>Philippe Loriot, intrapreneur</li>
            <li>Inès Dartiguenave, coach produit</li>
            <li>Sofian Thibaut, développeur fullstack</li>
            <li>Jérémie Seguin, chargé de déploiement</li>
            <li>Nicolas Mouanga, chargé de déploiement</li>
            <li>Alexis Athlani, développeur fullstack</li>
        </ul>

        <p>Vous pouvez <a href="{% url 'home:contact' %}">nous contacter</a>.</p>

        <h2>Hébergement du service</h2>

        <p>
            Mon Diagnostic Artificialisation est hébergée en France sur l'infrastructure Scalingo.
            <br/>
            <br/>Scalingo SAS
            <br/>15, avenue du Rhin
            <br/>67100 Strasbourg
            <br/>France
            <br/>SIRET 80866548300018
        </p>

        <h2>Accessibilité</h2>

        <p>La conformité aux normes d'accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site accessible à toutes et à tous.</p>

        <h2>Signaler un dysfonctionnement</h2>

        <p>Si vous rencontrez un défaut d'accessibilité vous empêchant d'accéder à un contenu ou une fonctionnalité du site, merci de nous en faire part.</p>

        <p>Si vous n'obtenez pas de réponse rapide de notre part, vous êtes en droit de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits.</p>

        <h2>En savoir plus</h2>

        <p>Pour en savoir plus sur la politique d'accessibilité numérique de l'État : <a href="http://references.modernisation.gouv.fr/accessibilite-numerique">http://references.modernisation.gouv.fr/accessibilite-numerique</a>.</p>

        <h2>Sécurité</h2>

        <p>Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas. Cette protection participe à la confidentialité des échanges.</p>

        <p>En aucun cas les services associés à la plateforme ne seront à l'origine d'envoi de courriels pour demander la saisie d'informations personnelles.</p>
    </div>
</div>
{% endblock content %}
