{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}

{% block pagetitle %}Accueil{% endblock %}

{% block headers %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
<link rel="stylesheet" href="{% static 'project/css/project.css' %}" />
<link rel="stylesheet" href="{% static 'carto/css/leaflet.css' %}"/>
<script src="{% static 'carto/js/leaflet.js' %}"></script>
{% endblock headers %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="" style="width:750px;">
        <h1 class="mt-5">Statistiques</h1>

        <h2 class="mt-5">Principale mesure d'impact</h2>

        <p class="my-5">SPARTE vise à fournir des diagnostics décrivant l'artificialisation des sols et la conformité à la loi ZAN. Les diagnostics sont téléchargeables au format Word. SPARTE prétend réaliser une économie d'échelle importante, à ce titre il nous semble important de mesurer le "coût moyen" des diagnostics à l'aune du budget total consommé en date du {{ date_budget }}.</p>

        <div class="clearfix">
            <div class="card key-figure">
                <div class="card-body">
                    <p class="figure">{{ nb_dl_portrait }}</p>
                </div>
                <div class="card-header">
                    Diagnostics téléchargés
                </div>
            </div>

            <div class="card key-figure">
                <div class="card-body">
                    <p class="figure">{{ cout_portrait }} €</p>
                </div>
                <div class="card-header">
                    Coût moyen d'un diagnostic téléchargé
                </div>
            </div>
        </div>

        <h2 class="mt-5">Progression mensuelle</h2>

        <p class="mt-5">Ce graphique présente le nombre de diagnostics créés et le nombre de portrait téléchargés mois par mois depuis le lancement de l'application début 2022. En dessous, le profil des utilisateurs qui les ont téléchargés.</p>

        <div class="mt-5">
            <div id="diag_created_downloaded"></div>
        </div>

        <div class="mt-5 row">
            <div class="col-6 border-end">
                <h5>Répartition par organisme</h5>
                <div id="organism_pie_chart"></div>
            </div>
            <div class="col-6">
                <h5>Répartition par région</h5>
                <div class="mt-5" style="height: 350px">
                    <div id="mapid" class="w-100 h-100"></div>
                </div>
            </div>
        </div>





        <h2 class="mt-5">Utilisation des rapports en ligne</h2>
        <p class="my-5">Ce graphique présente comment les usagers consultent les rapports en ligne (source Matomo, cookie d'analytic). Période sélectionnée : {{ report_pie.start }} - {{ report_pie.end }}.</p>
        <div class="">
            <div id="report_pie"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block bodyend %}
{% localize off %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% french_translation %}
{% display_chart 'diag_created_downloaded' diag_created_downloaded %}
{% display_chart 'report_pie' report_pie %}
{% display_chart 'organism_pie_chart' organism_pie_chart %}
<script language="javascript">
map = L.map('mapid', { zoomControl: false, dragging: false, center: [46.5, 2.5], zoom: 5 })

var GeoportailFrance_orthos = L.tileLayer(
    'https://wxs.ign.fr/{ignApiKey}/geoportail/wmts?'+
    '&REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&TILEMATRIXSET=PM'+
    '&LAYER={ignLayer}&STYLE={style}&FORMAT={format}'+
    '&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}',
    {
        attribution: '<a target="_blank" href="https://www.geoportail.gouv.fr/">Geoportail France</a>',
        ignApiKey: 'ortho',
        ignLayer: 'ORTHOIMAGERY.ORTHOPHOTOS',
        style: 'normal',
        format: 'image/jpeg',
        service: 'WMTS'
    }
).addTo(map)

function poppuper(feature, layer) {
    if (feature.properties && feature.properties.total) {
        layer.bindPopup(feature.properties.total);
    }
}

function styler(feature){
    return {
        fillColor: feature.properties.map_color,
        fillOpacity: 0.7,
        weight: 1,
        opacity: 0.3,
        color: 'white',
    }
}

$.getJSON("{% url 'home:region-list' %}", function(data) {
    L.geoJson(data, {
        style: (feature) => {
            return {
                fillColor: feature.properties.map_color,
                fillOpacity: 0.7,
                weight: 1,
                opacity: 0.1,
                color: 'white',
            }
        },
        onEachFeature: (feature, layer) => {
            if (feature.properties && feature.properties.total) {
                layer.bindPopup(feature.properties.total);
            }
        }
    }).addTo(map);
})


</script>
{% endlocalize %}
{% endblock %}
