{% extends 'index.html' %}

{% load utils_tags %}

{% block headers %}
{% endblock headers %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="home-container">
        <h1 class="mt-5">Tests Matomo event</h1>

    </div>
</div>
{% endblock content %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'loading_page', 'test', 'name', 'value'])
})

$( "#show-diag" ).click(function () {
    _paq.push(['trackEvent', 'Création diagnostic', 'End point'])
})
</script>
{% endblock tagging %}
