[requires]
python_version = "3.10"

[dev-packages]
black = "*"
django-debug-toolbar = "*"
django-extensions = "*"
djlint = "*"
flake8 = "*"
flake8-bugbear = "*"
ipyleaflet = "*"
ipython = "*"
jupyter = "*"
nbconvert = ">=6.0"
pre-commit = "*"
prettytable = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-github-actions-annotate-failures = "*"
bandit = "*"
ipython-sql = "*"
isort = "*"
mypy = "*"
types-requests = "*"
types-setuptools = "*"
jupyter-client = "==7.3.2"
# tornado = "==6.1"

[packages]
boto3 = "*"
celery = "*"
click = "*"
colour = "*"
contextily = "*"
crispy-bootstrap5 = "*"
dj-static = "*"
django = "~=4.2"
django-app-parameter = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
django-csp = "*"
django-environ = "*"
django-filter = "*"
django-import-export = "*"
django-simple-history = "*"
django-sri = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
docxtpl = "*"
geopandas = "*"
gunicorn = "*"
jenkspy = "*"
mapclassify = "*"
matplotlib = "*"
matplotlib-scalebar = "*"
numpy = "*"
openpyxl = "~=3.0"
pandas = "*"
psycopg2 = "~=2.9"
redis = "~=4.5"
sentry-sdk = "*"
setuptools = "*"
django-redis = "*"
django-clearcache = "*"
