{% extends 'index.html' %}

{% load static %}

{% block pagetitle %}
Mes plans
{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column h-100 w-100 align-items-center justify-content-center">
    <h2 class="mb-5">Mes plans</h2>

    <ul>
        {% for project_name, plans in projects.items %}
        <li>{{ project_name }} :
            <ul>
                {% for plan in plans %}
                <li><a href="{% url 'project:plan-detail' plan.id %}">{{ plan.name }}</a></li>
                {% empty %}
                Vous n'avez pas encore de plan.
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <div>
        <a class="fr-btn mt-5" href="{% url 'project:plan-create' %}" role="button">Ajouter un plan</a>
    </div>
</div>
{% endblock content %}
