{% load crispy_forms_tags %}

<div id="lookalike_form_target">
    <form hx-post="{% url 'project:lookalike' project.id %}" hx-ext="disable-element" hx-disable-element="#add_lookalike" hx-swap="outerHTML" hx-target="#lookalike_form_target">
        {% csrf_token %}
        <div class="input-group">
            <div class="input-group-text"><i class="bi bi-search"></i></div>
            <input type="text" name="keyword" class="form-control" id="id_keyword" value="{{ form.cleaned_data.keyword }}" placeholder="Rechercher un territoire">
            <button id="add_lookalike" type="submit" class="fr-btn">Chercher</button>
        </div>
    </form>

    {% if success_message %}
        <div class="fade-in fr-alert fr-alert--success fr-alert--sm fr-mt-3w" role="alert">
            <h3 class="fr-alert__title">Territoire ajouté avec succès.</h3>
        </div>
    {% endif %}

    {% if results %}
        <div class="fr-mt-3w">
            <h3 class="fr-mb-2w">Résultats</h3>
            {% for result in results %}
                <div class="d-flex justify-content-between fr-mb-1w fr-pb-1w comparison_land_item">
                    <div class="flex-grow-1 fr-mr-2w">
                        <div class="comparison_land_title d-flex justify-content-between">
                            {{ result.name }}
                            <p class="fr-badge custom-badge">{{result.land_type_label}}</p>
                        </div>
                        {% if result.insee %}
                            <div class="comparison_land_details">
                                Code INSEE: {{ result.insee }}
                            </div>
                        {% endif %}
                        {% if result.area == 0 %}
                            <div class="fr-text--sm text-muted"><i class="bi bi-info-circle fr-mr-1w"></i>Données indisponibles: Territoire supprimé en 2024</div>
                        {% endif %}
                    </div>
                    <form hx-post="{% url 'project:lookalike' project.id %}" hx-target="#lookalike_form_target" hx-swap="outerHTML">
                        {% csrf_token %}
                        <input type="hidden" name="add" value="{{ result.public_key }}">
                        <button type="submit" {% if result.area == 0 %}disabled{% endif %} class="fr-btn fr-btn--tertiary fr-btn--sm fr-btn--icon-left fr-icon-add-circle-line" title="Ajouter le territoire {{ result.name }} {% if result.insee %}({{ result.insee }}){% endif %}">
                            Ajouter
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
