{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block pagetitle %}
Nouveau diagnostic
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-12 ">
        <h1>Sélectionner un niveau administratif</h1>
        <div class="d-flex">
            <div class="shadow border rounded-3 m-2 bg-secondary d-flex align-items-center justify-content-center" style="width: 200px; height: 200px; position: relative;">
                <div class="text-center text-white" style="position: relative;">
                    <h1><i class="bi bi-geo-alt" style="width: 50px;"></i></h1>
                    <p><a href="{% url 'project:create-region' %}" class="stretched-link link-light">Une région</a></p>
                </div>
            </div>

            <div class="shadow border rounded-3 m-2 bg-secondary d-flex align-items-center justify-content-center text-white" style="width: 200px; height: 200px">
                <div class="text-center" style="position: relative;">
                    <h2><i class="bi bi-geo-alt" style="width: 50px;"></i></h2>
                    <p><a href="{% url 'project:create-dpt' %}" class="stretched-link link-light">Un département</a></p>
                </div>
            </div>

            <div class="shadow border rounded-3 m-2 bg-secondary d-flex align-items-center justify-content-center text-white" style="width: 200px; height: 200px">
                <div class="text-center" style="position: relative;">
                    <h3><i class="bi bi-geo-alt"></i></h3>
                    <p><a href="#" class="stretched-link link-light">Un EPCI</a></p>
                </div>
            </div>

            <div class="shadow  border rounded-3 m-2 bg-secondary d-flex align-items-center justify-content-center text-white" style="width: 200px; height: 200px">
                <div class="text-center" style="position: relative;">
                    <h3><i class="bi bi-grid-3x3-gap"></i></h3>
                    <p><a href="#" class="stretched-link link-light">Plusieurs communes</a></p>
                </div>
            </div>
        </div>

        <p class="mt-5">Prochainement disponible :</p>
        <div class="border rounded-3 m-2 bg-light d-flex align-items-center justify-content-center text-muted" style="width: 200px; height: 200px">
            <div class="text-center">
                <h3><i class="bi bi-geo-alt"></i></h3>
                <p>Un scot</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
