{% extends "index.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block pagetitle %}
Créer un diagnostic
{% endblock pagetitle %}

{% block headers %}
<style nonce="[NONCE_PLACEHOLDER]">
#results {
    position: absolute;
    width: 100%;
    top: 100%;
    max-height: 200px;
    overflow: auto;
    border-radius: 0 0 .25rem .25rem;
    background: #ffffff;
}

.search-bar-icon {
    border-radius: 0 .25rem 0 0;
    flex: 1 0 auto;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    padding: .5rem;
    white-space: nowrap;
    background: darkblue;
    position: relative;
}

.search-bar-icon span::before {
    background-color: #fff;
}

.search-bar-icon .fr-custom-loader--button {
    color: #fff;
    transform: translate(-50%, -50%);
    top: 50%;
}

.level {
    font-weight: 600;
    background: #EAEAEA;
    padding: 8px 10px;
}

.territory {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: all .1s ease;
}

.territory:hover {
    background-color: #C1C1FB;
    color: darkblue;
    cursor: pointer;
}
</style>
{% endblock headers %}

{% block content %}
<div class="row w-100 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

        <h2 class="my-5">Sélectionnez un territoire à diagnostiquer</h2>

        <div class="fr-search-bar position-relative" id="search-2" role="search">
            <label class="fr-label" for="search-787-input">
                Recherche
            </label>
            <input class="fr-input" placeholder="Saisissez le nom du territoire que vous recherchez" type="search" onkeyup="handleChange(event)" autocomplete="off">
            <div class="search-bar-icon">
                <span id="icon-search" class="fr-icon-search-line" aria-hidden="true"></span>
                <div  id="icon-loader" class="fr-custom-loader--button" aria-hidden="true" hidden></div>
            </div>
            <div id="results" class="fr-card--shadow"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block bodyend %}
<script language="javascript" nonce="[NONCE_PLACEHOLDER]">
    const results = document.getElementById('results')
    const searchInput = document.getElementById('search-territory')
    const iconSearch = document.getElementById('icon-search')
    const iconLoader = document.getElementById('icon-loader')

    const levels = {
        COMM: 'Commune',
        EPCI: 'EPCI',
        SCOT: 'SCOT',
        DEPART: 'Département',
        REGION: 'Région',
    }

    const debounce = (func, timeout = 300) => {
        let timer
        return (...args) => {
            clearTimeout(timer)
            timer = setTimeout(() => { func.apply(this, args) }, timeout)
        }
    }

    const handleChange = debounce((event) => searchTerritory(event.target.value), 300)
    
    const searchTerritory = (value) => {
        if (value.length <= 1) {
            results.innerHTML = ''

            return
        }

        toggleLoader(true)

        fetch('{% url "public_data:search-land" %}', {
            method: 'POST',
            body: JSON.stringify({
                query: value,
            }),
            headers: {
                'X-CSRFToken': '{{csrf_token}}',
                'Content-type': 'application/json; charset=UTF-8',
            },
        })
        .then((response) => {
            return response.json()
        })
        .then((response) => {
            results.innerHTML = Object.keys(response)
            .map((key) => {
                if (response[key].length > 0)
                    return `
                        <div class="level">${levels[key]}</div>
                        ${response[key].map(obj => (
                            `<div class="territory">
                                <div>${obj.name}</div>
                                <div class="text-muted fr-ml-2v">(${obj.source_id})</div>
                            </div>`
                        )).join('')}
                    `
            }).join('')
        })
        .catch((error) => console.log("Erreur : " + error))
        .finally(() => {
            toggleLoader(false)
        })
    }

    const toggleLoader = (value) => {
        iconSearch.hidden = value
        iconLoader.hidden = !value  
    }
</script>
{% endblock bodyend %}
