{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block pagetitle %}
Sélectionner un département
{% endblock %}

{% block content %}
{% localize off %}
<div class="d-flex justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-12">

        <h1 class="mb-5">Sélectionner un{{ feminin }} {{ land_label }}</h1>


        <form method="post">
            {% csrf_token %}
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Mot clé</label>
            <div class="input-group">
                <div class="input-group-text"><i class="bi bi-search"></i></div>
                <input type="text" name="keyword" class="form-control" id="keyword" value="{{ keyword }}">
                <button type="submit" class="btn btn-primary">Chercher</button>
            </div>
        </form>

        <div class="container mt-5">
            {% if object_list %}
                <form method="post">
                    {% csrf_token %}
                    <strong>Cliquez sur un{{ feminin }} {{ land_label }} pour le sélectionner :</strong>
                    <div class="row g-2 row-cols-3 align-items-center mt-3">
                    {% for object in object_list %}
                        <div class="col" height="60">
                            <button type="submit" class="btn btn-outline-primary w-100 overflow-hidden" name="land" value="{{ object.public_key }}">
                                {{ object.name }}
                            </button>
                        </div>
                    {% endfor %}
                    </div>
                </form>
            {% else %}
                <div class="text-muted">Pour commencer renseigner une partie du nom dans le champ de recherche ci-dessus.</div>
            {% endif %}
        </div>

    </div>
</div>
{% endlocalize %}
{% endblock %}
