{% extends "index.html" %}

{% block pagetitle %}Statistiques{% endblock pagetitle %}

<!-- Hide breadcrumbs -->
{% block breadcrumbs %}
{% endblock breadcrumbs %}


{% block content %}
<div class="fr-container fr-pt-5w">
    <iframe
        id="my-iframe"
        src="https://sparte-metabase.osc-secnum-fr1.scalingo.io/public/dashboard/c20cec9f-5e88-4ed7-a4bb-0a08640d138d"
        frameborder="0"
        width="100%"
        marginheight="0"
        marginwidth="0"
    ></iframe>
</div>

<script language="javascript" nonce="{{ CSP_NONCE }}">
    let iframe = document.getElementById("my-iframe");

	iframe.addEventListener('load', function() {
        iframe.style.height = "2300px"
	});	
</script>

{% endblock content %}
