{% extends "index.html" %}

{% block pagetitle %}Construction du diagnostic{% endblock pagetitle %}

{% block content %}

<div class="d-flex justify-content-center mt-5">
    <div class="col-12 col-md-5 col-lg-4">

        <h1 class="mb-5 fw-bold text-center">Votre diagnostic est en cours de préparation</h1>
    
        <div class="fr-custom-loader"></div>

        <div hx-get="{% url 'project:splash-progress' diagnostic.id %}" hx-trigger="load delay:3s" hx-swap="outerHTML"></div>

    </div>
</div>

{% endblock content %}

{% block tagging %}
<script language="javascript" nonce="[NONCE_PLACEHOLDER]">
    window.onload = function() {
        if (typeof gtag !== 'undefined') {
            // Google adwords
            gtag('event', 'conversion', {
                'send_to': 'AW-11157347812/iZaJCM7iz6kYEOS7nsgp',
                'value': 5.0,
            });
        }
    }
</script>
{% endblock tagging %}
