<div class="fr-table fr-table--bordered">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table>
                    <caption>
                        Évolution de l'imperméabilisation par type {{ label_caption }} sur le territoire de {{ start_date }} à {{ end_date }} (en ha et %)
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Type de couverture</th>
                            <th scope="col" class="fr-cell--right">Imperméabilisation (en ha)</th>
                            <th scope="col" class="fr-cell--right text-muted">%</th>
                            <th scope="col" class="fr-cell--right">Désimperméabilisation (en ha)</th>
                            <th scope="col" class="fr-cell--right text-muted">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in sol %}
                        <tr>
                            <th scope="row">{{ item.label }}</th>
                            <td class="fr-cell--right">{{ item.imper|floatformat:1 }}</td>
                            <td class="fr-cell--right text-muted">{{ item.imper_percent|floatformat:1 }}</td>
                            <td class="fr-cell--right">{{ item.desimper|floatformat:1 }}</td>
                            <td class="fr-cell--right text-muted">{{ item.desimper_percent|floatformat:1 }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row">Total</th>
                            <th class="fr-cell--right">{{ total_imper|floatformat:1 }}</th>
                            <th class="fr-cell--right text-muted">100</th>
                            <th class="fr-cell--right">{{ total_desimper|floatformat:1 }}</th>
                            <th class="fr-cell--right text-muted">100</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
