<div class="fr-table fr-table--bordered">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table>
                    <caption>
                        Consommation foncière au regard de l'évolution de la population du territoire et des territoires similaires
                    </caption>
                    <thead>
                        <tr>
                            {% for header in headers %}
                                <th scope="col" class="{% if forloop.first %}fr-text--bold fr-cell--left{% else %}fr-cell--right{% endif %}">
                                    {{ header }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td class="fr-text--bold fr-cell--left">{{ row.land_name }}</td>
                                <td class="fr-cell--right">{{ row.consommation_total }}</td>
                                <td class="fr-cell--right">
                                    {{ row.evolution }}
                                    {% if row.evolution_percent > 0 %}
                                        <span class="fr-badge fr-badge--success fr-badge--sm fr-badge--no-icon fr-ml-1w">
                                            +{{ row.evolution_percent|floatformat:2 }}%
                                            <i class="bi bi-arrow-up-right fr-ml-1w"></i>
                                        </span>
                                    {% elif row.evolution_percent < 0 %}
                                        <span class="fr-badge fr-badge--error fr-badge--sm fr-badge--no-icon fr-ml-1w">
                                            {{ row.evolution_percent|floatformat:2 }}%
                                            <i class="bi bi-arrow-down-right fr-ml-1w"></i>
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="fr-cell--right">{{ row.population_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
