<div class="fr-table fr-table--bordered">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table>
                    <caption>
                        Évolutions comparées de la consommation d'espaces et de la population sur le territoire
                    </caption>
                    <thead>
                        <tr>
                            {% for header in headers %}
                                <th scope="col" class="fr-cell--right">{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td class="fr-cell--right">{{ row.year }}</td>
                                <td class="fr-cell--right">{{ row.total }}</td>
                                <td class="fr-cell--right">{{ row.habitat }}</td>
                                <td class="fr-cell--right">
                                    {{ row.population }}&nbsp;
                                    {% if row.population_calculated %}(estimation){% endif %}
                                    {% if row.evolution > 0 %}
                                        <span class="fr-badge fr-badge--success fr-badge--sm fr-badge--no-icon fr-ml-1w">
                                            +{{ row.evolution }}
                                            <i class="bi bi-arrow-up-right fr-ml-1w"></i>&nbsp;
                                        </span>
                                    {% elif row.evolution < 0 %}
                                        <span class="fr-badge fr-badge--error fr-badge--sm fr-badge--no-icon fr-ml-1w">
                                            -{{ row.evolution }}
                                            <i class="bi bi-arrow-down-right fr-ml-1w"></i>&nbsp;
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
