{% load highcharts_tags %}
{% load project_tags %}


<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
        <div class="border fr-p-2w">
            <div id="usage_artif_sol"></div>
            {% display_chart 'usage_artif_sol' usage_artif_sol CSP_NONCE %}
        </div>
    </div>
    <div class="fr-col-12 fr-col-lg-8">
        <div class="border fr-p-2w">
            <div id="detail_usage_artif_chart"></div>
            {% display_chart 'detail_usage_artif_chart' detail_usage_artif_chart CSP_NONCE %}
        </div>
    </div>
</div>

<div class="fr-notice fr-mt-4w">
    <div class="fr-container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="fr-icon-information-line" aria-hidden="true"></span>
                <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                <p class="fr-tag fr-tag--sm fr-tag--success">
                    <strong>OCS GE</strong>
                </p>
            </div>
            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-usage">Détails données et calcul</button>
        </div>
        <div class="fr-collapse" id="target-data-usage">
            <h6 class="fr-mt-2w">Source</h6>
            {% include "project/components/widgets/source_ocsge.html" %}

            <h6 class="fr-mt-2w">Calcul</h6>
            <p class="fr-text--sm">OCS GE traduite grâce à la matrice de passage.</p>

            <h6 class="fr-mt-2w">Données</h6>
            <p class="fr-text--sm">En hectare (Ha).</p>
            <div class="fr-table fr-table--bordered">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table class="table-last-row-bold">
                                <caption>
                                    Évolution de l'artificialisation par type d'usage sur le territoire de {{ first_millesime }} à {{ last_millesime }} (en ha et %)
                                </caption>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="fr-cell--right">Artificialisation</th>
                                        <th scope="col" class="fr-cell--right text-muted">%</th>
                                        <th scope="col" class="fr-cell--right">Désartificialisation</th>
                                        <th scope="col" class="fr-cell--right text-muted">%</th>
                                        <th scope="col" class="fr-cell--right">Artificialisé en {{ last_millesime }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in detail_usage_artif_table %}
                                    <tr>
                                        <th scope="row" aria-describedby="tooltip-{{ item.code_prefix }}">
                                            {{ item.code_prefix }} {{ item.label }}
                                            <span class="fr-tooltip fr-placement" id="tooltip-{{ item.code_prefix }}" role="tooltip" aria-hidden="true">{{ item.code_prefix }} {{ item.label }}</span>
                                        </th>
                                        <td class="fr-cell--right">{{ item.artif|floatformat:1 }}</td>
                                        <td class="fr-cell--right text-muted">{{ item.artif|percent:detail_total_artif }}</td>
                                        <td class="fr-cell--right">{{ item.renat|floatformat:1 }}</td>
                                        <td class="fr-cell--right text-muted">{{ item.renat|percent:detail_total_renat }}</td>
                                        <td class="fr-cell--right">{{ item.last_millesime|floatformat:1 }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th scope="row">Total</th>
                                        <td class="fr-cell--right">{{ detail_total_artif|floatformat:1 }}</td>
                                        <td class="fr-cell--right text-muted">100%</td>
                                        <td class="fr-cell--right">{{ detail_total_renat|floatformat:1 }}</td>
                                        <td class="fr-cell--right text-muted">100%</td>
                                        <td class="fr-cell--right">{{ detail_total_artif_period|floatformat:1 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
