{% load highcharts_tags %}

<div class="fr-mt-7w">
    <div class="bg-white fr-p-2w">
        <div class="d-flex justify-content-end align-items-center fr-mb-2w">
            {% include "project/components/widgets/chart_buttons.html" with chart="target_2031_chart" %}
        </div>

        <div id="target_2031_chart"></div>
    </div>
</div>

<div class="fr-notice bg-white fr-mt-4w">
    <div class="fr-container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="fr-icon-information-line" aria-hidden="true"></span>
                <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                <p class="fr-tag fr-tag--sm fr-tag--blue">
                    <strong>FICHIERS FONCIERS</strong>
                </p>
            </div>
            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-1">Détails données et calcul</button>
        </div>
        <div class="fr-collapse" id="target-data-1">
            <h6 class="fr-mt-2w">Source</h6>
            <p class="fr-text--sm">Fichiers fonciers du Cerema issus des données MAJIC  (Mise A Jour de l'Information Cadastrale) de la DGFIP (millésime min :  2009, millésime max : 2022)</p>
    
            <h6 class="fr-mt-2w">Calcul</h6>
            <p class="mb-3 fr-text--sm">
                La consommation réelle annuelle et cumulée provient des données du Cerema.
                Elles donnent la consommation d'espaces NAF (Naturels, Agricoles et Forestiers) par année, pour le territoire choisi.
            </p>
            <p class="mb-3 fr-text--sm">
                Cette consommation est calculée avec le dernier millésime disponible des fichiers fonciers.
                A l’occasion de la mise à jour annuelle des données par le CEREMA, des modifications peuvent apparaître sur les années précédentes.
            </p>
            <p class="mb-3 fr-text--sm">
                Le millésime utilisé pour le calcul de la trajectoire nationale de réduction de la consommation d'espaces NAF (Naturels, Agricoles et Forestiers) est celui au 1er janvier 2021
                (chiffres indiqués dans l’encadré bleu dans le tableau de bord du portail national de l’artificialisation des sols).
            </p>
    
            <h6 class="fr-mt-2w">Données</h6>
    
            <div class="fr-table fr-table--bordered">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table>
                                <caption>
                                    Consommation réelle et projettée, annuelle et cumulée (en ha)
                                </caption>
                                <thead>
                                    <tr>
                                        <th scope="col" class="fr-cell--fixed">Millésime</th>
                                        <th scope="col" class="fr-cell--right">Réelle (Ha)</th>
                                        <th scope="col" class="fr-cell--right">Réelle cumulée (Ha)</th>
                                        <th scope="col" class="fr-cell--right">Projection annualisée<br/>de l'objectif 2031 (Ha)</th>
                                        <th scope="col" class="fr-cell--right">Cumulé de la<br/>projection (Ha)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for line in target_2031_chart.get_data_table %}
                                    <tr>
                                        <th scope="row" class="fr-cell--fixed">{{ line.year }}</th>
                                        <td class="fr-cell--right">{{ line.real|floatformat:1 }}</td>
                                        <td class="fr-cell--right">{{ line.added_real|floatformat:1 }}</td>
                                        <td class="fr-cell--right">{{ line.objective|floatformat:1 }}</td>
                                        <td class="fr-cell--right">{{ line.added_objective|floatformat:1 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% display_chart_data 'target_2031_chart' target_2031_chart CSP_NONCE %}
