.navigation-secondary {
  display: flex;
  padding: 0;
  border-bottom: 1px solid #eee
}

.navigation-secondary li {
  list-style: none;
  padding: 1rem;
  border-bottom: 2px solid transparent;
}

.navigation-secondary li:hover, .navigation-secondary li.active {
  border-bottom: 2px solid rgb(0, 0, 145);
  color: rgb(0, 0, 145)
}

.navigation-secondary li a{
  background-image: none;
}
