{% load static %}
{% load highcharts_tags %}
{% load project_tags %}

<div class="fr-notice fr-notice--warning fr-mb-3w">
    <div class="fr-container--fluid fr-p-3w">
        <div class="fr-notice__body">
            <p>
                <span class="fr-notice__title">
                    L’artificialisation présentée ne prend pas encore en compte
                    les seuils et les exceptions du décret du 27 novembre 2023.
                </span>
            </p>
            <p class="fr-mt-1w">
                <span class="fr-notice__desc fr-text--sm">
                    <p class="fr-text--sm mb-3">
                    Nous travaillons actuellement à intégrer la
                    <a rel="noopener noreferrer" target="_blank" href="https://artificialisation.developpement-durable.gouv.fr/mesurer-lartificialisation-avec-locsge/acceder-aux-analyses-realisees-partir-des-donnees-ocsge">
                        méthode de calcul de l'artificialisation proposée par le portail de l'artificialisation
                    </a>
                    </p>
                    <p class="fr-text--sm mb-3">
                    Celle-ci prend en compte les seuils tels que définis par le decret du 27 novembre 2023.
                    Cependant cette méthode ne prend pas encore en compte les exceptions définies par le décret,
                    à savoir : les surfaces végétalisées à usage de parc ou jardin public,
                    quel que soit le type de couvert (boisé ou herbacé) qui pourront être considérées comme étant non artificialisées,
                    et les surfaces végétalisées sur lesquelles seront implantées des installations de panneaux photovoltaïques
                    qui respectent des conditions techniques garantissant qu'elles n'affectent pas durablement les fonctions
                    écologiques du sol ainsi que son potentiel agronomique.
                    </p>
                    <p class="fr-text--sm mb-3">
                    Suite aux évolutions réglementaires de novembre 2023, la méthode de calcul proposée par le portail de
                    l'artificialisation est en version provisoire et donc susceptible d’évoluer en fonction des retours des utilisateurs.
                    Pour toute question ou suggestion, n’hésitez pas à contacter le Cerema directement :
                    <a href="mailto:pole-web@cerema.fr">pole-web@cerema.fr</a>
                    </p>
                </span>
            </p>
        </div>
    </div>
</div>

<div class="fr-mt-5w">
    <h2>Etat des lieux du territoire au dernier millésime</h2>
    <a class="fr-link" href="{{ FAQ_URL }}article/quest-ce-quun-millesime-110ihlr/" target="_blank" rel="noopener noreferrer">
        Qu'est-ce qu'un millésime ?
    </a>

    <div class="fr-mt-7w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4 fr-grid-row">
                <div class="fr-callout bg-white w-100">
                <p class="fr-callout__title">{{ total_surface|floatformat:0 }} ha</p>
                <p>Surface du territoire</p>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-4 fr-grid-row">
                <div class="fr-callout bg-white w-100">
                <p class="fr-callout__title">{{ artif_area|floatformat:0 }} ha</p>
                <p>
                    <span
                        class="dotted"
                        data-toggle="tooltip"
                        title="Surfaces répondant à la définition de la loi Climat et Résilience et à ses décrets d'application en {{ last_millesime }}"
                        aria-hidden="true">
                        Surfaces artificialisées
                    </span> en {{ last_millesime }}
                </p>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-4 fr-grid-row">
                <div class="fr-callout bg-white w-100">
                <p class="fr-callout__title">{{ rate_artif_area|floatformat:0 }}%</p>
                <p>Taux de surfaces artificialisées</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fr-mt-12w">
    <h2>Evolution en volume de {{ first_millesime }} à {{ last_millesime }}</h2>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-3 fr-grid-row">
        <div class="fr-callout bg-white w-100">
          <p class="fr-callout__title">{{ new_artif|floatformat:1 }} ha</p>
          <p>
            <span
                class="dotted"
                data-toggle="tooltip"
                title="Evolution des surfaces non-artificialisées en surface artificialisées."
                aria-hidden="true">
                    Artificialisation
            </span>
            </p>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-3 fr-grid-row">
        <div class="fr-callout bg-white w-100">
          <p class="fr-callout__title">{{ new_natural|floatformat:1 }} ha</p>
          <p>
            <span
                class="dotted"
                data-toggle="tooltip"
                title="Evolution des surfaces artificialisées en surface non-artificialisées"
                aria-hidden="true">
                    Désartificialisation
            </span>
            </p>
        </div>
      </div>
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-3 fr-grid-row">
        <div class="fr-callout bg-white w-100">
          <p class="fr-callout__title">{{ net_artif|floatformat:1 }} ha</p>
          <p>
            <span
                class="dotted"
                data-toggle="tooltip"
                title="Différence entre l'artificialisation et la désartificialisation"
                aria-hidden="true">
                    Artificialisation nette
            </span>
            </p>

        </div>
      </div>
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-3 fr-grid-row">
        <div class="fr-callout bg-white w-100">
          <p class="fr-callout__title">{{ net_artif_rate|floatformat:1 }} %</p>
            <p>
                <span
                    class="dotted"
                    data-toggle="tooltip"
                    title="Rapport entre l'artificialisation nette de {{ first_millesime }} à {{ last_millesime }} et le total des surfaces artificialisées du territoire."
                    aria-hidden="true">
                        Taux d'artificialisation nette
                </span>
            </p>
        </div>
      </div>
    </div>
</div>

<div class="fr-mt-12w">
    <h2>Aperçu de l'artificialisation</h2>

    <h3>Evolution de l'artificialisation entre {{ first_millesime }} et {{ last_millesime }}</h3>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-8">
            <div class="bg-white fr-p-2w h-100">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="chart_waterfall" %}
                </div>
                <div id="chart_waterfall"></div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
            {% url 'project:theme-my-artif' project.pk as dynamic_map_url %}
            {% include "project/components/widgets/static_map.html" with dynamic_map_url=dynamic_map_url static_map=project.theme_map_understand_artif title="Carte comprendre l'artificialisation de son territoire" %}
        </div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-container">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-2">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-2">
                <h6 class="fr-mt-2w">Source</h6>
                <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse traduite grâce à la matrice de passage.</p>

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">Artificialisation sur la période - désartificialisation sur la période.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table class="table-last-row-bold">
                                    <caption>
                                        Évolution de l'artificialisation sur le territoire entre {{ first_millesime }} et {{ last_millesime }} (en ha)
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            {% for period in headers_evolution_artif %}
                                            <th scope="col" class="fr-cell--right">{{ period }} (Ha)</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for serie_name, data in table_evolution_artif.items %}
                                        <tr>
                                            <th scope="row">{{ serie_name }}</th>
                                            {% for period, val in data.items %}
                                            <td class="fr-cell--right">{{ val|floatformat:1 }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if not is_commune %}
<div class="fr-mt-12w">
    <h3 id="conso-annuelle">Artificialisation nette entre {{ first_millesime }} et {{ last_millesime }}</h3>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-8">
            <div class="bg-white fr-p-2w h-100">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    <div class="dropdown custom-dropdown fr-mr-2w">
                        <button class="fr-btn fr-btn--tertiary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill" data-bs-toggle="dropdown" aria-expanded="false">
                            Maille d'analyse
                        </button>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="fr-nav__link" {% if level == "COMM" %} aria-current="true"{% endif %} href="{% url "project:report_artif" project.id %}?level_conso=COMMUNE">Communes</a>
                            </li>
                            {% if land_type in "DEPART_REGION_COMP" %}
                            <li>
                                <a class="fr-nav__link" {% if level == "EPCI" %} aria-current="true"{% endif %} href="{% url "project:report_artif" project.id %}?level_conso=EPCI">EPCI</a>
                            </li>
                            {% endif %}
                            {% if land_type in "REGION_COMP" %}
                            <li>
                                <a class="fr-nav__link" {% if level == "DEPART" %} aria-current="true"{% endif %} href="{% url "project:report_artif" project.id %}?level_conso=DEPART">Départements</a>
                            </li>
                            {% endif %}
                            {% if land_type in "COMP" %}
                            <li>
                                <a class="fr-nav__link" {% if level == "REGION" %} aria-current="true"{% endif %} href="{% url "project:report_artif" project.id %}?level_conso=REGION">Régions</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    {% include "project/components/widgets/chart_buttons.html" with chart="chart_comparison" %}
                </div>
                <div id="chart_comparison"></div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-4">
            {% url 'project:theme-city-artif' project.pk as dynamic_map_url %}
            {% include "project/components/widgets/static_map.html" with dynamic_map_url=dynamic_map_url static_map=project.theme_map_artif title="Carte artificialisation des communes du territoire sur la période (en ha)" %}
        </div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-container">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-1">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-1">
                <h6 class="fr-mt-2w">Source</h6>
                <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse.</p>

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">OCS GE traduite grâce à la matrice de passage.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <caption>
                                        Artificialisation nette sur le territoire entre {{ first_millesime }} et {{ last_millesime }} (en ha)
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col" class="fr-cell--fixed"></th>
                                            <th scope="col" class="fr-cell--right">Surface (en ha)</th>
                                            {% for period in table_artif_net_periods %}
                                                <th scope="col" class="fr-cell--right">Artificialisation ({{ period }})</th>
                                                <th scope="col" class="fr-cell--right">Désartificialisation ({{ period }})</th>
                                                <th scope="col" class="fr-cell--right">Artificialisation nette ({{ period }})</th>
                                            {% endfor %}
                                            <th scope="col" class="fr-cell--right">% d'artificialisation nette total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in table_artif_net_records %}
                                        <tr>
                                            <th scope="row" class="fr-cell--fixed">{{ record.name }}</th>
                                            <td class="fr-cell--right">{{ record.area|floatformat:1 }}</td>
                                            {% for period in record.periods %}
                                            <td class="fr-cell--right">{{ period.new_artif|floatformat:1 }}</td>
                                            <td class="fr-cell--right">{{ period.new_natural|floatformat:1 }}</td>
                                            <td class="fr-cell--right">{{ period.net_artif|floatformat:1 }}</td>
                                            {% endfor %}
                                            <td class="fr-cell--right">{{ record.net_artif_percentage|floatformat:2 }} %</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="fr-mt-7w">
    <h2>Détails de l'artificialisation entre {{ first_millesime }} et {{ last_millesime }}</h2>

    <h3>Grandes familles de couverture des sols des surfaces artificialisées</h3>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-4">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="couv_artif_sol" %}
                    <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#couvArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique"></button>
                </div>
                <div id="couv_artif_sol"></div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-8">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="detail_couv_artif_chart" %}
                    <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#couvArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique"></button>
                </div>
                <div id="detail_couv_artif_chart"></div>
            </div>
        </div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-container">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-couv">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-couv">
                <h6 class="fr-mt-2w">Source</h6>
                <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse (millésime min : {{ project.first_year_ocsge }}, millésime max : {{ project.last_year_ocsge }}).</p>

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">OCS GE traduite grâce à la matrice de passage.</p>

                <h6 class="fr-mt-2w">Exemple de lecture</h6>
                <p class="fr-text--sm">Il y a eu 7.5 ha de nouvelles Zones non bâties représentant 10% de la surface de toutes les nouvelles surfaces artificialisées et 2 ha d'anciennes Zones non bâties désartificialisées représentant 16% de la surface de toutes les zones désartificialisées.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <p class="fr-text--sm">En hectare (Ha).</p>
                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table class="table-last-row-bold">
                                    <caption>
                                        Évolution de l'artificialisation par type de couverture sur le territoire de {{ first_millesime }} à {{ last_millesime }} (en ha et %)
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Type de couverture</th>
                                            <th scope="col" class="fr-cell--right">Artificialisation</th>
                                            <th scope="col" class="fr-cell--right text-muted">%</th>
                                            <th scope="col" class="fr-cell--right">Désartificialisation</th>
                                            <th scope="col" class="fr-cell--right text-muted">%</th>
                                            <th scope="col" class="fr-cell--right">Artificialisé en {{ last_millesime }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for couv in detail_couv_artif_table %}
                                        <tr>
                                            <th scope="row">{{ couv.code_prefix }} {{ couv.label }}</th>
                                            <td class="fr-cell--right">{{ couv.artif|floatformat:1 }}</td>
                                            <td class="fr-cell--right text-muted">{{ couv.artif|percent:detail_total_artif }}</td>
                                            <td class="fr-cell--right">{{ couv.renat|floatformat:1 }}</td>
                                            <td class="fr-cell--right text-muted">{{ couv.renat|percent:detail_total_renat }}</td>
                                            <td class="fr-cell--right">{{ couv.last_millesime|floatformat:1 }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <th scope="row">Total</th>
                                            <td class="fr-cell--right">{{ detail_total_artif|floatformat:1 }}</td>
                                            <td class="fr-cell--right text-muted">100%</td>
                                            <td class="fr-cell--right">{{ detail_total_renat|floatformat:1 }}</td>
                                            <td class="fr-cell--right text-muted">100%</td>
                                            <td class="fr-cell--right">{{ artif_area|floatformat:1 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fr-mt-7w">
    <h3>Grandes familles d'usages du sol des surfaces artificialisées</h3>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-4">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="usage_artif_sol" %}
                    <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#usageArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique"></button>
                </div>
                <div id="usage_artif_sol"></div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-8">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="detail_usage_artif_chart" %}
                    <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#usageArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique"></button>
                </div>
                <div id="detail_usage_artif_chart"></div>
            </div>
        </div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-container">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-usage">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-usage">
                <h6 class="fr-mt-2w">Source</h6>
                <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse (millésime min : {{ project.first_year_ocsge }}, millésime max : {{ project.last_year_ocsge }}).</p>

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">OCS GE traduite grâce à la matrice de passage.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <p class="fr-text--sm">En hectare (Ha).</p>
                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table class="table-last-row-bold">
                                    <caption>
                                        Évolution de l'artificialisation par type d'usage sur le territoire de {{ first_millesime }} à {{ last_millesime }} (en ha et %)
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Type d'usage</th>
                                            <th scope="col" class="fr-cell--right">Artificialisation</th>
                                            <th scope="col" class="fr-cell--right text-muted">%</th>
                                            <th scope="col" class="fr-cell--right">Désartificialisation</th>
                                            <th scope="col" class="fr-cell--right text-muted">%</th>
                                            <th scope="col" class="fr-cell--right">Artificialisé en {{ last_millesime }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in detail_usage_artif_table %}
                                        <tr>
                                            <th scope="row">{{ item.code_prefix }} {{ item.label }}</th>
                                            <td class="fr-cell--right">{{ item.artif|floatformat:1 }}</td>
                                            <td class="fr-cell--right text-muted">{{ item.artif|percent:detail_total_artif }}</td>
                                            <td class="fr-cell--right">{{ item.renat|floatformat:1 }}</td>
                                            <td class="fr-cell--right text-muted">{{ item.renat|percent:detail_total_renat }}</td>
                                            <td class="fr-cell--right">{{ item.last_millesime|floatformat:1 }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <th scope="row">Total</th>
                                            <td class="fr-cell--right">{{ detail_total_artif|floatformat:1 }}</td>
                                            <td class="fr-cell--right text-muted">100%</td>
                                            <td class="fr-cell--right">{{ detail_total_renat|floatformat:1 }}</td>
                                            <td class="fr-cell--right text-muted">100%</td>
                                            <td class="fr-cell--right">{{ artif_area|floatformat:1 }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="couvArtifSol" tabindex="-1" aria-labelledby="couvArtifSolLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 class="fr-modal__title" id="couvArtifSolLabel">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Graphique couverture des sols
                </h1>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-drag-move-2-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez afficher le graphique en plein écran.</p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-download-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez télécharger le graphique sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
                <p class="fr-text--sm">Exemple de lecture: 8% des nouvelles surfaces artificialisées le sont pour des Zones bâties.</p>
                <p class="fr-text--sm">Vous pouvez analyser la répartition des surfaces artificialisées sur la période en pourcentage avec le camembert, ou en volume au dernier millésime avec l'histogramme.</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="usageArtifSol" tabindex="-1" aria-labelledby="usageArtifSolLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 class="fr-modal__title" id="usageArtifSolLabel">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Graphique grandes familles d'usages du sol des surfaces artificialisées
                </h1>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-drag-move-2-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez afficher le graphique en plein écran.</p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-download-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez télécharger le graphique sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
                <p class="fr-text--sm">Exemple de lecture: 55% des nouvelles surfaces artificialisées le sont pour des Zones résidentielles.</p>
                <p class="fr-text--sm">Vous pouvez analyser la répartition des surfaces artificialisées sur la période en pourcentage avec le camembert, ou en volume au dernier millésime avec l'histogramme.</p>
            </div>
        </div>
    </div>
</div>

{% display_chart_data 'detail_couv_artif_chart' detail_couv_artif_chart CSP_NONCE %}
{% display_chart_data 'couv_artif_sol' couv_artif_sol CSP_NONCE %}
{% display_chart_data 'detail_usage_artif_chart' detail_usage_artif_chart CSP_NONCE %}
{% display_chart_data 'usage_artif_sol' usage_artif_sol CSP_NONCE %}
{% display_chart_data 'chart_waterfall' chart_waterfall CSP_NONCE %}
{% if not is_commune %}
    {% display_chart_data 'chart_comparison' chart_comparison CSP_NONCE %}
{% endif %}
