{% load static %}
{% load sri %}

<div
    id="react-consommation-page"
    data-page-data='{
        "statistics": {
            "total_surface": {{ total_surface|default:0 }},
            "conso_period": {{ conso_period|default:0 }},
            "analyse_start_date": "{{ project.analyse_start_date }}",
            "analyse_end_date": "{{ project.analyse_end_date }}"
        },
        "demography": {
            "population_evolution": {{ population_evolution|default:0 }},
            "population_evolution_percent": {{ population_evolution_percent|default:0 }},
            "consommation_total": {{ consommation_total|default:0 }},
            "consommation_total_percent_of_area": {{ consommation_total_percent_of_area|default:0 }}
        },
        "annual_total_conso_chart": {{ annual_total_conso_chart.get_chart_data|safe }},
        "determinant_per_year_chart": {{ determinant_per_year_chart.get_chart_data|safe }},
        "determinant_pie_chart": {{ determinant_pie_chart.get_chart_data|safe }},
        "comparison_chart": {{ comparison_chart.get_chart_data|safe }},
        "surface_proportional_chart": {{ surface_proportional_chart.get_chart_data|safe }},
        "population_density_chart": {{ population_density_chart.get_chart_data|safe }},
        "population_conso_progression_chart": {{ population_conso_progression_chart.get_chart_data|safe }},
        "population_conso_comparison_chart": {{ population_conso_comparison_chart.get_chart_data|safe }},
        "is_commune": {% if is_commune %}true{% else %}false{% endif %},
        "territory_name": "{{ project.territory_name }}",
        {% if not is_commune %}
        "map_url": "{% url 'project:theme-city-conso' project.pk %}"
        {% endif %}
    }'>
</div>
