<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">
                        <a href="#" class="fr-card__link">Rapport complet</a>
                    </h3>
                    <p class="fr-card__desc">
                        Analyse détaillée de l'évolution de la consommation d'espaces NAF et de l'artificialisation des sols sur votre territoire, incluant les indicateurs clés, les tendances observées et les recommandations pour une gestion durable des espaces.
                    </p>
                    <div class="fr-card__end">
                        <p class="fr-card__detail">Télécharger le rapport complet au format Word</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-col-12 fr-col-md-6">
        <div class="fr-card fr-enlarge-link">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <h3 class="fr-card__title">
                        <a href="#" class="fr-card__link">Rapport triennal local</a>
                    </h3>
                    <p class="fr-card__desc">Trame pré-remplie du rapport triennal local de suivi de l'artificialisation des sols de votre territoire réalisée en partenariat avec la DGALN.</p>
                    <div class="fr-card__end">
                        <p class="fr-card__detail">Télécharger le rapport triennal local au format Word</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
