{% load highcharts_tags %}
{% load static %}

<div class="fr-mt-5w">
    <h4>Evolution de l'imperméabilisation entre {{ first_millesime }} et {{ last_millesime }}</h4>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <div class="bg-white fr-p-2w h-100">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="imper_nette_chart" %}
                </div>
                <div id="imper_nette_chart"></div>
            </div>
        </div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-px-2w">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-2">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-2">
                <h6 class="fr-mt-2w">Source</h6>
                <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse traduite grâce à la matrice de passage.</p>

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">Imperméabilisation nette = Imperméabilisation sur la période - Désimperméabilisation sur la période.</p>

                <h6 class="fr-mt-2w">Données</h6>
                {{ imper_nette_data_table }}
            </div>
        </div>
    </div>
</div>


<div class="fr-mt-7w">
    <h3>Détails de l'Imperméabilisation entre {{ first_millesime }} et {{ last_millesime }}</h3>

    <h4>Familles de couverture des sols des surfaces imperméabilisées</h4>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-4">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="imper_repartition_couv_chart" %}
                    <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#couvImperSol" data-toggle="tooltip" title="Astuces pour lire le graphique"></button>
                </div>
                <div id="imper_repartition_couv_chart"></div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-8">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="imper_progression_couv_chart" %}
                    <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#couvImperSol" data-toggle="tooltip" title="Astuces pour lire le graphique"></button>
                </div>
                <div id="imper_progression_couv_chart"></div>
            </div>
        </div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-px-2w">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-couv">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-couv">
                <h6 class="fr-mt-2w">Source</h6>
                <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse (millésime min : {{ project.first_year_ocsge }}, millésime max : {{ project.last_year_ocsge }}).</p>

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">OCS GE traduite grâce à la matrice de passage.</p>

                <h6 class="fr-mt-2w">Exemple de lecture</h6>
                <p class="fr-text--sm">Il y a eu 7.5 ha de nouvelles Zones non bâties représentant 10% de la surface de toutes les nouvelles surfaces imperméabilisées et 2 ha d'anciennes Zones non bâties désimperméabilisée représentant 16% de la surface de toutes les zones désimperméabilisées.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <p class="fr-text--sm">En hectare (ha).</p>
                {{ imper_progression_couv_data_table  }}
            </div>
        </div>
    </div>
</div>

<div class="fr-mt-7w">
    <h4>Grandes familles d'usages du sol des surfaces imperméabilisées</h4>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-4">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="imper_repartition_usage_chart" %}
                    <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#usageImperSol" data-toggle="tooltip" title="Astuces pour lire le graphique"></button>
                </div>
                <div id="imper_repartition_usage_chart"></div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-8">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="imper_progression_usage_chart" %}
                    <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#usageImperSol" data-toggle="tooltip" title="Astuces pour lire le graphique"></button>
                </div>
                <div id="imper_progression_usage_chart"></div>
            </div>
        </div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-px-2w">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-usage">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-usage">
                <h6 class="fr-mt-2w">Source</h6>
                <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse (millésime min : {{ project.first_year_ocsge }}, millésime max : {{ project.last_year_ocsge }}).</p>

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">OCS GE traduite grâce à la matrice de passage.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <p class="fr-text--sm">En hectare (ha).</p>
                {{ imper_progression_usage_data_table  }}
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="couvImperSol" tabindex="-1" aria-labelledby="couvImperSolLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 class="fr-modal__title" id="couvImperSolLabel">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Familles de couverture des sols des surfaces imperméabilisées
                </h1>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-drag-move-2-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez afficher le graphique en plein écran.</p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-download-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez télécharger le graphique sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
                <p class="fr-text--sm">Exemple de lecture: 8% des nouvelles surfaces imperméabilisées le sont pour des Zones bâties.</p>
                <p class="fr-text--sm">Vous pouvez analyser la répartition des surfaces imperméabilisées sur la période en pourcentage avec le camembert, ou en volume au dernier millésime avec l'histogramme.</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="usageImperSol" tabindex="-1" aria-labelledby="usageImperSolLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 class="fr-modal__title" id="usageImperSolLabel">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Graphique grandes familles d'usages du sol des surfaces imperméabilisées
                </h1>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-drag-move-2-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez afficher le graphique en plein écran.</p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-download-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez télécharger le graphique sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
                <p class="fr-text--sm">Exemple de lecture: 55% des nouvelles surfaces imperméabilisées le sont pour des Zones résidentielles.</p>
                <p class="fr-text--sm">Vous pouvez analyser la répartition des surfaces imperméabilisées sur la période en pourcentage avec le camembert, ou en volume au dernier millésime avec l'histogramme.</p>
            </div>
        </div>
    </div>
</div>

{% display_chart_data 'imper_nette_chart' imper_nette_chart CSP_NONCE %}
{% display_chart_data 'imper_progression_couv_chart' imper_progression_couv_chart CSP_NONCE %}
{% display_chart_data 'imper_repartition_couv_chart' imper_repartition_couv_chart CSP_NONCE %}
{% display_chart_data 'imper_progression_usage_chart' imper_progression_usage_chart CSP_NONCE %}
{% display_chart_data 'imper_repartition_usage_chart' imper_repartition_usage_chart CSP_NONCE %}
