{% load highcharts_tags %}
{% load project_tags %}
{% load sri %}

<div class="fr-mt-7w">
    <h2>Couverture du sol</h2>
    <h3>Répartition</h3>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="chart_couv_pie" show_fullscreen=True %}
                </div>
                <div id="chart_couv_pie"></div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="chart_couv_prog" show_fullscreen=True %}
                </div>
                <div id="chart_couv_prog"></div>
            </div>
        </div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-px-2w">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-1">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-1">
                <h6 class="fr-mt-2w">Source</h6>
                {% include "project/components/widgets/source_ocsge.html" %}

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">Données brutes, sans calcul.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <strong class="fr-text--sm">Progression de {{ first_millesime }} à {{ last_millesime }}</strong>
                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <caption>
                                        Évolution de la couverture des sols sur le territoire de {{ first_millesime }} à {{ last_millesime }}
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col" class="fr-cell--fixed">Code</th>
                                            <th scope="col">Libellé</th>
                                            <th scope="col" class="fr-cell--right">Surface {{ first_millesime }} (ha)</th>
                                            <th scope="col" class="fr-cell--right">Evolution (ha)</th>
                                            <th scope="col" class="fr-cell--right">Surface {{ last_millesime }} (ha)</th>
                                            <th scope="col" class="fr-cell--right">Surface {{ last_millesime }} (%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in couv_progression_chart.get_series %}
                                        <tr {% if item.level == 1 %}class="fw-bold"{% endif %}>
                                            <th scope="row" class="fr-cell--fixed">{{ item.level|space }} {{ item.code }}</th>
                                            <td>{{ item.get_label_short }}</td>
                                            <td class="fr-cell--right">{{ item.surface_first|floatformat:1 }}</td>
                                            <td class="fr-cell--right">
                                                {% if item.surface_diff > 0 %}+{% endif %}{{ item.surface_diff|floatformat:1 }}
                                            </td>
                                            <td class="fr-cell--right">{{ item.surface_last|floatformat:1 }}</td>
                                            <td class="fr-cell--right">{{ item.surface_last|percent:surface_territory }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fr-mt-7w">
    <h3>Matrice de passage de {{ first_millesime }} à {{ last_millesime }} :</h3>

    <div class="bg-white fr-p-2w">
        <div class="d-flex justify-content-end align-items-center fr-mb-2w">
            {% include "project/components/widgets/chart_buttons.html" with chart="chart_couv_wheel" show_fullscreen=True %}
        </div>
        <div id="chart_couv_wheel"></div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-px-2w">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="couv-matrice-data">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="couv-matrice-data">
                <h6 class="fr-mt-2w">Source</h6>
                {% include "project/components/widgets/source_ocsge.html" %}

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">Données brutes, sans calcul.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <p class="text-muted fr-text--sm">En hectare (Ha).</p>
                <p class="text-muted fr-text--sm">Les lignes indiquent la couverture {{ first_millesime }} et les colonnes indiquent la couverture {{ last_millesime }}. Par conséquent, à l'intersection se trouve la superficie qui est passée d'une couverture à l'autre.</p>
                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table class="fr-table table-last-row-bold table-last-column-bold">
                                    <caption>
                                        Matrice d'évolution de la couverture des sols sur le territoire de {{ first_millesime }} à {{ last_millesime }} (en ha)
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col" class="fr-cell--fixed"></th>
                                            {% for header in couv_matrix_headers %}
                                            <th scope="col" class="fr-cell--right">
                                                <span class="tooltiped" data-toggle="tooltip" title="{{ header.label }}">
                                                    {{ header.code }}
                                                </span>
                                            </th>
                                            {% endfor %}
                                            <th scope="col" class="fr-cell--right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for name, data in couv_matrix_data.items %}
                                        <tr>
                                            <th scope="row" class="fr-cell--fixed">
                                                {% if name.code %}
                                                <span class="tooltiped" data-toggle="tooltip" title="{{ name.label }}">
                                                    {{ name.code }} {{ name.label_short }}
                                                </span>
                                                {% else %}
                                                    Total
                                                {% endif %}
                                            </th>
                                            {% for title, val in data.items %}
                                                <td class="fr-cell--right">
                                                    <span data-toggle="tooltip" title="Passage de {{ name.code }} à {{ title.code }}">
                                                        {{ val|floatformat:1 }}
                                                    </span>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fr-mt-12w">
    <h2>Usage du sol</h2>
    <h3>Répartition</h3>

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="chart_usa_pie" show_fullscreen=True %}
                </div>
                <div id="chart_usa_pie"></div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-lg-6">
            <div class="bg-white fr-p-2w">
                <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                    {% include "project/components/widgets/chart_buttons.html" with chart="chart_usa_prog" show_fullscreen=True %}
                </div>
                <div id="chart_usa_prog"></div>
            </div>
        </div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-px-2w">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-3">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-3">
                <h6 class="fr-mt-2w">Source</h6>
                {% include "project/components/widgets/source_ocsge.html" %}

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">Données brutes, sans calcul.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <strong class="fr-text--sm">Progression de {{ first_millesime }} à {{ last_millesime }}</strong>
                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <caption>
                                        Évolution de l'usage des sols sur le territoire de {{ first_millesime }} à {{ last_millesime }}
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col" class="fr-cell--fixed">Code</th>
                                            <th scope="col">Libellé</th>
                                            <th scope="col" class="fr-cell--right">Surface {{ first_millesime }} (ha)</th>
                                            <th scope="col" class="fr-cell--right">Evolution (ha)</th>
                                            <th scope="col" class="fr-cell--right">Surface {{ last_millesime }} (ha)</th>
                                            <th scope="col" class="fr-cell--right">Surface {{ last_millesime }} (%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in usa_progression_chart.get_series %}
                                        <tr {% if item.level == 1 %}class="fw-bold"{% endif %}>
                                            <th scope="row" class="fr-cell--fixed">{{ item.level|space }} {{ item.code }}</th>
                                            <td>{{ item.get_label_short }}</td>
                                            <td class="fr-cell--right">{{ item.surface_first|floatformat:1 }}</td>
                                            <td class="fr-cell--right">
                                                {% if item.surface_diff > 0 %}+{% endif %}{{ item.surface_diff|floatformat:1 }}
                                            </td>
                                            <td class="fr-cell--right">{{ item.surface_last|floatformat:1 }}</td>
                                            <td class="fr-cell--right">{{ item.surface_last|percent:surface_territory }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fr-mt-7w">
    <h3>Matrice de passage de {{ first_millesime }} à {{ last_millesime }} :</h3>

    <div class="bg-white fr-p-2w">
        <div class="d-flex justify-content-end align-items-center fr-mb-2w">
            {% include "project/components/widgets/chart_buttons.html" with chart="chart_usa_wheel" show_fullscreen=True %}
        </div>
        <div id="chart_usa_wheel"></div>
    </div>

    <div class="fr-notice bg-white fr-mt-4w">
        <div class="fr-px-2w">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <span class="fr-icon-information-line" aria-hidden="true"></span>
                    <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                    <p class="fr-tag fr-tag--sm fr-tag--success">
                        <strong>OCS GE</strong>
                    </p>
                </div>
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-4">Détails données et calcul</button>
            </div>
            <div class="fr-collapse" id="target-data-4">
                <h6 class="fr-mt-2w">Source</h6>
                {% include "project/components/widgets/source_ocsge.html" %}

                <h6 class="fr-mt-2w">Calcul</h6>
                <p class="fr-text--sm">Artificialisation sur la période - désartificialisation sur la période.</p>

                <h6 class="fr-mt-2w">Données</h6>
                <p class="text-muted fr-text--sm">En hectare (Ha).</p>
                <p class="fr-text--sm">Les lignes indiquent l'usage {{ first_millesime }} et les colonnes indiquent l'usage {{ last_millesime }}. Par conséquent, à l'intersection se trouve la superficie qui est passée d'un usage à l'autre.</p>
                <div class="fr-table fr-table--bordered">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table class="fr-table table-last-row-bold table-last-column-bold">
                                    <caption>
                                        Matrice d'évolution de l'usage des sols sur le territoire de {{ first_millesime }} à {{ last_millesime }} (en ha)
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col" class="fr-cell--fixed"></th>
                                            {% for header in usa_matrix_headers %}
                                            <th scope="col" class="fr-cell--right">
                                                <span class="tooltiped" data-toggle="tooltip" title="{{ header.label }}">
                                                    {{ header.code }}
                                                </span>
                                            </th>
                                            {% endfor %}
                                            <th scope="col" class="fr-cell--right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for name, data in usa_matrix_data.items %}
                                        <tr>
                                            <th scope="row" class="fr-cell--fixed">
                                                {% if name.code %}
                                                <span class="tooltiped" data-toggle="tooltip" title="{{ name.label }}">
                                                    {{ name.code }} {{ name.label_short }}
                                                </span>
                                                {% else %}
                                                    Total
                                                {% endif %}
                                            </th>
                                            {% for title, val in data.items %}
                                                <td class="fr-cell--right">
                                                    <span data-toggle="tooltip" title="Passage de {{ name.code }} à {{ title.code }}">
                                                        {{ val|floatformat:1 }}
                                                    </span>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% display_chart_data 'chart_couv_pie' couv_pie_chart CSP_NONCE %}
{% display_chart_data 'chart_couv_prog' couv_progression_chart CSP_NONCE %}
{% display_chart_data 'chart_usa_pie' usa_pie_chart CSP_NONCE %}
{% display_chart_data 'chart_usa_prog' usa_progression_chart CSP_NONCE %}
{% display_chart_data 'chart_couv_wheel' couv_wheel_chart CSP_NONCE %}
{% display_chart_data 'chart_usa_wheel' usa_whell_chart CSP_NONCE %}
