<div>
  {% if diagnostic.has_unchanged_or_fusionned_consommation_data %}
  <h4>Estimation de la trajectoire 2031</h4>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6 fr-grid-row">
      <div class="fr-callout bg-white w-100">
        <p class="fr-callout__title">+{{ objective_chart.total_2020|floatformat:1 }} ha</p>
        <p>Bilan consommation d'espaces 2011-2020</p>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-6 fr-grid-row">
      <div class="fr-callout bg-white w-100">
        <p class="fr-callout__title">+{{ objective_chart.conso_2031|floatformat:1 }} ha</p>
        <p>Consommation cumulée de la période du 1er jan. 2021 au 31 déc. 2030 (10 ans) avec un objectif non-réglementaire de réduction de {{ diagnostic.target_2031 }}%</p>
      </div>
    </div>
  </div>
  <div class="fr-notice bg-white">
    <div class="fr-px-2w">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <span class="fr-icon-information-line" aria-hidden="true"></span>
          <span class="fr-text--xs fr-mr-1w">Source de données: </span>
          <p class="fr-tag fr-tag--sm fr-tag--blue">
            <strong>FICHIERS FONCIERS</strong>
          </p>
        </div>
        <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-1">Détails données et calcul</button>
      </div>
      <div class="fr-collapse" id="target-data-1">
        <h6 class="fr-mt-2w">Source</h6>
        {% include "project/components/widgets/source_majic.html" %}
        <h6 class="fr-mt-2w">Calcul</h6>
        <p class="fr-text--sm">La Loi Climat & Résilience recommande entre 2021 et 2031 à l'échelle régionale, de diviser par 2 la consommation d'espaces NAF (Naturels, Agricoles et Forestiers) mesurée entre 2011 et 2021 ; le même calcul a été appliqué à l'échelle du territoire comme scénario standard.</p>
      </div>
    </div>
  </div>
  <div class="fr-mt-3w">
    <a class="fr-link" href="{% url 'project:report_target_2031' diagnostic.pk %}">Consulter les trajectoires</a>
  </div>
</div>

<div class="fr-mt-7w">
  <h4>Bilan de la consommation d'espaces</h4>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6 fr-grid-row">
      <div class="fr-callout bg-white w-100">
        <p class="fr-callout__title">+{{ current_conso|floatformat:1 }} ha</p>
        <p>Consommation d'espaces {{ diagnostic.analyse_start_date }}-{{ diagnostic.analyse_end_date }}</p>
      </div>
    </div>
    <div class="fr-col-12 fr-col-md-6 fr-grid-row">
      <div class="fr-callout bg-white w-100">
        <p class="fr-callout__title">+{{ year_avg_conso|floatformat:1 }} ha</p>
        <p>Consommation d'espaces moyenne par an entre {{ diagnostic.analyse_start_date }}-{{ diagnostic.analyse_end_date }}</p>
      </div>
    </div>
  </div>
  <div class="fr-notice bg-white">
    <div class="fr-px-2w">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <span class="fr-icon-information-line" aria-hidden="true"></span>
          <span class="fr-text--xs fr-mr-1w">Source de données: </span>
          <p class="fr-tag fr-tag--sm fr-tag--blue">
            <strong>FICHIERS FONCIERS</strong>
          </p>
        </div>
        <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-2">Détails données et calcul</button>
      </div>
      <div class="fr-collapse" id="target-data-2">
        <h6 class="fr-mt-2w">Source</h6>
        {% include "project/components/widgets/source_majic.html" %}
        <h6 class="fr-mt-2w">Calcul</h6>
        <p class="fr-text--sm">Les données du Cerema donnent la consommation d'espaces NAF (Naturels, Agricoles et Forestiers) par année, par destination et par commune.</p>
      </div>
    </div>
  </div>
  <div class="fr-mt-3w">
    <a class="fr-link" href="{% url 'project:report_conso' diagnostic.pk %}">Consulter le bilan de consommation d'espaces</a>
  </div>
</div>
{% endif %}
</div>

<script language="javascript" nonce="[NONCE_PLACEHOLDER]">
window.onload = function(event) {
  trackEvent('north_star_activation_funnel', 'open_dashboard_synthesis', 'step_2_north_star_activation_funnel')
}
</script>
