{% load static %}

<div class="fr-grid-row fr-grid-row--gutters fr-mt-5w">
    <div class="fr-col-12 fr-col-md-6 fr-grid-row">
        <div class="fr-callout bg-white w-100 fr-p-5w">
            <h4>Période de référence</h4>
            <div class="d-flex fr-mb-1w">
                <p class="fr-callout__title">+<span id="total_real-swapper">{{ target_2031_chart.total_2020|floatformat:1 }}</span> ha</p>
                <p class="fr-tag fr-tag--sm fr-tag--blue fr-ml-2w"><strong>+<span id="annual_real-swapper">{{ target_2031_chart.annual_2020|floatformat:1 }}</span> ha/an</strong></p>
            </div>
            <p class="fr-text--sm">Consommation cumulée de la période du 1er jan. 2011 au 31 déc. 2020 (10 ans)</p>
        </div>
    </div>

    <div class="fr-col-12 fr-col-md-6 fr-grid-row">
        <div class="fr-callout bg-white w-100 fr-p-5w">
            <h4>Projection 2031</h4>
            <div class="d-flex fr-mb-1w">
                <p class="fr-callout__title">+<span id="conso_2031-swapper">{{ conso_2031|floatformat:1 }}</span> ha</p>
                <p class="fr-tag fr-tag--sm fr-tag--blue fr-ml-2w"><strong>+<span id="annual_objective-swapper">{{ annual_objective_2031|floatformat:1 }}</span> ha/an</strong></p>
            </div>
            <p class="fr-text--sm">Consommation cumulée de la période du 1er jan. 2021 au 31 déc. 2030 (10 ans) avec un objectif non-réglementaire de réduction de <span id="objective-swapper">{{ diagnostic.target_2031 }}</span>%</p>
            <p><button id="btn-change-objective" class="fr-btn fr-btn--primary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#setTarget" hx-get="{% url 'project:set-target-2031' project.pk %}" hx-target="#setTargetForm">Personnaliser mon objectif de réduction</button></p>
        </div>
    </div>
</div>

<div id="graphic">
    {% include "project/components/charts/report_target_2031_graphic.html" %}
</div>


<!-- Modal pour personnaliser l'objectif -->
<div class="modal fade" id="setTarget" tabindex="-1" aria-labelledby="setTargetLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 class="fr-modal__title" id="setTargetLabel">
                    Personnaliser mon objectif de réduction à 2031
                </h1>
                <div id="setTargetForm">
                    <div class="fr-custom-loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript" nonce="[NONCE_PLACEHOLDER]">
window.onload = function(event) {
    trackEvent('north_star_activation_funnel', 'open_dashboard_trajectory', 'step_3_north_star_activation_funnel')
}

document.getElementById("btn-change-objective").onclick = function() {
    trackEvent('north_star_activation_funnel', 'click_button_set_target_2031', 'set_target_2031_button_clicked')
}
</script>
