{% load crispy_forms_tags %}

<div class="fr-container fr-mt-3w">
    <div class="d-flex flex-column align-items-center">
        <div class="fr-col-12 fr-col-lg-8">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex fr-mt-4w">
                    <div class="flex-grow-1">
                        <a href="{% url 'project:delete' project.pk %}" class="fr-btn fr-btn--secondary text-danger">
                            Supprimer
                        </a>
                    </div>
                    <div class="fr-mr-2w">
                        <a href="{% url 'project:home' project.pk %}" class="fr-btn fr-btn--secondary">
                            Annuler
                        </a>
                    </div>
                    <div>
                        <button class="fr-btn" type="submit">
                            Mettre à jour
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
