{% load crispy_forms_tags %}

{% include "project/components/layout/breadcrumb.html" %}

{% include "project/components/widgets/overview.html" %}

<div class="fr-container fr-mt-3w">
    <div class="d-flex flex-column align-items-center">
        <div class="fr-col-12 fr-col-lg-8">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex fr-mt-4w">
                    <div class="flex-grow-1">
                        <a href="{% url 'project:delete' project.pk %}" class="fr-btn fr-btn--secondary text-danger">
                            Supprimer
                        </a>
                    </div>
                    <div class="fr-mr-2w">
                        <a href="{% url 'project:detail' project.pk %}" class="fr-btn fr-btn--secondary">
                            Annuler
                        </a>
                    </div>
                    <div>
                        <button class="fr-btn" type="submit">
                            Mettre à jour
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="fr-container fr-my-7w">
    <div class="fr-col-12 fr-col-lg-8 m-auto fr-pt-5w border-top">
        <div class="fw-bold" id="territoires-de-comparaison">
            <a class="float-end" href="{% url 'project:lookalike' project.id %}?next={% url 'project:update' project.id %}&anchor=territoires-de-comparaison">
                <i class="bi bi-plus-circle"></i>
            </a>
            Territoires de comparaison
        </div>
        {% if project.look_a_like %}
            <div class="d-flex flex-column mt-2">
            {% for land in project.get_look_a_like %}
                <div class="w100">
                    {{ land.name }}
                    <a href="{% url 'project:rm-lookalike' project.id land.public_key %}?next={% url 'project:update' project.id %}&anchor=territoires-de-comparaison" class="float-end"><i class="bi bi-trash text-danger"></i></a>
                </div>
            {% endfor %}
            </div>
        {% else %}
        <p class="text-muted">Aucun territoire.</p>
        {% endif %}
    </div>
</div>