{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block pagetitle %}
Ajouter un territoire de comparaison
{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}
<div class="row w-100 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

        <h2 class="my-5">Ajouter un territoire de comparaison
            <a href="{{ next }}#territoires-de-comparaison" class="float-end text-danger"><i class="bi bi-x-circle"></i></a>
        </h2>

        <form action="?next={{ next }}" class="row align-items-center" method="post">
            {% csrf_token %}
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Mot clé</label>
            <div class="input-group">
                <div class="input-group-text"><i class="bi bi-search"></i></div>
                <input type="text" name="keyword" class="form-control" id="id_keyword" value="{{ form.cleaned_data.keyword }}">
                <button type="submit" class="fr-btn ">Chercher</button>
            </div>
        </form>


        <div class="b-1 d-flex flex-column mt-5">
        {% if results %}
            <h3 class="mb-2">Résultats</h3>

            {% for land, data in results.items %}
                {% if data %}
                <div class="card">
                    <h5 class="card-header">
                        {{ land }} <span class="badge bg-primary">{{ data|length }}</span>
                        <a data-bs-toggle="collapse" href="#collapse-{{ land }}" role="button" aria-expanded="false" aria-controls="collapse-{{ land }}" class="float-end">
                            <i class="bi bi-chevron-bar-expand"></i>
                        </a>

                    </h5>
                    <div id="collapse-{{ land }}" class="collapse" aria-labelledby="heading-example">
                        <div class="card-body d-flex flex-column">
                            {% for result in data %}
                                <div>
                                    <a href="?add={{ result.public_key }}&next={{ next }}"><i class="bi bi-plus-circle"></i></a>
                                    {{ result.name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-muted">Renseigner le début du nom du territoire rechercher.</p>
        {% endif %}
        </div>

    </div>
</div>
{% endblock %}
