{% extends 'base_connected.html' %}

{% load static %}
{% load project_tags %}

{% block pagetitle %}
Project detail
{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-100 align-items-center">
        <div>
        <div class="mb-5">
            <h2><a href="{% url 'project:detail' project.pk %}">{{ project.name }}</a></h2>
            {% if project.import_status == "SUCCESS" %}
            <p>
                <a href="{% url 'project:update' project.pk %}"><i data-feather="edit" stroke-width="2" width="16px" color="#0000dd"></i></a>
                <a href="{% url 'project:report' project.pk %}"><i data-feather="pie-chart" stroke-width="2" width="16px" color="#0000dd"></i></a>
                <a href="{% url 'project:map' project.pk %}"><i data-feather="map" stroke-width="2" width="16px" color="#0000dd"></i></a>
            </p>
            {% endif %}
        </div>

        <div class="mt-5">
            {% block detail_content %}
            {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}

{% block bodyend %}
{% endblock %}
