<nav>
  <ul class="navigation-secondary fr-mb-5w">
    <li class="{% if active_page == 'synthesis' %} active {% endif %}"><a href="{% url 'project:report_synthesis' project.pk %}">Synthese</a></li>
    <li class=""><a href="{% url 'project:map' project.pk %}">Carte interactive</a></li>
    <li class="{% if active_page == 'consommation' %} active {% endif %}"><a href="{% url 'project:report_conso' project.pk %}">Consommation</a></li>
    <li class="{% if active_page == 'artificialisation' %} active {% endif %}"><a href="{% url 'project:report_artif' project.pk %}">Artificialisation</a></li>
    <li class="{% if active_page == 'usage' %} active {% endif %}"><a href="{% url 'project:report_usage' project.pk %}">Usage</a></li>
    <li class="{% if active_page == 'couverture' %} active {% endif %}"><a href="{% url 'project:report_couverture' project.pk %}">Couverture</a></li>
  </ul>
</nav>

<!-- <ul class="nav nav-tabs mb-0 mt-3 justify-content-center border-bottom-0">
    <li class="nav-item pb-0">
        <a class="nav-link{% if active_page == 'synthesis' %} active bg-light{% endif %}" href="{% url 'project:report_synthesis' project.pk %}">Synthèse</a>
    </li>
    <li class="nav-item pb-0">
        <a class="nav-link{% if active_page == 'consommation' %} active bg-light{% endif %}" href="{% url 'project:report_conso' project.pk %}">Consommation</a>
    </li>
    <li class="nav-item pb-0">
        <a class="nav-link{% if active_page == 'artificialisation' %} active bg-light{% endif %}" href="{% url 'project:report_artif' project.pk %}">Artificialisation</a>
    </li>
    <li class="nav-item pb-0">
        <a class="nav-link{% if active_page == 'usage' %} active bg-light{% endif %}" href="{% url 'project:report_usage' project.pk %}">Usage</a>
    </li>
    <li class="nav-item pb-0">
        <a class="nav-link{% if active_page == 'couverture' %} active bg-light{% endif %}" href="{% url 'project:report_couverture' project.pk %}">Couverture</a>
    </li>
    <li class="nav-item pb-0">
        <a class="nav-link{% if active_page == 'download' %} active bg-light{% endif %}" href="{% url 'project:report_download' project.pk %}">Bilan téléchargeable</a>
    </li>
</ul> -->
