{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load project_tags %}

{% block pagetitle %}
Project detail
{% endblock %}

{% block headers %}
{{ city_form.media }}
{% endblock %}

{% block content %}
<div class="row w-100 justify-content-center">
    <div class="col-12 col-md-8 col-lg-8">
        <h1 class="my-5">Sélectionnez une emprise territoriale</h1>

        <p>L'emprise indique à l'application quel est le périmètre territorial de votre projet
        d'aménagement. L'application identifie les zones artificialisées depuis 2009 ainsi
        que toutes les zones renaturalisées et construit les
        rapports avec le bilan de l'artificialisation, de la consommation... de votre territoire.</p>

        <p>L'emprise se définit via un fichier Shape. Vous pouvez aussi créer un projet à partir d'un territoire existant (EPCI, commune...) <a href="{% url 'project:create' %}">par ici</a>.</p>

        <p class="fw-bold mt-5">Téléverser un fichier Shape</p>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ shp_form|crispy }}
            <button class="fr-btn mt-4" type="submit">Envoyer</button>
        </form>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% endblock %}
