{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load project_tags %}

{% block pagetitle %}
SPARTE
{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}
<div class="row w-100 justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <h1 class="my-5">{{ project.name }}</h1>

        <p>SPARTE vous propose les fonctionnalités suivantes pour explorer votre projet.</p>

        <p>Vous trouverez les îcones en haut de la page, sous le nom de votre projet.</p>

        <ul>
            <li>
                <a href="{% url 'project:report' project.pk %}" data-toggle="tooltip" title="Rapports" class="me-1">
                    <i class="bi bi-graph-down"></i> <strong>Rapports</strong>
                </a>
                : synthèse des territoires artificialisés, leur destination...
            </li>
            <li>
                <a href="{% url 'project:map' project.pk %}" data-toggle="tooltip" title="Carte intéractive">
                    <i class="bi bi-map"></i> <strong>Carte interactive</strong>
                </a>
                : visiter les zones artificielles et celles renaturées.
            </li>
        </ul>

        <p>
            Plans associés : <a href="{% url 'project:project-plan-create' project.pk %}" class="btn btn-outline-success btn-sm" data-toggle="tooltip" title="Ajouter un plan"><i class="bi bi-plus-square-dotted"></i></a>
            <ul>
                {% for plan in project.plan_set.all %}
                <li><i class="bi bi-bounding-box-circles"></i> <a href="{% url 'project:plan-detail' plan.pk %}">{{ plan.name }}</a></li>
                {% empty %}
                <li>Vide</li>
                {% endfor %}
            </ul>

        </p>
    </div>
</div>
{% endblock %}

{% block sub_bar_actions %}
<li class="nav-item ms-1">
    <a class="btn btn-sm btn-outline-primary" href="{% url 'project:update' project.pk %}">
        <i class="bi bi-pencil"></i> Editer
    </a>
</li>
<li class="nav-item ms-1">
    <a class="btn btn-sm btn-outline-warning" href="{% url 'project:reinit' project.pk %}">
        <i class="bi bi-recycle"></i> Ré-initialiser
    </a>
</li>
<li class="nav-item ms-1">
    <a class="btn btn-sm btn-outline-danger" href="{% url 'project:delete' project.pk %}">
        <i class="bi bi-trash"></i> Supprimer
    </a>
</li>
{% endblock %}

{% block bodyend %}
{% endblock %}
