{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load project_tags %}

{% block pagetitle %}
SPARTE
{% endblock %}

{% block headers %}
<link href="{% static 'project/css/project.css' %}" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class="row w-100 justify-content-center">

    <div class="col-8 bg-light p-3 rounded-5 border mt-1">
        <div class="float-end">
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">Accès public</label>
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
        </div>
        <h1 class="mb-5">{{ project.name }}</h1>

        <div class="row gx-2">
            <div class="col">
                <div class="d-flex flex-column box mt-0 p-4 justify-content-center h-100">
                    <div class="text-center">
                        <a href="{% url 'project:map' project.pk %}" data-toggle="tooltip" title="Carte intéractive">
                            <i class="bi bi-map"></i>
                            <br/><strong>Carte interactive</strong>
                        </a>
                    </div>
                    <div class="mt-2">
                        <ul class="list-unstyled">
                            <li><i class="bi bi-arrow-right-short"></i>Zones artificielles</li>
                            <li><i class="bi bi-arrow-right-short"></i>Zones artificialisées et renaturées sur la période</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column box mt-0 p-4 justify-content-center h-100">
                    <div class="text-center">
                        <a href="{% url 'project:report' project.pk %}" data-toggle="tooltip" title="Rapports" class="me-1">
                            <i class="bi bi-graph-down"></i>
                            <br/><strong>Tableau de bord</strong>
                        </a>
                    </div>
                    <div class="mt-2">
                        <ul class="list-unstyled">
                            <li><i class="bi bi-arrow-right-short"></i>Trajectoire ZAN en 2031 et 2050</li>
                            <li><i class="bi bi-arrow-right-short"></i>Bilan sur la période sélectionnée</li>
                            <li><i class="bi bi-arrow-right-short"></i>Évolution sur la période sélectionnée</li>
                            <li><i class="bi bi-arrow-right-short"></i>Comparaison au territoire supérieur</li>
                            <li><i class="bi bi-arrow-right-short"></i>Déterminants (Habitat, activité...)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column box mt-0 p-4 justify-content-center h-100">
                    <div class="text-center">
                        <a href="{% url 'project:report_download' project.pk %}" data-toggle="tooltip" title="Télécharger le bilan du territoire">
                            <i class="bi bi-download"></i>
                            <br/><strong>Bilan téléchargeable</strong>
                        </a>
                    </div>
                    <div class="mt-2">
                        <ul class="list-unstyled">
                            <li><i class="bi bi-arrow-right-short"></i>synthèse du diagnostic de votre territoire</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row gx-1">
            <div class="col-5 d-flex flex-column">

                <div class="box p-4">
                    <a class="float-end" href="{% url 'project:update' project.pk %}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <span  class="fw-bold">Période d'analyse</span>
                    <p>De {{ project.analyse_start_date }} à {{ project.analyse_end_date }}</p>
                </div>

                <div class="box p-4 mt-1">
                    <span  class="fw-bold">Millésimes OCSGE utilisés</span>
                    <p>Le plus ancien : {{ project.first_year_ocsge|stringformat:"i" }}
                    <br/>Le plus récent : {{ project.last_year_ocsge|stringformat:"i" }}</p>
                </div>

                <div class="box p-4 mt-1">
                    <span  class="fw-bold">Analyses disponibles</span>
                    <br/><i class="bi bi-check-circle text-success"></i> Consomation d'espace
                    <br/>
                    {% if analysis_artif %}
                        <i class="bi bi-check-circle text-success"></i>
                    {% else %}
                        <i class="bi bi-x-circle text-danger"></i>
                    {% endif %}
                    Artificialisation
                </div>

                <div class="box p-4 mt-1 flex-grow-1">
                    <div  class="fw-bold">
                        <a class="float-end" href="{% url 'project:lookalike' project.id %}">
                            <i class="bi bi-plus-circle"></i>
                        </a>
                        Territoires de comparaison
                    </div>
                    {% if project.look_a_like %}
                        <div class="d-flex flex-column mt-2">
                        {% for land in project.get_look_a_like %}
                            <div class="w100">
                                {{ land.name }}
                                <a href="{% url 'project:lookalike' project.id %}?remove={{ land.public_key }}" class="float-end"><i class="bi bi-trash text-danger"></i></a>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                    <p class="text-muted">Aucun territoire.</p>
                    {% endif %}
                </div>

            </div>
            <div class="col-7 d-flex">

                <div class="box p-4 flex-grow-1">
                    <a class="float-end" href="{% url 'project:update' project.pk %}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <span  class="fw-bold">Description</span>
                    {% if project.description %}
                        <p>{{ project.description }}</p>
                    {% else %}
                        <p class="text-muted">Aucune description.</p>
                    {% endif %}
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block sub_bar_actions %}

<li class="nav-item ms-1">
    <a class="btn btn-sm btn-outline-primary" href="{% url 'project:update' project.pk %}">
        <i class="bi bi-pencil"></i> Editer
    </a>
</li>
{% if user.is_authenticated %}
<li class="nav-item ms-1">
    <a class="btn btn-sm btn-outline-warning" href="{% url 'project:reinit' project.pk %}">
        <i class="bi bi-recycle"></i> Ré-initialiser
    </a>
</li>
<li class="nav-item ms-1">
    <a class="btn btn-sm btn-outline-danger" href="{% url 'project:delete' project.pk %}">
        <i class="bi bi-trash"></i> Supprimer
    </a>
</li>
{% endif %}
{% endblock %}

{% block bodyend %}
{% endblock %}
