{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load project_tags %}

{% block pagetitle %}
En cours de traitement
{% endblock %}

{% block headers %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
<div class="d-flex flex-column h-100 w-100 align-items-center justify-content-center">
    <div class="col-12 col-md-4 col-lg-4">
        <h3>En cours de traitement</h3>

        <p>Le fichier Shape contenant l'emprise est en cours de traitement</p>

        <p>Cela ne devrait pas prendre plus d'une minute ou deux, cette page va se rafraîchir toutes les 30 secondes.</p>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% endblock %}
