{% extends 'base_connected.html' %}

{% load static %}
{% load project_tags %}

{% block pagetitle %}
 - nouveau projet
{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-100 align-items-center">
        <div>
        <div class="mb-5">
            <h2>{{ project.name }}</h2>
            <p>
                <a href="{% url 'project:update' project.pk %}"><i data-feather="edit" stroke-width="2" width="16px" color="#0000dd"></i></a>
                <a href="{% url 'project:report' project.pk %}"><i data-feather="pie-chart" stroke-width="2" width="16px" color="#0000dd"></i></a>
                <a href="{% url 'project:map' project.pk %}"><i data-feather="map" stroke-width="2" width="16px" color="#0000dd"></i></a>
            </p>
        </div>

        <div class="mt-5">
            {}
        </div>
    </div>
    </div>
{% endblock %}

{% block bodyend %}
<script src="https://code.highcharts.com/highcharts.js"></script>

<script language="javascript">
Highcharts.chart('chart', {

    title:{
        text:''
    },

    yAxis: {
        title: {
            text: 'Artificialisation (en ha)'
        }
    },

    xAxis: {
    },

    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'top'
    },

    pane: {
        size: 400
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2009
        }
    },

    series: [{% for city in table_artif %}
    {
        name: '{{ city.name }}',
        data: [{% for v in city.items %}{{ v }}, {% endfor %}]
    },
    {% endfor %}],
});
</script>
{% endblock %}
