{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load project_tags %}

{% block pagetitle %}
Home projet
{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column h-100 w-100 align-items-center justify-content-center">
    <div class="text-left">
        <p>SPARTE vous propose les fonctionnalités suivantes pour explorer votre projet.</p>

        <p>Vous trouverez les îcones en haut de la page, sous le nom de votre projet.</p>

        <ul>
            <li>
                <i class="bi bi-graph-down"></i>
                <a href="{% url 'project:report' project.pk %}" data-toggle="tooltip" title="Rapports" class="me-1">
                    <strong>Rapports</strong>
                </a> : synthèse des territoires artificialisés, leur destination...
            </li>
            <li>
                <i class="bi bi-map"></i>
                <a href="{% url 'project:map' project.pk %}" data-toggle="tooltip" title="Carte intéractive">
                    <strong>Carte interactive</strong>
                </a> : visiter les zones artificielles et celles renaturées.
            </li>
        </ul>

        <p>Vous pouvez également réinitialiser l'emprise, voire supprimer le projet :</p>

        <ul>
            <li><i class="bi bi-pencil"></i> <a href="{% url 'project:update' project.pk %}">Editer la description, les dates d'analyse...</a></li>
            <li><i class="bi bi-recycle"></i> <a href="{% url 'project:reinit' project.pk %}">réinitialiser l'emprise</a></li>
            <li><i class="bi bi-trash"></i> <a href="{% url 'project:delete' project.pk %}">Supprimer le projet</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% endblock %}
