{% extends 'index.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load project_tags %}

{% block pagetitle %}
En cours de traitement
{% endblock %}

{% block headers %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
<div class="row w-100 h-100 justify-content-center">
    <div class="col-12 col-md-4 col-lg-4">
        <h1 class="my-5">En cours de traitement</h1>

        <p>Le territoire demandé est en cours de préparation.</p>

        <p>Cela ne devrait pas prendre plus d'une minute ou deux, cette page va se rafraîchir toutes les 30 secondes.</p>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% endblock %}
