{% extends 'index.html' %}

{% load static %}

{% block pagetitle %}
Gradient
{% endblock %}

{% block headers %}
<style nonce="{{ CSP_NONCE }}">
    {% for item in gradients %}
        .item-{{ forloop.counter }} {
            background: {{ item.color }};
            font-weight: bolder;
        }
    {% endfor %}
</style>
{% endblock %}

{% block content %}
<div class="px-4">
    <div class="bg-light rounded-5 border fr-container fr-py-3w">
        <h1>Gradients</h1>

        <div class="w-100 box p-4">
            <h3>SCALE</h3>
            {% for item in gradients %}
            <p class="item-{{ forloop.counter }} py-3">{{ item.value|floatformat:1 }} Ha</p>
            {% endfor %}
        </div>

        <div class="w-100 box p-4">
            <h3>Headers</h3>
            {% for name, value in headers.items %}
            <p>{{ name }} : {{ value }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
