{% extends 'index.html' %}

{% load static %}

{% block pagetitle %}
Mes projets
{% endblock %}


{% block headers %}
<link href="{% static 'project/css/project.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row w-100 h-100 justify-content-center">
    <div class="col-12 col-md-4 col-lg-4">
        <h2 class="my-5">Mes plans d'amménagement</h2>

        <div class="d-flex flex-column">
            {% for project in projects %}
            <div class="row position-relative list-item align-items-center">
                <a href="{% url 'project:detail' project.id %}" class="stretched-link">{{ project.name }}</a>
            </div>
            {% empty %}
            <p class="text-muted">Vous n'avez aucun plan d'aménagement.</p>
            {% endfor %}
        </div>

        <div>
            <a class="btn btn-primary mt-5" href="{% url 'project:add' %}" role="button">Nouveau</a>
        </div>
    </div>
</div>
{% endblock %}
