{% if project %}
    <li class="nav-item me-2">
        <a href="{% url 'project:detail' project.pk %}" class="text-decoration-none" style="font-size:16pt;" class="me-2">
            {{ project.name }}
        </a>
    </li>
    {% comment %}
    {% if project.import_status == "SUCCESS" %}
    <li class="nav-item me-2"><a href="{% url 'project:report' project.pk %}" data-toggle="tooltip" title="Rapports" class="ms-3 me-1"><i class="bi bi-graph-down"></i></a></li>
    <li class="nav-item me-2"><a href="{% url 'project:map' project.pk %}" data-toggle="tooltip" title="Carte intéractive"><i class="bi bi-map"></i></a></li>
    {% endif %}
    {% endcomment %}
{% endif %}
