{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}
{% load sri %}

{% block pagetitle %}
Rapport comparaison
{% endblock %}

{% block headers %}
{% sri_static "project/css/project.css" %}
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/partials/report_title.html" with title=diagnostic surface=diagnostic.area %}

    {% include "project/detail_menu.html" %}

    <div class="fr-container fr-py-3w">
        <div class="fr-callout fr-callout--brown-caramel fr-fi-information-line fr-callout-read-more">
            <div class="fr-callout-read-more__excerpt">
                <p class="fr-text--sm mb-3">Mise en perspective de la consommation d'espaces NAF du territoire avec des données externes (INSEE) et par comparaison avec ses voisins.</p>
            </div>
            <div class="fr-callout-read-more__text" id="conso_relative_1" hidden>
                <p class="fr-text--sm mb-3">Mise en perspective de la consommation d'espaces NAF du territoire avec des données externes (INSEE) et par comparaison avec ses voisins.</p>
            </div>
        
            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-callout-read-more__btn" aria-expanded="false" aria-controls="conso_relative_1">
                Lire plus
            </button>
        </div>
        
        <div class="fr-mt-7w">
            <h3>Consommation d'espace rapportée à la surface du territoire</h3>

            <div id="surface_chart" class="border fr-p-3w fr-pt-5w"></div>

            <div class="fr-callout bg-white fr-p-2w mt-4">
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-1">Données</button>
                <div class="fr-collapse" id="target-data-1">
                    <h6 class="fr-mt-2w">Source</h6>
                    <p>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP, sur la période d'analyse (millésime min : 2009, millésime max : 2021)</p>

                    <h6 class="fr-mt-2w">Calcul</h6>
                    <p>Calcul de l'air après projection <a href="https://epsg.io/2154" target="_blank">EPSG:2154 - Lambert 93</a></p>

                    <h6 class="fr-mt-2w">Données</h6>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">{{ col_name }}</th>
                                <th scope="col" class="text-end">Surface</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in surface_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:0 }} Ha</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="conso_surface_chart" class="border fr-p-3w fr-pt-5w"></div>

            <div class="fr-callout bg-white fr-p-2w mt-4">
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-2">Données</button>
                <div class="fr-collapse" id="target-data-2">
                    <h6 class="fr-mt-2w">Calcul</h6>
                    <p>La consommation de chaque territoire est divisée par sa propre surface puis multiplié par la surface de votre territoire.</p>

                    <h6 class="fr-mt-2w">Données</h6>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">{{ col_name }}</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in conso_surface_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:1 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="fr-mt-12w">
            <div class="fr-grid-row fr-mb-2w">
                <h3 class="fr-col-12 fr-col-lg-8">Consommation d'espaces par nouvel habitant</h3>
                <div class="fr-col-12 fr-col-lg-4">
                    <div class="d-flex justify-content-end align-items-center">
                        <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#pop-astuce" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
                    </div>
                </div>
            </div>

            <p>Mise en perspective de la consommation d'espace avec les données de l'INSEE.</p>

            <div id="pop_chart" class="border fr-p-3w fr-pt-5w"></div>

            <div class="fr-callout bg-white fr-p-2w mt-4">
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-3">Données</button>
                <div class="fr-collapse" id="target-data-3">
                    <h6 class="fr-mt-2w">Source</h6>
                    <p>Recensement de la population (RP) de l'INSEE, sur la période d'analyse (millésime min : 2006, millésime max : 2019)  : <a href="https://www.insee.fr/fr/statistiques/3698339" target="_blank" rel="noreferrer noopener">L'historique des populations communales</a> (colonnes PMUN06 à PMUN19)</p>

                    <h6 class="fr-mt-2w">Données</h6>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">{{ col_name }}</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in pop_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:0 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="conso_pop_chart" class="border fr-p-3w fr-pt-5w"></div>

            <div class="fr-callout bg-white fr-p-2w mt-4">
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-4">Données</button>
                <div class="fr-collapse" id="target-data-4">
                    <h6 class="fr-mt-2w">Sourcce</h6>
                    <ul>
                        <li>Recensement de la population (RP) de l'INSEE, sur la période d'analyse (millésime min : 2006, millésime max : 2019)  : <a href="https://www.insee.fr/fr/statistiques/3698339" target="_blank" rel="noreferrer noopener">L'historique des populations communales</a> (colonnes PMUN06 à PMUN19)</li>
                        <li>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP, sur la période d'analyse (millésime min : 2009, millésime max : 2021) </li>
                    </ul>

                    <h6 class="fr-mt-2w">Calcul</h6>
                    <p>Consommation d'espaces NAF annuelle divisée par l'évolution de la population, par maille d'analyse du territoire de diagnostic.</p>

                    <h6 class="fr-mt-2w">Données</h6>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="text-end">(en Hectares par habitant)</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in conso_pop_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:2 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="fr-mt-12w">
            <div class="fr-grid-row fr-mb-2w">
                <h3 class="fr-col-12 fr-col-lg-8">Consommation d'espaces par ménages</h3>
                <div class="fr-col-12 fr-col-lg-4">
                    <div class="d-flex justify-content-end align-items-center">
                        <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#menage-astuce" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
                    </div>
                </div>
            </div>

            <p>Mise en perspective de la consommation d'espace avec les données de l'INSEE.</p>

            <div id="household_chart" class="border fr-p-3w fr-pt-5w"></div>

            <div class="fr-callout bg-white fr-p-2w mt-4">
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-5">Données</button>
                <div class="fr-collapse" id="target-data-5">
                    <h6 class="fr-mt-2w">Source</h6>
                    <p>Ménages INSEE, sur la période d'analyse (millésimes 2008-2013-2018) : <a href="https://www.insee.fr/fr/statistiques/5395819?sommaire=5395886" target="_blank" rel="noreferrer noopener">Couples-Familles-Ménages en 2018</a> (colonnes C18_MEN, C13_MEN et C08_MEN)</p>

                    <h6 class="fr-mt-2w">Calcul</h6>
                    <p>Les données pour les années manquantes sont obtenues par approximation affine, les décalages liés aux arrondis sont lissés.</p>

                    <h6 class="fr-mt-2w">Données</h6>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">{{ col_name }}</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in household_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:0 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="conso_household_chart" class="border fr-p-3w fr-pt-5w"></div>

            <div class="fr-callout bg-white fr-p-2w mt-4">
                <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-6">Données</button>
                <div class="fr-collapse" id="target-data-6">
                    <h6 class="fr-mt-2w">Sourcce</h6>
                    <ul>
                        <li>Ménages INSEE, sur la période d'analyse (millésimes 2008-2013-2018) : <a href="https://www.insee.fr/fr/statistiques/5395819?sommaire=5395886" target="_blank" rel="noreferrer noopener">Couples-Familles-Ménages en 2018</a> (colonnes C18_MEN, C13_MEN et C08_MEN)</li>
                        <li>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP, sur la période d'analyse (millésime min : 2009, millésime max : 2021)</li>
                    </ul>

                    <h6 class="fr-mt-2w">Calcul</h6>
                    <p>Consommation d'espaces NAF annuelle divisée par l'évolution des ménages, par maille d'analyse du territoire de diagnostic.</p>

                    <h6 class="fr-mt-2w">Données</h6>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="text-end">(en Hectares par ménage)</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in conso_household_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:2 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pop-astuce" tabindex="-1" aria-labelledby="pop-astuce-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 id="fr-modal-2-title" class="fr-modal__title" id="pop-astuce-label">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Consommation d'espaces par nouvel habitant
                </h1>
                <p class="fr-text--sm">Analyser la sobriété foncière en comparant le volume d'ha consommé par habitant. Si un territoire est négatif, il a consommé alors qu'il a perdu de la population.</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="menage-astuce" tabindex="-1" aria-labelledby="menage-astuce-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 id="fr-modal-2-title" class="fr-modal__title" id="menage-astuce-label">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Comparaison d'espace des ménages
                </h1>
                <p>L'évolution des ménages permet d'analyser plus finement la dynamique du territoire, plus révélatrice des tendances en besoin d'urbanisation.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bodyend %}
{% localize off %}
{% sri_static "highcharts/js/highcharts.js" %}
{% sri_static "highcharts/js/exporting.js" %}
{% french_translation %}
{% display_chart 'pop_chart' pop_chart CSP_NONCE %}
{% display_chart 'conso_pop_chart' conso_pop_chart CSP_NONCE %}
{% display_chart 'household_chart' household_chart CSP_NONCE %}
{% display_chart 'conso_household_chart' conso_household_chart CSP_NONCE %}
{% display_chart 'surface_chart' surface_chart CSP_NONCE %}
{% display_chart 'conso_surface_chart' conso_surface_chart CSP_NONCE %}
{% endlocalize %}
{% endblock %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', 'Consommation relative'])
})
</script>
{% endblock tagging %}
