{% extends 'project/base_detail.html' %}

{% load static %}
{% load project_tags %}

{% block pagetitle %}
Rapport artificialisation
{% endblock %}

{% block headers %}
{% endblock %}

{% block detail_content %}
    <ul class="nav nav-tabs mb-5 mt-0">
        <li class="nav-item">
            <a class="nav-link active" href="#">Artificialisation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'project:report' project.pk %}">Consommation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Graphique 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Autre</a>
        </li>
    </ul>




    <div class="w-100 mt-5">
        <div id="chart" class="flex-fill"></div>
    </div>
    <div class="mt-5">
        <h3>Artificialisation :</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Surface</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data_covers %}
                <tr>
                    <th scope="row">{{ data.code }}</th>
                    <td>{{ data.label }}</td>
                    <td>{{ data.total_surface|hectar }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block bodyend %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script language="javascript">
points = [
    {% for data in data_covers %}
    {
        id: "{{ data.code }}",
        {% if data.parent %}
        parent: "{{ data.parent.code }}",
        {% endif %}
        name: "CS{{ data.code }} {{ data.label }}",
        value: {{ data.total_surface }},
    },
    {% endfor %}
]

index_color = 0
for(i=0; i<points.length; i++){
    if (Object.hasOwnProperty.call(points[i], "parent"))
    {
        points[i].color = Highcharts.getOptions().colors[index_color]
        index_color++
    }
}

Highcharts.chart('chart', {
    series: [{
        type: 'treemap',
        layoutAlgorithm: 'squarified',
        allowDrillToNode: true,
        animationLimit: 1000,
        dataLabels: {
            enabled: true
        },
        levels: [{
            level: 1,
            dataLabels: {
                enabled: true
            },
            borderWidth: 3,
            levelIsConstant: false
        }, {
            level: 1,
            dataLabels: {
                style: {
                    fontSize: '14px'
                }
            }
        }],
        data: points
    }],
    subtitle: {
        text: 'Cliquer pour drill down'
    },
    title: {
        text: 'Répartition de la surface du territoire en fonction de la couverture.'
    }
});
</script>
{% endblock %}
