{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}
{% load sri %}

{% block pagetitle %}
Rapport comparaison
{% endblock %}

{% block headers %}
{% sri_static "project/css/project.css" %}
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light rounded-5 border fr-container fr-py-3w">

        <a href="{% url 'project:report_conso' project.pk %}" class="text-decoration-none"><i class="bi bi-arrow-left" aria-hidden="true"></i> Retour au rapport "Consommation"</a>

        <div class="box box-alert px-4 py-2 mb-4">
            <p class="mt-3">Mise en perspective de la consommation d'espaces NAF du territoire avec des données externes (INSEE) et par comparaison avec ses voisins.</p>
        </div>

        <div class="w-100 box p-4">
            <h3>
                Consommation d'espace rapportée à la surface du territoire
            </h3>

            <div id="surface_chart"></div>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#surface-data" aria-expanded="false" aria-controls="surface-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="surface-data">
                <div>
                    <h4 class="pt-3">Source</h4>
                    <p>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP, sur la période d'analyse (millésime min : 2009, millésime max : 2020)</p>
                </div>
                <div>
                    <h4>Calcul</h4>
                    <p>Calcul de l'air après projection <a href="https://epsg.io/2154" target="_blank">EPSG:2154 - Lambert 93</a></p>
                </div>
                <div>
                    <h4>Données</h4>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">{{ col_name }}</th>
                                <th scope="col" class="text-end">Surface</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in surface_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:0 }} Ha</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="conso_surface_chart" class="mt-5"></div>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#surface-comparison-data" aria-expanded="false" aria-controls="surface-comparison-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="surface-comparison-data">
                <div>
                    <h4>Calcul</h4>
                    <p>La consommation de chaque territoire est divisée par sa propre surface puis multiplié par la surface de votre territoire.</p>
                </div>
                <div>
                    <h4>Données</h4>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">{{ col_name }}</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in conso_surface_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:1 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="w-100 box p-4">
            <h3>
                <div class="float-end">
                    <div class="fr-btns-group fr-btns-group--inline">
                        <button type="button" class="fr-btn fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#pop-astuce" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>
                Consommation d'espaces par nouvel habitant
            </h3>

            <p>Mise en perspective de la consommation d'espace avec les données de l'INSEE.</p>

            <div id="pop_chart"></div>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#pop-data" aria-expanded="false" aria-controls="pop-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="pop-data">
                <div>
                    <h4 class="pt-3">Source</h4>
                    <p>Recensement de la population (RP) de l'INSEE, sur la période d'analyse (millésime min : 2006, millésime max : 2019)  : <a href="https://www.insee.fr/fr/statistiques/3698339" target="_blank" rel="noreferrer noopener">L'historique des populations communales</a> (colonnes PMUN06 à PMUN19)</p>
                </div>
                <div>
                    <h4>Données</h4>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">{{ col_name }}</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in pop_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:0 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="conso_pop_chart" class="mt-5"></div>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#pop-comparison-data" aria-expanded="false" aria-controls="pop-comparison-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="pop-comparison-data">
                <div>
                    <h4 class="pt-3">Source</h4>
                    <ul>
                        <li>Recensement de la population (RP) de l'INSEE, sur la période d'analyse (millésime min : 2006, millésime max : 2019)  : <a href="https://www.insee.fr/fr/statistiques/3698339" target="_blank" rel="noreferrer noopener">L'historique des populations communales</a> (colonnes PMUN06 à PMUN19)</li>
                        <li>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP, sur la période d'analyse (millésime min : 2009, millésime max : 2020) </li>
                    </ul>
                </div>
                <div>
                    <h4>Calcul</h4>
                    <p>Consommation d'espaces NAF annuelle divisée par l'évolution de la population, par maille d'analyse du territoire de diagnostic.</p>
                </div>
                <div>
                    <h4>Données</h4>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="text-end">(en Hectares par habitant)</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in conso_pop_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:2 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>


        <div class="w-100 box p-4">
            <h3>
                <div class="float-end">
                    <div class="fr-btns-group fr-btns-group--inline">
                        <button type="button" class="fr-btn fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#menage-astuce" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>
                Consommation d'espaces par ménages
            </h3>

            <p>Mise en perspective de la consommation d'espace avec les données de l'INSEE.</p>

            <div id="household_chart"></div>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#men-comparison-data" aria-expanded="false" aria-controls="men-comparison-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="men-comparison-data">
                <div>
                    <h4 class="pt-3">Source</h4>
                    <p>Ménages INSEE, sur la période d'analyse (millésimes 2008-2013-2018) : <a href="https://www.insee.fr/fr/statistiques/5395819?sommaire=5395886" target="_blank" rel="noreferrer noopener">Couples-Familles-Ménages en 2018</a> (colonnes C18_MEN, C13_MEN et C08_MEN)</p>
                </div>
                <div>
                    <h4>Calcul</h4>
                    <p>Les données pour les années manquantes sont obtenues par approximation affine, les décalages liés aux arrondis sont lissés.</p>
                </div>
                <div>
                    <h4>Données</h4>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">{{ col_name }}</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in household_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:0 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="conso_household_chart" class="mt-5"></div>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#men-data" aria-expanded="false" aria-controls="men-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="men-data">
                <div>
                    <h4 class="pt-3">Source</h4>
                    <ul>
                        <li>Ménages INSEE, sur la période d'analyse (millésimes 2008-2013-2018) : <a href="https://www.insee.fr/fr/statistiques/5395819?sommaire=5395886" target="_blank" rel="noreferrer noopener">Couples-Familles-Ménages en 2018</a> (colonnes C18_MEN, C13_MEN et C08_MEN)</li>
                        <li>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP, sur la période d'analyse (millésime min : 2009, millésime max : 2020)</li>
                    </ul>
                </div>
                <div>
                    <h4>Calcul</h4>
                    <p>Consommation d'espaces NAF annuelle divisée par l'évolution des ménages, par maille d'analyse du territoire de diagnostic.</p>
                </div>
                <div>
                    <h4>Données</h4>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" class="text-end">(en Hectares par ménage)</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in conso_household_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">{{ val|floatformat:2 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="pop-astuce" tabindex="-1" aria-labelledby="pop-astuce-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="pop-astuce-label">Astuces - Consommation d'espaces par nouvel habitant</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Analyser la sobriété foncière en comparant le volume d'ha consommé par habitant. Si un territoire est négatif, il a consommé alors qu'il a perdu de la population.</p>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="menage-astuce" tabindex="-1" aria-labelledby="menage-astuce-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="menage-astuce-label">Astuces - Comparaison d'espace des ménages</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>L'évolution des ménages permet d'analyser plus finement la dynamique du territoire, plus révélatrice des tendances en besoin d'urbanisation.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bodyend %}
{% localize off %}
{% sri_static "highcharts/js/highcharts.js" %}
{% sri_static "highcharts/js/exporting.js" %}
{% french_translation %}
{% display_chart 'pop_chart' pop_chart CSP_NONCE %}
{% display_chart 'conso_pop_chart' conso_pop_chart CSP_NONCE %}
{% display_chart 'household_chart' household_chart CSP_NONCE %}
{% display_chart 'conso_household_chart' conso_household_chart CSP_NONCE %}
{% display_chart 'surface_chart' surface_chart CSP_NONCE %}
{% display_chart 'conso_surface_chart' conso_surface_chart CSP_NONCE %}
{% endlocalize %}
{% endblock %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', 'Consommation relative'])
})
</script>
{% endblock tagging %}
