{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}
{% load sri %}

{% block pagetitle %}
Rapport consommation
{% endblock %}

{% block headers %}
{% sri_static "project/css/project.css" %}
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light rounded-5 border fr-container fr-py-3w">

        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            <p>Pour la mesure de la consommation des espaces NAF, l'Etat utilise les fichiers fonciers.</p>

            <p>Ces données sont fournies tous les ans depuis 2009. Le dernier millésime de 2021 est la photographie du territoire au 1er janvier 2021, intégrant les évolutions réalisées au cours de l'année 2020.</p>

            <p>Les données de l'INSEE sont également intégrées pour mettre en perspective la consommation d'espace vis à vis de l'évolution de la population et bientôt l'emploi.</p>

            <p class="mb-0">Sommaire de la page</p>

            <ul class="mt-0">
                <li><a href="#conso-annuelle">consommation annuelle du territoire : graphique et chiffres</a>,</li>
                <li><a href="#determinants-conso">déterminants de sa consommation d'espace : graphiques et chiffres</a>,</li>
                <li><a href="#territoires-de-comparaison">comparaison du territoire avec les territoires voisins</a>,</li>
                <li><a href="{% url 'project:report_conso_relative' project.id %}">comparaisons pondérées avec les données de l'INSEE (démographie, ménages...)</a></li>
            </ul>

            <p class="mt-5"><a href="https://artificialisation.developpement-durable.gouv.fr/bases-donnees/les-fichiers-fonciers" target="_blank" id="cerema-link">Plus d'informations sur les fichiers fonciers (source : Cerema)</a></p>
        </div>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-6">
            <div class="fr-callout">
                <p class="fr-callout__title">{{ total_surface|floatformat:0 }} ha</p>
                <p>Surface du territoire</p>
            </div>
            </div>

            <div class="fr-col-12 fr-col-md-6">
            <div class="fr-callout">
                <p class="fr-callout__title">+{{ project_scope.consummed|floatformat:1 }} ha</p>
                <p>Consommation {{ project.analyse_start_date }} à {{ project.analyse_end_date }}</p>
            </div>
            </div>
        </div>

        <div class="w-100 box p-4">
            <h3 class="clearfix" id="conso-annuelle">
                <div class="float-end">
                    <div class="fr-btns-group fr-btns-group--inline">
                        <div class="dropdown me-2">
                            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Maille d'analyse
                            </button>
                            <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item {% if level == "COMM" %}active{% endif %}" href="{% url "project:report_conso" project.id %}?level_conso=COMMUNE">Communes</a></li>
                                {% if land_type in "DEPART_REGION_COMP" %}
                                <li><a class="dropdown-item {% if level == "EPCI" %}active{% endif %}" href="{% url "project:report_conso" project.id %}?level_conso=EPCI">EPCI</a></li>
                                {% endif %}
                                {% if land_type in "REGION_COMP" %}
                                <li><a class="dropdown-item {% if level == "DEPART" %}active{% endif %} " href="{% url "project:report_conso" project.id %}?level_conso=DEPART">Départements</a></li>
                                {% endif %}
                                {% if land_type in "COMP" %}
                                <li><a class="dropdown-item {% if level == "REGION" %}active{% endif %}" href="{% url "project:report_conso" project.id %}?level_conso=REGION">Régions</a></li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="dropdown">
                            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Sélection
                            </button>
                            <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton1">
                                <li><a id="check" class="dropdown-item" href="#" chart_target="chart">Tout</a></li>
                                <li><a id="uncheck" class="dropdown-item" href="#" chart_target="chart">Aucun</a></li>
                                <li><a id="reverse" class="dropdown-item" href="#" chart_target="chart">Inverser</a></li>
                                <li><h6 class="dropdown-header">Zoom sur un groupe de villes</h6></li>
                                {% for name in groups_names %}
                                    <li><a class="dropdown-item" href="{% url 'project:report_city_group' project.id %}?group_name={{ name }}">{{ name }}</a></li>
                                {% endfor %}
                                <li><a class="dropdown-item" href="{% url 'project:report_city_group' project.id %}">Tous</a></li>
                            </ul>
                        </div>

                        <button type="button" class="fr-btn fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#consoAnnuelle" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>
                Consommation annuelle des {% if level == "COMM" %}communes{% elif level == "EPCI" %}communes{% elif level == "DEPT" %}EPCI{% else %}départements{% endif %} du territoire
            </h3>

            <div id="chart" class="flex-fill mb-5"></div>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#conso-annuel-data" aria-expanded="false" aria-controls="conso-annuel-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="conso-annuel-data">
                <div>
                    <h4 class="pt-3">Source</h4>
                    <p>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP, sur la période d'analyse (millésime min : 2009, millésime max : 2020)</p>
                </div>
                <div>
                    <h4>Calcul</h4>
                    <p>Consommation d'espaces NAF par année, par maille d'analyse du territoire de diagnostic</p>
                </div>
                <div>
                    <h4>Données</h4>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">{{ col_name }}</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city_name, data in communes_data_table.items %}
                            <tr>
                                <th scope="row">{{ city_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">+{{ val|floatformat:1 }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="w-100 box p-4">
            <h3 id="territoires-de-comparaison">
                <div class="float-end">
                    <div class="fr-btns-group fr-btns-group--inline">
                        <a class="fr-btn fr-btn--tertiary fr-btn--sm" href="{% url 'project:lookalike' project.id %}?from=conso_report" data-toggle="tooltip" title="Ajouter un territoire de comparaison" aria-hidden="true">
                            <i class="bi bi-plus-circle"></i>
                        </a>
                        <button type="button" class="fr-btn fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#comparaisonVoisin" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>


                Comparaison avec les territoires voisins
            </h3>
            <div id="chart_2" class="flex-fill"></div>
            <p class="mt-5">
                <a href="{% url 'project:report_conso_relative' project.id %}">
                    <strong>Voir aussi :</strong> toutes les comparaisons disponibles
                </a>
            </p>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#comparison-data" aria-expanded="false" aria-controls="comparison-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="comparison-data">
                <div>
                    <h4 class="pt-3">Source</h4>
                    <p>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP, sur la période d'analyse (millésime min : 2009, millésime max : 2020).</p>
                </div>
                <div>
                    <h4>Calcul</h4>
                    <p>Consommation d'espaces NAF par année, par maille d'analyse du territoire de diagnostic.</p>
                </div>
            </div>
        </div>


        <div class="w-100 box p-4">

            <h3 id="determinants-conso">
                <div class="float-end">
                    <div class="fr-btns-group fr-btns-group--inline">
                        <button type="button" class="fr-btn fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#determinantModal" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true">
                            <i class="bi bi-question-circle"></i>
                        </button>
                    </div>
                </div>

                Déterminants de la consommation
            </h3>



            <div class="row mb-5">
                <div class="col-4 border-end">
                    <div id="pie_determinant"></div>
                </div>
                <div class="col-8">
                    <div id="chart_determinant"></div>
                </div>
            </div>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#determinants-data" aria-expanded="false" aria-controls="determinants-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="determinants-data">
                <div>
                    <h4 class="pt-3">Source</h4>
                    <p>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP, sur la période d'analyse (millésime min : 2009, millésime max : 2020).</p>
                </div>
                <div>
                    <h4>Calcul</h4>
                    <p>Déterminants de la consommation d'espaces NAF, par année.</p>
                </div>
                <div>
                    <h4>Données</h4>
                    <table class="table table-striped table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Déterminant</th>
                                {% for year in project.years %}
                                <th scope="col" class="text-end">{{ year }}</th>
                                {% endfor %}
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for determinant_name, data in data_determinant.items %}
                            <tr>
                                <th scope="row">{{ determinant_name }}</th>
                                {% for year, val in data.items %}
                                <td align="right">+{{ val|floatformat:1 }}</td>
                                {% endfor %}
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="consoAnnuelle" tabindex="-1" aria-labelledby="consoAnnuelleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="consoAnnuelleLabel">Astuces - Consommation annuelle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Pour réduire le nombre de territoires visibles dans le graphique, vous pouvez en masquer certains en cliquant sur eux dans la légende. Cliquez de nouveau dessus pour les ré-afficher.</p>
                <p>Avec le bouton <i class="bi bi-list"></i>, vous pouvez afficher le graphique en pleine page ou le télécharger sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
                <p>Avec le bouton sélection, vous pouvez tous les masquer d'un coup. Utile quand le nombre de territoire est important et que vous souhaitez n'en afficher que 2 ou 3.</p>
                <p>Avec le bouton sélection, vous pouvez aussi inverser la sélectionn. Tous les visibles seront masqués et tous les invisibles seront affichés.</p>
                <p>Le bouton maille d'analyse permet de changer le type de territoire afficher. Si vous analyser un département, vous pouvez afficher les communes à la place des EPCI (attention, la lisibilité du graphique devient médiocre lorsqu'on affiche trop de territoires simultanéments).</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="comparaisonVoisin" tabindex="-1" aria-labelledby="comparaisonVoisinLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="comparaisonVoisinLabel">Astuces - Comparaison avec les voisins</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>La comparaison avec les voisins permet d'appréhender les dynamiques globales brutes de consommation d'espaces NAF et de les comparer entre elles.</p>
                <p>Pour réduire le nombre de territoires visibles dans le graphique, vous pouvez en masquer certains en cliquant sur eux dans la légende. Cliquez de nouveau dessus pour les ré-afficher.</p>
                <p>Avec le bouton <i class="bi bi-list"></i>, vous pouvez afficher le graphique en pleine page ou le télécharger sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
                <p>Avec le bouton <i class="bi bi-plus-circle"></i>, vous pouvez ajouter un territoire à ce graphique (voisin ou non).</p>
                <p>Juste en dessous du graphique, un lien vous permet d'accéder à un rapport de comparaison avancé où nous croisons la consommation avec la population, le nombre de ménages, la surface...).</p>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="determinantModal" tabindex="-1" aria-labelledby="determinantLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="determinantLabel">Astuces - Comparaison avec les voisins</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Le camembert permet d'identifier via les pourcentages la répartition des déterminants (habitat, activité, mixte) sur la période de la consommation d'espaces NAF. Le graphique met en perspective la répartition en ha des déterminants au fil des années.</p>
                <p>Pour zoomer sur un déterminant en particulier, vous pouvez masquer les autres en cliquant sur eux dans la légende. Cliquez de nouveau dessus pour les ré-afficher.</p>
                <p>Avec le bouton <i class="bi bi-list"></i>, vous pouvez afficher le graphique en pleine page ou le télécharger sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block bodyend %}
{% localize off %}
{% sri_static "highcharts/js/highcharts.js" %}
{% sri_static "highcharts/js/exporting.js" %}
{% french_translation %}
{% display_chart 'chart' commune_chart CSP_NONCE %}
{% display_chart 'chart_2' comparison_chart CSP_NONCE %}
{% display_chart 'chart_determinant' determinant_per_year_chart CSP_NONCE %}
{% display_chart 'pie_determinant' determinant_pie_chart CSP_NONCE %}

<script language="javascript" nonce="{{ CSP_NONCE }}">
///////////////////////////////
// Select / unselect all
///////////////////////////////

$('#check').click(function(){
    let div_id = $(this).attr('chart_target');
    let chart = $("#" + div_id).highcharts();
    $(chart.series).each(function(){
        this.setVisible(true, false)
    })
    chart.redraw()
})

$('#uncheck').click(function(){
    let div_id = $(this).attr('chart_target')
    let chart = $("#" + div_id).highcharts()
    //chart.series.forEach(serie => serie.hide())
    $(chart.series).each(function(){
        this.setVisible(false, false)
    })
    chart.redraw()
})

$('#reverse').click(function(){
    let div_id = $(this).attr('chart_target');
    let chart = $("#" + div_id).highcharts();
    $(chart.series).each(function(){
        if (this.visible){
            this.setVisible(false, false)
        }else{
            this.setVisible(true, false)
        }
    })
    chart.redraw()
})

$('#conso_territory_reltive').change(function() {
    url = '{% url "project:report_conso" project.id %}?relative=' + this.checked
    url = url + '#territoires-de-comparaison'
    window.location.replace(url)
})
</script>
{% endlocalize %}
{% endblock %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', 'Consommation'])
})

var fired = false
$( window ).scroll(function() {
    if(fired == false && $( window ).scrollTop() + $( window ).height() > $( "#block-content" ).height() - 100) {
        _paq.push(['trackEvent', 'Consultation diagnostic', 'Fin tableau de bord', 'Consommation'])
        fired = true
    }
})

$( "#cerema-link" ).click(function() {
    _paq.push(['trackEvent', 'Liens sortants', 'Site du Cérema', 'Depuis rapport conso'])
})
</script>
{% endblock tagging %}
