{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Synthèse
{% endblock %}

{% block headers %}
{% sri_static "project/css/project.css" %}
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light rounded-5 border fr-container fr-py-3w">

        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            <p>L'objectif ZAN (Zéro Artificialisation Nette) de la Loi Climat & Résilience recommande :</p>
            <ul>
                <li>entre 2021 et 2031, de diviser par 2 la consommation d'espace mesurée entre 2011 et 2021</li>
                <li>d'ici 2050 : d'atteindre un taux d'artificialisation nette égal à 0, soit un équilibre entre artificialisation des sols et renaturation</li>
            </ul>
            <p>Les calculs de SPARTE utilisent en particulier 2 sources de données nationales :</p>
            <ul>
                <li>L'OCuppation des Sols à Grande Echelle (OCSGE)</li>
                <li>Les fichiers fonciers fournis par le CEREMA</li>
            </ul>
            <p>La page de synthèse reprend les indicateurs clés au regard de la trajectoire ZAN.</p>
        </div>

        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-6">
            <div class="fr-callout">
              <p class="fr-callout__title">{{ diagnostic.area|floatformat:0 }} ha</p>
              <p>Surface du territoire</p>
            </div>
          </div>
        </div>

        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12">
            <h3 class="fr-mt-3w">Bilan de la consommation d'espace</h3>
          </div>
          <div class="fr-col-12 fr-col-md-6">
            <div class="fr-callout">
              <p class="fr-callout__title">+{{ objective_chart.total_real|floatformat:1 }} ha</p>
              <p>Bilan consommation d'espace 2011-2020</p>
            </div>
          </div>

          <div class="fr-col-12 fr-col-md-6">
            <div class="fr-callout">
              <p class="fr-callout__title">+{{ objective_chart.conso_2031|floatformat:1 }} ha</p>
              <p>Horizon 2030 pour la consommation d'espace</p>
            </div>
          </div>

          <div class="fr-col-12">
            <a href="{% url 'project:report_conso' diagnostic.pk %}">Consulter le bilan de la consommation d'espace</a>
          </div>
        </div>


        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12">
            <h3 class="fr-mt-3w">Bilan de l'artificialisation nette entre {{ diagnostic.analyse_start_date }} et {{ diagnostic.analyse_end_date }}</h3>
          </div>
          {% if ocsge_available %}
          <div class="fr-col-12 fr-col-md-4">
            <div class="fr-callout">
              <p class="fr-callout__title">{{ net_artif|floatformat:0 }} ha</p>
              <p>Artificialisation nette <i class="bi bi-question-circle" data-toggle="tooltip" title="= artificialisation - renaturation" aria-hidden="true"></i></p>
            </div>
          </div>

          <div class="fr-col-12 fr-col-md-4">
            <div class="fr-callout">
              <p class="fr-callout__title">+{{ trajectoire_2030|floatformat:1 }} ha</p>
              <p>Total artificialisation</p>
            </div>
          </div>

          <div class="fr-col-12 fr-col-md-4">
            <div class="fr-callout">
              <p class="fr-callout__title">+ {{ new_natural|floatformat:0 }} ha</p>
              <p>Total renaturation</p>
            </div>
          </div>

          <div class="fr-col-12">
            <a href="{% url 'project:report_artif' project.pk %}">Consulter le bilan de l'artificialisation nette entre {{ diagnostic.analyse_start_date }} et {{ diagnostic.analyse_end_date }}</a>
            <p class="mt-2"><strong>Objectif 2050 :</strong> Zéro Artificialisation Nette</p>
          </div>
          {% else %}
          <p class="text-muted fst-italic">Les rapports sur l'artificialisation, l'usage et la couverture des sols ne sont pas disponibles car ils dépendent des données OCS GE ; données en cours de production pour ce territoire.</p>
          {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', 'Synthèse'])
})

var fired = false
$( window ).scroll(function() {
    if(fired == false && $( window ).scrollTop() + $( window ).height() > $( "#block-content" ).height() - 100) {
        _paq.push(['trackEvent', 'Consultation diagnostic', 'Fin tableau de bord', 'Synthèse'])
        fired = true
    }
})
</script>
{% endblock tagging %}
