{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}

{% block pagetitle %}
Rapport usage du sol
{% endblock %}

{% block headers %}
<link href="{% static 'project/css/project.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light p-5 rounded-5 border">

        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            <p>Préambule : travail en cours.</p>
        </div>

        <div class="clearfix">
            <div class="card key-figure">
                <div class="card-header">
                    Indicateurs clés
                </div>
                <div class="card-body">
                    <p class="figure">xxx ha</p>
                </div>
            </div>

            <div class="card key-figure key-figure-yellow">
                <div class="card-header">
                    Progression
                </div>
                <div class="card-body">
                    <p class="figure">xxx ha</p>
                    <p class="card-text"><small class="text-muted">
                        xx% du territoire
                    </small></p>
                </div>
            </div>
        </div>

        <div class="box p-4 w-100 mt-5">
            <h3>Surface du territoire en fonction de l'usage du sol 2015</h3>
            <div id="chart"></div>
        </div>


        <div class="box scrollme-x p-4 table table-responsive">
            <h3>Progression de l'usage du sol de 2015 à 2018 :</h3>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Libellé</th>
                        <th scope="col" style="text-align: right">Surface 2015 (km²)</th>
                        <th scope="col" style="text-align: right">Progression</th>
                        <th scope="col" style="text-align: right">Surface 2018 (km²)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_covers %}
                    <tr>
                        <th scope="row">{{ data.level|space }} {{ data.code }}</th>
                        <td>{{ data.label_short }}</td>
                        <td align="right">{{ data.total_surface.2015|sq_km }}</td>
                        <td align="right">
                            {{ data.total_surface.2018|remove:data.total_surface.2015 }}
                        </td>
                        <td align="right">{{ data.total_surface.2018|sq_km }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box scrollme-x p-4 table table-responsive">
            <h3>Répartition de l'usage du sol en 2018 :</h3>
            <p>Surface du territoire considéré: {{ surface_territoire|sq_km }} km²</p>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Libellé</th>
                        <th scope="col" style="text-align: right">Surface 2018 (km²)</th>
                        <th scope="col" style="text-align: right">Pourcentage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_covers %}
                    <tr>
                        <th scope="row">{{ data.level|space }} {{ data.code }}</th>
                        <td>{{ data.label_short }}</td>
                        <td align="right">{{ data.total_surface.2018|sq_km }}</td>
                        <td align="right">
                            {{ data.total_surface.2018|percent:surface_territoire }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="box px-4 py-2">
            <p>Sources:</p>
            <ul>
                <li><a href="{% url 'public_data:ocsge-list' %}?limit=2"></a>Données OCS GE</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% localize off %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/treemap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script language="javascript">
points_2015 = [
    {% for data in data_covers %}
    {
        id: "{{ data.code }}",
        {% if data.parent %}
        parent: "{{ data.parent.code }}",
        {% endif %}
        name: "CS{{ data.code }} {{ data.label }}",
        value: {{ data.total_surface.2015 }},
        color: "{{ data.map_color }}",
    },
    {% endfor %}
]

Highcharts.chart('chart', {
    series: [{
        type: 'treemap',
        layoutAlgorithm: 'squarified',
        allowDrillToNode: true,
        animationLimit: 1000,
        dataLabels: {
            enabled: true
        },
        levels: [{
            level: 1,
            dataLabels: {
                enabled: true
            },
            borderWidth: 3,
            levelIsConstant: false
        }, {
            level: 1,
            dataLabels: {
                style: {
                    fontSize: '14px'
                }
            }
        }],
        data: points_2015
    }],
    subtitle: {
        text: 'Cliquer pour voir le détail'
    },
    title: {
        text: "",
        floating: true,
    },
    plotOptions: {
        treemap: {
            tooltip:{
                valueSuffix: ' Ha',
                valueDecimals: 0
            },
        },
    },
});
</script>
{% endlocalize %}
{% endblock %}
