{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}
{% load sri %}

{% block pagetitle %}
Rapport artificialisation
{% endblock %}

{% block headers %}
<link href="{% static 'project/css/project.css' %}" rel="stylesheet" nonce="{{ CSP_NONCE }}" />
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light p-5 rounded-5 border">

        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            L’article 192 de la Loi Climat & Résilience votée en août 2021 définit l'artificialisation comme « une surface dont les sols sont :
            <ul>
                <li>soit imperméabilisés en raison du bâti ou d'un revêtement,</li>
                <li>soit stabilisés et compactés,</li>
                <li>soit constitués de matériaux composites »</li>
            </ul>
            Elle se traduit dans l’OCS GE nationale comme la somme des  objets anthropisés dans la description de la couverture des sols.
        </div>

        <div class="clearfix">
            <div class="card key-figure">
                <div class="card-body">
                    <p class="figure">{{ total_surface|floatformat:0 }} ha</p>
                </div>
                <div class="card-header">
                    Surface du territoire
                </div>
            </div>

            {% if ocsge_available %}
            <div class="card key-figure">
                <div class="card-body">
                    <p class="figure">{{ artif_area|floatformat:0 }} ha</p>
                </div>
                <div class="card-header">
                    Surfaces artificialisées <i class="bi bi-question-circle" data-toggle="tooltip" title="Dernier millésime : {{ last_millesime }}"></i>
                </div>
            </div>
            {% endif %}
        </div>

        {% if ocsge_available %}
        <h3>Evolution en volume sur la période de {{ diagnostic.analyse_start_date }} à {{ diagnostic.analyse_end_date }}</h3>
        <p class="small">Sur la période demandée, l'OCS GE couvre de {{ first_millesime }} à {{ last_millesime }}.</p>
        <div class="clearfix">
            <div class="card key-figure key-figure-yellow">
                <div class="card-body">
                    <p class="figure">{{ new_artif|floatformat:0 }} ha</p>
                </div>
                <div class="card-header">
                    Artificialisation
                </div>
            </div>

            <div class="card key-figure key-figure-yellow">
                <div class="card-body">
                    <p class="figure">{{ new_natural|floatformat:0 }} ha</p>
                </div>
                <div class="card-header">
                    Renaturation
                </div>
            </div>

            <div class="card key-figure key-figure-yellow">
                <div class="card-body">
                    <p class="figure">{{ net_artif|floatformat:0 }} ha</p>
                </div>
                <div class="card-header">
                    Artificialisation nette <i class="bi bi-question-circle" data-toggle="tooltip" title="= artificialisation - renaturation"></i>
                </div>
            </div>

            <div class="card key-figure key-figure-yellow">

                <div class="card-body">
                    <p class="figure">{{ net_artif_rate|floatformat:0 }} %</p>
                </div>
                <div class="card-header">
                    Taux d'artificialisation nette <i class="bi bi-question-circle" data-toggle="tooltip" title="= Artificialisation nette / surface du territoire"></i>
                </div>
            </div>
        </div>


        <div class="w-100 box p-4">
            <h3>
                <div class="float-end">
                    <div class="dropdown me-2">
                        <button class="fr-btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Maille d'analyse
                        </button>
                        <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item {% if level == "COMM" %}active{% endif %}" href="{% url "project:report_artif" project.id %}?level_conso=COMMUNE">Communes</a></li>
                            {% if land_type in "DEPART_REGION_COMP" %}
                            <li><a class="dropdown-item {% if level == "EPCI" %}active{% endif %}" href="{% url "project:report_artif" project.id %}?level_conso=EPCI">EPCI</a></li>
                            {% endif %}
                            {% if land_type in "REGION_COMP" %}
                            <li><a class="dropdown-item {% if level == "DEPART" %}active{% endif %} " href="{% url "project:report_artif" project.id %}?level_conso=DEPART">Départements</a></li>
                            {% endif %}
                            {% if land_type in "COMP" %}
                            <li><a class="dropdown-item {% if level == "REGION" %}active{% endif %}" href="{% url "project:report_artif" project.id %}?level_conso=REGION">Régions</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                Artificialisation nette
            </h3>

            <div class="row">
                <div class="col-4 border-end">
                    <div id="chart_waterfall" class="flex-fill"></div>
                </div>
                <div class="col-8">
                    <div id="chart_comparison" class="flex-fill"></div>
                </div>
            </div>

            <table class="table table-striped table-sm table-borderless mt-5">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for period in headers_evolution_artif %}
                        <th scope="col" class="text-end">{{ period }}</th>
                        {% endfor %}
                        <th scope="col" class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for serie_name, data in table_comparison.items %}
                    <tr>
                        <th scope="row">{{ serie_name }}</th>
                        {% for period, val in data.items %}
                        <td align="right">{{ val|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="w-100 box p-4">
            <h3>Evolution</h3>
            <div id="chart_evolution_artif" class="flex-fill"></div>
        </div>

        <div class="box scrollme-x p-4">
            <h3 class="mb-3">Artificialisation nette (en ha) :</h3>
            <table class="table table-striped table-sm table-borderless">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for period in headers_evolution_artif %}
                        <th scope="col" class="text-end">{{ period }} (Ha)</th>
                        {% endfor %}
                        <th scope="col" class="text-end">Total (Ha)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for serie_name, data in table_evolution_artif.items %}
                    <tr>
                        <th scope="row">{{ serie_name }}</th>
                        {% for period, val in data.items %}
                        <td align="right">{{ val|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box scrollme-x p-4" >
            <h3 class="mb-3">Détail de l'artificialisation :</h3>
            <div class="row border-bottom mb-3">
                <div class="col-6 border-end">
                    <div id="couv_artif_sol"></div>
                </div>
                <div class="col-6">
                    <div id="usage_artif_sol"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 border-end">
                    <div id="detail_artif_chart"></div>
                </div>
                <div class="col-8 d-flex align-content-center flex-wrap justify-content-center">
                    <div>
                        <table class="table table-striped table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col" class="text-end">Artificialisation</th>
                                    <th scope="col" class="text-end" class="text-muted">%</th>
                                    <th scope="col" class="text-end">renaturation</th>
                                    <th scope="col" class="text-end" class="text-muted">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for couv in detail_artif_chart.get_series %}
                                <tr>
                                    <th scope="row">{{ couv.code_prefix }} {{ couv.label }}</th>
                                    <td align="right">{{ couv.artif|floatformat:1 }}</td>
                                    <td align="right" class="text-muted">{{ couv.artif|percent:detail_total_artif }}</td>
                                    <td align="right">{{ couv.renat|floatformat:2 }}</td>
                                    <td align="right" class="text-muted">{{ couv.renat|percent:detail_total_renat }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th scope="row" class="text-muted">Total :</th>
                                    <td align="right" class="text-muted">{{ detail_total_artif|floatformat:1 }}</td>
                                    <td align="right" class="text-muted">100%</td>
                                    <td align="right" class="text-muted">{{ detail_total_renat|floatformat:2 }}</td>
                                    <td align="right" class="text-muted">100%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        {% else %}
        <div class="box px-4 py-2 mb-4 mt-5">
            <p class="my-1">Nous sommes désolé, mais votre territoire n'est pas encore couvert par l'OCSGE. Restez informer de son arrivée en vous abonnant à notre infolettre !</p>
        </div>
        {% endif %}

        <div class="box px-4 py-2">
            <p>Sources:</p>
            <p>L'artificialisation du sol a été définie dans le décret de nomenclature. Plus d'information sur <a href="{% url 'public_data:matrix' %}" target="_blank">la page de la matrice</a> <i class="bi bi-box-arrow-up-right"></i>.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% localize off %}
{% sri_static "highcharts/js/highcharts.js" %}
{% sri_static "highcharts/js/highcharts-more.js" %}
{% sri_static "highcharts/js/exporting.js" %}
{% french_translation %}
{% display_chart 'chart_evolution_artif' chart_evolution_artif CSP_NONCE %}
{% display_chart 'detail_artif_chart' detail_artif_chart CSP_NONCE %}
{% display_chart 'couv_artif_sol' couv_artif_sol CSP_NONCE %}
{% display_chart 'usage_artif_sol' usage_artif_sol CSP_NONCE %}
{% display_chart 'chart_comparison' chart_comparison CSP_NONCE %}
{% display_chart 'chart_waterfall' chart_waterfall CSP_NONCE %}
{% endlocalize %}
{% endblock %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', 'Artificialisation'])
})

var fired = false
$( "#main" ).scroll(function() {
    if(fired == false && $( "#main" ).scrollTop() + $( window ).height() > $( "#block-content" ).height() - 100) {
        _paq.push(['trackEvent', 'Consultation diagnostic', 'Fin tableau de bord', 'Artificialisation'])
        fired = true
    }
})
</script>
{% endblock tagging %}
