{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block pagetitle %}
Télécharger le bilan
{% endblock %}

{% block headers %}
<link href="{% static 'project/css/project.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light p-5 rounded-5 border">

        {% if is_staff %}
        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            <p>Version pré-construite pour l'équipe: <a href="{% url 'docx_template:template-bilan-1-merge' project.id %}">télécharger</a>.</p>
        </div>
        {% endif %}

        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            <p>Nous travaillons activement à automatiser l'assemblage du bilan de votre territoire. En attendant qu'il soit téléchargeable en un clic, nous vous proposons de le faire pour vous. Renseignez le formulaire ci-dessous pour effectuer votre demande.</p>
            <p>Vous pouvez télécharger un exemple : <a href="{{ url_bilan }}" target="_blank">{{ BILAN_EXAMPLE_TITLE }}</a>.
        </div>

        <div class="w-100 row justify-content-center">
            <div class="box p-4 col-12 col-md-5 col-lg-4">
                <h3>Recevoir votre bilan par e-mail</h3>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="dl_btn" class="fr-btn mt-5" type="submit">Recevoir</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', 'Téléchargement'])
})


$( "#dl_btn" ).click(function() {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Télécharger'])
})

var fired = false
$( "#main" ).scroll(function() {
    if(fired == false && $( "#main" ).scrollTop() + $( window ).height() > $( "#block-content" ).height() - 100) {
        _paq.push(['trackEvent', 'Consultation diagnostic', 'Fin tableau de bord', 'Téléchargement'])
        fired = true
    }
})
</script>
{% endblock tagging %}
