{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Synthèse
{% endblock %}

{% block headers %}
{% sri_static "project/css/project.css" %}
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light p-5 rounded-5 border">

        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            <p>L'objectif ZAN (Zéro Artificialisation Nette) de la Loi Climat & Résilience recommande :</p>
            <ul>
                <li>entre 2021 et 2031, de diviser par 2 la consommation d'espace mesurée entre 2011 et 2021</li>
                <li>d'ici 2050 : d'atteindre un taux d'artificialisation nette égal à 0, soit un équilibre entre artificialisation des sols et renaturation</li>
            </ul>
            <p>Les calculs de SPARTE utilisent en particulier 2 sources de données nationales :</p>
            <ul>
                <li>L'OCuppation des Sols à Grande Echelle (OCSGE)</li>
                <li>Les fichiers fonciers fournis par le CEREMA</li>
            </ul>
            <p>La page de synthèse reprend les indicateurs clés au regard de la trajectoire ZAN.</p>
        </div>


        <div class="clearfix">
            <div class="card key-figure">
                <div class="card-body">
                    <p class="figure">{{ diagnostic.area|floatformat:0 }} ha</p>
                </div>
                <div class="card-header">
                    Surface du territoire
                </div>
            </div>
        </div>

        <div class="box px-4 py-2 clearfix">

            <a href="{% url 'project:report_conso' diagnostic.pk %}" class="stretched-link"></a>

            <h3>Bilan de la consommation d'espace</h3>

            <div class="card key-figure key-figure-green">
                <div class="card-body">
                    <p class="figure">+{{ conso_10_years|floatformat:1 }} ha</p>
                </div>
                <div class="card-header">
                    Bilan consommation d'espace 2010-2020
                </div>
            </div>

            <div class="card key-figure key-figure-green">
                <div class="card-body">
                    <p class="figure">+{{ trajectoire_2030|floatformat:1 }} ha</p>
                </div>
                <div class="card-header">
                    Horizon 2030 pour la consommation d'espace
                </div>
            </div>
        </div>

        <div class="box px-4 py-2 clearfix">

            <a href="{% url 'project:report_artif' project.pk %}" class="stretched-link"></a>

            <h3>Bilan de l'artificialisation nette entre {{ diagnostic.analyse_start_date }} et {{ diagnostic.analyse_end_date }}</h3>

            <div class="clearfix">
                <div class="card key-figure key-figure-yellow">
                    <div class="card-body">
                        <p class="figure">{{ net_artif|floatformat:0 }} ha</p>
                    </div>
                    <div class="card-header">
                        Artificialisation nette <i class="bi bi-question-circle" data-toggle="tooltip" title="= artificialisation - renaturation"></i>
                    </div>
                </div>

                <div class="card key-figure key-figure-yellow">
                    <div class="card-body">
                        <p class="figure">+ {{ new_artif|floatformat:1 }} ha</p>
                    </div>
                    <div class="card-header">
                        Total artificialisation
                    </div>
                </div>

                <div class="card key-figure key-figure-yellow">
                    <div class="card-body">
                        <p class="figure">+ {{ new_natural|floatformat:0 }} ha</p>
                    </div>
                    <div class="card-header">
                        Total renaturation
                    </div>
                </div>
            </div>

            <p class="mt-2"><strong>Objectif 2050 :</strong> Zéro Artificialisation Nette</p>
        </div>

    </div>
</div>
{% endblock %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', 'Synthèse'])
})

var fired = false
$( "#main" ).scroll(function() {
    if(fired == false && $( "#main" ).scrollTop() + $( window ).height() > $( "#block-content" ).height() - 100) {
        _paq.push(['trackEvent', 'Consultation diagnostic', 'Fin tableau de bord', 'Synthèse'])
        fired = true
    }
})
</script>
{% endblock tagging %}
