{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}

{% block pagetitle %}
Rapport artificialisation
{% endblock %}

{% block headers %}
<link href="{% static 'project/css/project.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light p-5 rounded-5 border">

        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            L’article 192 de la Loi Climat & Résilience votée en août 2021 définit l'artificialisation comme « une surface dont les sols sont :
            <ul>
                <li>soit imperméabilisés en raison du bâti ou d'un revêtement,</li>
                <li>soit stabilisés et compactés,</li>
                <li>soit constitués de matériaux composites »</li>
            </ul>
            Elle se traduit dans l’OCS GE nationale comme la somme des  objets anthropisés dans la description de la couverture des sols.
        </div>

        <div class="clearfix">
            <div class="card key-figure">
                <div class="card-header">
                    Surface du territoire
                </div>
                <div class="card-body">
                    <p class="figure">{{ total_surface|floatformat:0 }} ha</p>
                </div>
            </div>

            {% if ocsge_available %}
            <div class="card key-figure">
                <div class="card-header">
                    Surfaces artificialisées
                </div>
                <div class="card-body">
                    <p class="figure">{{ artif_area|floatformat:0 }} ha</p>
                    <p class="card-text"><small class="text-secondary">
                        Dernier millésime : {{ last_millesime }}
                    </small></p>
                </div>
            </div>
            {% endif %}
        </div>

        {% if ocsge_available %}
        <h3>Evolution en volume sur la période de {{ diagnostic.analyse_start_date }} à {{ diagnostic.analyse_end_date }}</h3>
        <p class="small">Sur la période demandée, l'OCS GE couvre de {{ first_millesime }} à {{ last_millesime }}.</p>
        <div class="clearfix">
            <div class="card key-figure key-figure-yellow">
                <div class="card-header">
                    Artificialisation
                </div>
                <div class="card-body">
                    <p class="figure">+ {{ new_artif|floatformat:0 }} ha</p>
                </div>
            </div>

            <div class="card key-figure key-figure-yellow">
                <div class="card-header">
                    Renaturation
                </div>
                <div class="card-body">
                    <p class="figure">+ {{ new_natural|floatformat:0 }} ha</p>
                </div>
            </div>

            <div class="card key-figure key-figure-yellow">
                <div class="card-header">
                    Artificialisation nette
                </div>
                <div class="card-body">
                    <p class="figure">{{ net_artif|floatformat:0 }} ha</p>
                    <p class="card-text"><small class="text-secondary">
                        = artificialisation - renaturation
                    </small></p>
                </div>
            </div>

            <div class="card key-figure key-figure-yellow">
                <div class="card-header">
                    Taux d'artificialisation net
                </div>
                <div class="card-body">
                    <p class="figure">{{ net_artif_rate|floatformat:0 }} %</p>
                </div>
                <p class="card-text"><small class="text-secondary">
                    = Artificialisation nette / surface du territoire
                </small></p>
            </div>
        </div>

        <div class="w-100 box p-4">
            <h3>Evolution</h3>
            <div id="chart_evolution_artif" class="flex-fill"></div>
        </div>

        <div class="box scrollme-x p-4">
            <h3 class="mb-3">Artificialisation nette (en ha) :</h3>
            <table class="table table-striped table-sm table-borderless">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for period in headers_evolution_artif %}
                        <th scope="col" style="text-align: right">{{ period }}</th>
                        {% endfor %}
                        <th scope="col" style="text-align: right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for serie_name, data in table_evolution_artif.items %}
                    <tr>
                        <th scope="row">{{ serie_name }}</th>
                        {% for period, val in data.items %}
                        <td align="right">{{ val|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box scrollme-x p-4">
            <h3 class="mb-3">Détail de l'artificialisation :</h3>
            <div class="row">
                <div class="col-4 border-end">
                    <div id="detail_artif_chart"></div>
                </div>
                <div class="col-8 d-flex align-content-center flex-wrap justify-content-center">
                    <div>
                        <table class="table table-striped table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col" style="text-align: right">Surface artificielle en {{ last_millesime }}</th>
                                    <th scope="col" style="text-align: right" class="text-muted">%</th>
                                    <th scope="col" style="text-align: right">Progression de {{ first_millesime }} à {{ last_millesime }}</th>
                                    <th scope="col" style="text-align: right" class="text-muted">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for couv in detail_artif_chart.get_series %}
                                <tr>
                                    <th scope="row">{{ couv.code_prefix }} {{ couv.label }}</th>
                                    <td align="right">{{ couv.surface_last|floatformat:1 }}</td>
                                    <td align="right" class="text-muted">{{ couv.surface_last|percent:detail_total_last }}</td>
                                    <td align="right">{{ couv.surface_diff|floatformat:2 }}</td>
                                    <td align="right" class="text-muted">{{ couv.surface_diff|percent:detail_total_diff }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th scope="row" class="text-muted">Total :</th>
                                    <td align="right" class="text-muted">{{ detail_total_last|floatformat:1 }}</td>
                                    <td align="right" class="text-muted">100%</td>
                                    <td align="right" class="text-muted">{{ detail_total_diff|floatformat:2 }}</td>
                                    <td align="right" class="text-muted">100%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        {% else %}
        <div class="box px-4 py-2 mb-4 mt-5">
            <p class="my-1">Nous sommes désolé, mais votre territoire n'est pas encore couvert par l'OCSGE. Restez informer de son arrivée en vous abonnant à notre infolettre !</p>
        </div>
        {% endif %}

        <div class="box px-4 py-2">
            <p>Sources:</p>
            <p>L'artificialisation du sol a été définie dans le décret de nomenclature. Plus d'information sur <a href="{% url 'public_data:matrix' %}" target="_blank">la page de la matrice</a> <i class="bi bi-box-arrow-up-right"></i>.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% localize off %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% french_translation %}
{% display_chart 'chart_evolution_artif' chart_evolution_artif %}
{% display_chart 'detail_artif_chart' detail_artif_chart %}
{% endlocalize %}
{% endblock %}
