{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}
{% load sri %}

{% block pagetitle %}
{{ nom }}
{% endblock %}

{% block headers %}
<link href="{% static 'project/css/project.css' %}" rel="stylesheet" />
<style nonce="{{ CSP_NONCE }}">
.tooltiped {
    border-bottom:1px dashed #000;
}
</style>
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light p-5 rounded-5 border">

        {% if active_page == "usage" %}
        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            <p>L’usage du sol est une vue « anthropique du sol ». Il est partagé en fonction du rôle que jouent les portions de terrain en tant qu’occupation humaine.</p>
            <p>Dans l'OCSGE, l'usage US235 regroupe les objets de US2 (production secondaire), US3 (production tertiaire) et US5 (usage résidentiel) de la nomenclature nationale quand la distinction entre ces usages n'est pas possible ou pas connue.</p>
        </div>
        {% else %}
        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            L’article 192 de la Loi Climat & Résilience votée en août 2021 définit l'artificialisation comme « une surface dont les sols sont :
            <ul>
                <li>soit imperméabilisés en raison du bâti ou d'un revêtement,</li>
                <li>soit stabilisés et compactés,</li>
                <li>soit constitués de matériaux composites »</li>
            </ul>
            Elle se traduit dans l’OCS GE nationale comme la somme des  objets anthropisés dans la description de la couverture des sols.
        </div>
        {% endif %}

        <div class="clearfix">
            <div class="card key-figure">
                <div class="card-body">
                    <p class="figure">{{ surface_territory|floatformat:0 }} ha</p>
                </div>
                <div class="card-header">
                    Surface du territoire
                </div>
            </div>
        </div>
    {% if ocsge_available %}

        <div class="w-100 box p-4">
            <h3>Répartition</h3>
            <div class="row">
                <div class="col-6 border-end">
                    <div id="chart_3"></div>
                </div>
                <div class="col-6">
                    <div id="chart_1"></div>
                </div>
            </div>
        </div>


        <div class="box scrollme-x p-4 table table-responsive">
            <h3>Progression de {{ first_millesime }} à {{ last_millesime }} :</h3>
            <table class="table table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Libellé</th>
                        <th scope="col" class="text-end">Surface {{ first_millesime }} (ha)</th>
                        <th scope="col" class="text-end">Progression (ha)</th>
                        <th scope="col" class="text-end">Surface {{ last_millesime }} (ha)</th>
                        <th scope="col" class="text-end">Pourcentage {{ last_millesime }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in progression_chart.get_series %}
                    <tr {% if item.level == 1 %}class="fw-bold"{% endif %}>
                        <th scope="row">{{ item.level|space }} {{ item.code }}</th>
                        <td>{{ item.get_label_short }}</td>
                        <td align="right">{{ item.surface_first|floatformat:1 }}</td>
                        <td align="right">
                            {% if item.surface_diff == 0 %}-
                            {%else%}
                                {% if item.surface_diff > 0 %}+{% endif%}
                                {{ item.surface_diff|floatformat:2 }}
                            {% endif%}
                        </td>
                        <td align="right">{{ item.surface_last|floatformat:1 }}</td>
                        <td align="right">{{ item.surface_last|percent:surface_territory }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box scrollme-x p-4 table table-responsive">
            <h3>Matrice de passage de {{ first_millesime }} à {{ last_millesime }} :</h3>
            <p class="text-muted">En hectare (Ha).
                <br/>En ligne les anciens codes, en colonne les nouveaux codes.
            </p>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for header in matrix_headers %}
                        <th scope="col" class="text-end">
                            <span class="tooltiped" data-toggle="tooltip" title="{{ header.label }}">
                                {{ header.code }}
                            </span>
                        </th>
                        {% endfor %}
                        <th scope="col" class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, data in matrix_data.items %}
                    <tr>
                        <th scope="row">
                            {% if name.code %}
                            <span class="tooltiped" data-toggle="tooltip" title="{{ name.label }}">
                                {{ name.code }} {{ name.label_short }}
                            </span>
                            {% else %}
                                Total
                            {% endif %}
                        </th>
                        {% for title, val in data.items %}
                            <td align="right">
                                <span data-toggle="tooltip" title="Passage de {{ name.code }} à {{ title.code }}">
                                    {{ val|floatformat:2 }}
                                </span>
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <div class="box px-4 py-2 mb-4 mt-5">
            <p class="my-1">Nous sommes désolé, mais votre territoire n'est pas encore couvert par l'OCSGE. Restez informer de son arrivée en vous abonnant à notre infolettre !</p>
        </div>
    {% endif %}

        <div class="box px-4 py-2">
            <p>Sources:</p>
            <ul>
                <li><a href="{% url 'public_data:ocsge-list' %}?limit=2"></a>Données OCS GE</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% localize off %}
{% sri_static "highcharts/js/highcharts.js" %}
{% sri_static "highcharts/js/exporting.js" %}
{% french_translation %}
{% display_chart 'chart_3' pie_chart CSP_NONCE %}
{% display_chart 'chart_1' progression_chart CSP_NONCE %}
{% endlocalize %}
{% endblock %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', '{{ nom }}'])
})

var fired = false
$( "#main" ).scroll(function() {
    if(fired == false && $( "#main" ).scrollTop() + $( window ).height() > $( "#block-content" ).height() - 100) {
        _paq.push(['trackEvent', 'Consultation diagnostic', 'Fin tableau de bord', '{{ nom }}'])
        fired = true
    }
})
</script>
{% endblock tagging %}
