{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}

{% block pagetitle %}
Rapport couverture du sol
{% endblock %}

{% block headers %}
<link href="{% static 'project/css/project.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light p-5 rounded-5 border">

        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            L’article 192 de la Loi Climat & Résilience votée en août 2021 définit l'artificialisation comme « une surface dont les sols sont :
            <ul>
                <li>soit imperméabilisés en raison du bâti ou d'un revêtement,</li>
                <li>soit stabilisés et compactés,</li>
                <li>soit constitués de matériaux composites »</li>
            </ul>
            Elle se traduit dans l’OCS GE nationale comme la somme des  objets anthropisés dans la description de la couverture des sols.
        </div>

        <div class="clearfix">
            <div class="card key-figure">
                <div class="card-header">
                    Surface du territoire
                </div>
                <div class="card-body">
                    <p class="figure">{{ surface_territory|floatformat:0 }} ha</p>
                </div>
            </div>
        </div>

        <div class="w-100 box p-4">
            <h3>Répartition</h3>
            <div class="row">
                <div class="col-6 border-end">
                    <div id="chart_3"></div>
                </div>
                <div class="col-6">
                    <div id="chart_1"></div>
                </div>
            </div>
        </div>

        <div class="box scrollme-x p-4 table table-responsive">
            <h3>Progression de la couverture du sol-artificialisation de {{ first_millesime }} à {{ last_millesime }} :</h3>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Libellé</th>
                        <th scope="col" style="text-align: right">Surface {{ first_millesime }} (ha)</th>
                        <th scope="col" style="text-align: right">Progression (ha)</th>
                        <th scope="col" style="text-align: right">Surface {{ last_millesime }} (ha)</th>
                        <th scope="col" style="text-align: right">Pourcentage {{ last_millesime }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for couv in progression_chart.get_series %}
                    <tr {% if couv.level == 2 %}class="fw-bold"{% endif %}>
                        <th scope="row">{{ couv.level|space }} {{ couv.code }}</th>
                        <td>{{ couv.get_label_short }}</td>
                        <td align="right">{{ couv.surface_first|floatformat:1 }}</td>
                        <td align="right">
                            {% if couv.surface_diff > 0 %}+{% endif%}{{ couv.surface_diff|floatformat:2 }}
                        </td>
                        <td align="right">{{ couv.surface_last|floatformat:1 }}</td>
                        <td align="right">{{ couv.surface_last|percent:surface_territory }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="box px-4 py-2">
            <p>Sources:</p>
            <ul>
                <li><a href="{% url 'public_data:ocsge-list' %}?limit=2"></a>Données OCS GE</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% localize off %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% french_translation %}
{% display_chart 'chart_3' pie_chart %}
{% display_chart 'chart_1' progression_chart %}
{% endlocalize %}
{% endblock %}
