{% extends 'index.html' %}

{% load static %}
{% load project_tags %}

{% block pagetitle %}
Rapport consommation
{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}
    <div class="pe-4 ps-4">
        {% include "project/detail_menu.html" %}

        <div class="alert alert-warning" role="alert">
            La consommation d'espace est mesurée avec les fichiers fonciers qui font une description cadastrale du territoire.
        </div>

        <h3>Chiffres clés:</h3>
        <div class="d-flex">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Territoire total</h5>
                    <p>{{ total_surface }} ha</p>
                    <p>100 %</p>
                </div>
            </div>

            <div class="card ms-3">
                <div class="card-body">
                    <h5 class="card-title">Consommé avant {{ start_year }}</h5>
                    <p>{{ initial_surface }} ha</p>
                    <p>{{ initial_percent }}</p>
                </div>
            </div>

            <div class="card ms-3">
                <div class="card-body">
                    <h5 class="card-title">Consommé en {{ end_year }}</h5>
                    <p>{{ final_surface }} ha</p>
                    <p>{{ final_percent }}</p>
                </div>
            </div>

            <div class="card ms-3">
                <div class="card-body">
                    <h5 class="card-title">Progression {{ start_year }} à {{ end_year }}</h5>
                    <p>+{{ pki_progression }} ha</p>
                    <p>+{{ pki_progression_percent }}</p>
                </div>
            </div>
        </div>

        <div class="w-100 mt-5">
            <div id="chart" class="flex-fill"></div>
        </div>

        <div class="mt-5">
            <h3>Consommé (en ha):</h3>
            <table class="table">
                <thead>
                    <tr>
                    {% for col_name in headers %}
                        <th scope="col">
                            {% if col_name == "Progression" %}
                                <span data-toggle="tooltip" title="Progression de la surface consommée entre 2009 et 2018">Progression</span>
                            {% else %}
                                {{ col_name }}
                            {% endif %}
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for city in table_artif %}
                    <tr>
                        <th scope="row">{{ city.name }}</th>
                        {{ city.before|td }}
                        {{ city.items|td }}
                        <th  scope="row">{{ city.total }}</th>
                        <td>{{ city.progression }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block bodyend %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script language="javascript">
Highcharts.chart('chart', {

    title:{
        text:''
    },

    yAxis: {
        title: {
            text: 'Consommé (en ha)'
        }
    },

    xAxis: {
    },

    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'top'
    },

    pane: {
        size: 400
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2009
        }
    },

    series: [{% for city in table_artif %}
    {
        name: '{{ city.name }}',
        data: [{% for v in city.items %}{{ v }}, {% endfor %}]
    },
    {% endfor %}],
});
</script>
{% endblock %}
