{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}

{% block pagetitle %}
Rapport consommation
{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}

    <div class="pe-4 ps-4">
        {% include "project/detail_menu.html" %}

        <div class="mt-3">&nbsp;</div>

        <div class="d-flex justify-content-around">
            <div class="card border-primary shadow-sm" style="width:230px;">
                <div class="card-header">
                    Territoire total
                </div>
                <div class="card-body">
                    <p>{{ total_surface }} ha</p>
                </div>
            </div>

            <div class="card ms-3 border-success shadow-sm" style="width:230px;">
                <div class="card-header">
                    Consommé avant {{ start_year }}
                </div>
                <div class="card-body">

                    <p>{{ initial_surface|intcomma }} ha</p>
                    <p class="card-text"><small class="text-muted">
                        {{ initial_percent|floatformat:0 }}% du territoire
                    </small></p>
                </div>
            </div>

            <div class="card ms-3 border-warning shadow-sm" style="width:230px;">
                <div class="card-header">
                    Consommé en {{ end_year }}
                </div>
                <div class="card-body">
                    <p>{{ final_surface|intcomma }} ha</p>
                    <p class="card-text"><small class="text-muted">
                        {{ final_percent|floatformat:0 }}% du territoire
                    </small></p>
                </div>
            </div>

            <div class="card ms-3 border-info shadow-sm" style="width:230px;">
                <div class="card-header">
                    Progression {{ start_year }} à {{ end_year }}
                </div>
                <div class="card-body">
                    <p>+{{ pki_progression }} ha</p>
                    <p class="card-text"><small class="text-muted">
                        +{{ pki_progression_percent|floatformat:0 }}% du Territoire
                    </small></p>
                </div>
            </div>
        </div>

        <div class="w-100 mt-5">
            <div id="chart" class="flex-fill"></div>
        </div>

        <div class="mt-5">
            <h3 class="mb-3">Surface consommée (en ha):</h3>
            <table class="table">
                <thead>
                    <tr>
                    {% for col_name in headers %}
                        <th scope="col">
                            {% if col_name == "Progression" %}
                                <span data-toggle="tooltip" title="Progression de la surface consommée entre 2009 et 2018">Progression</span>
                            {% else %}
                                {{ col_name }}
                            {% endif %}
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for city in table_artif %}
                    <tr>
                        <th scope="row">{{ city.name }}</th>
                        <td align="right">{{ city.before }}</td>
                        {% for item in city.items %}
                        <td align="right">{{ item }}</td>
                        {% endfor %}
                        <td align="right"><strong>{{ city.total }}</strong></td>
                        <td align="right">+{{ city.progression|floatformat:1 }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="alert alert-warning" role="alert">
            La consommation d’espace est aujourd’hui mesurée avec les fichiers fonciers qui font une description cadastrale du territoire.
        </div>
    </div>

{% endblock %}

{% block bodyend %}
{% localize off %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script language="javascript">
Highcharts.chart('chart', {

    title:{
        text:''
    },

    yAxis: {
        title: {
            text: 'Consommé (en ha)'
        }
    },

    xAxis: {
    },

    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'top'
    },

    pane: {
        size: 400
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: {{ start_year }}
        }
    },

    series: [{% for city in table_artif %}
    {
        name: '{{ city.name }}',
        data: [{% for v in city.items %}{{ v }}, {% endfor %}]
    },
    {% endfor %}],
});
</script>
{% endlocalize %}
{% endblock %}
