{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load project_tags %}
{% load highcharts_tags %}
{% load sri %}

{% block pagetitle %}
Consommation des villes
{% endblock %}

{% block headers %}
<link href="{% static 'project/css/project.css' %}" rel="stylesheet" nonce="{{ CSP_NONCE }}" />
{% endblock %}

{% block content %}
{% sri_static "css/dragula.min.css" %}
{% sri_static "js/dragula.min.js" %}

<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light p-5 rounded-5 border">

        <a href="{% url 'project:report_conso' project.pk %}" class="text-decoration-none"><i class="bi bi-arrow-left"></i> Retour au rapport "Consommation"</a>

        <div class="box mt-5 p-4">
            <h3>Sélectionner le groupe à visionner</h3>
            <div class="fr-btns-group fr-btns-group--inline" role="group" aria-label="Sélectionner un groupe">
                {% for name in groups_name %}
                    <a href="{% url 'project:report_city_group' project.id %}?group_name={{ name }}" class="fr-btn{% if name == group_name %} active{% endif %}">{{ name }}{% if name == group_name %} <i class="bi bi-eye ms-3"></i>{% endif %}</a>
                {% endfor %}
                <a class="fr-btn fr-btn--secondary" data-bs-toggle="collapse" href="#collapseGroups" role="button" aria-expanded="false" aria-controls="collapseGroups">
                    Modifier<i class="bi bi-caret-down"></i>
                </a>
            </div>

            <div class="collapse mt-3 border-start border-5" id="collapseGroups">
                <button id="add-group" class="fr-btn mb-0 ms-3"><i class="bi bi-plus"></i> Ajouter un groupe</button>
                <button id="save-all" class="fr-btn mb-0 ms-3"><i class="bi bi-save-fill"></i> Sauvegarder les modifications</button>
                <div class="clearfix mt-0" id="group-container">
                    <div class="card city-group">
                        <div class="card-header">
                            Sans groupe
                        </div>
                        <div id="no-group" class="card-body">
                            {% for city in city_without_group %}
                            <div class="grab"><i class="bi bi-grip-vertical"></i>{{ city.name }}</div>
                            {% endfor %}
                        </div>
                    </div>

                    {% for city_group in city_group_list %}
                    <div class="card city-group select-group">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-10">
                                    <input name="group_name" value="{{ city_group.name }}">
                                </div>
                                <div class="col-2 ">
                                    <a href="#">
                                        <i class="bi bi-trash float-end"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="no-group" class="card-body">
                            {% for city in city_group.cities %}
                            <div class="grab"><i class="bi bi-grip-vertical"></i>{{ city.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="w-100 box p-4">
            <h3>Consommation annuelle des communes</h3>
            <div id="chart_conso_cities"></div>
        </div>

        <div class="box scrollme-x p-4">
            <h3 class="mb-3">Surface consommée (en ha) :</h3>
            <table class="table table-striped table-sm table-borderless">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for year in project.years %}
                        <th scope="col" class="text-end">{{ year }}</th>
                        {% endfor %}
                        <th scope="col" class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city_name, data in communes_data_table.items %}
                    <tr>
                        <th scope="row">{{ city_name }}</th>
                        {% for year, val in data.items %}
                        <td align="right">+{{ val|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="w-100 box p-4">
            <h3>Déterminants de la consommation</h3>
            <div class="row">
                <div class="col-4 border-end">
                    <div id="pie_determinant"></div>
                </div>
                <div class="col-8">
                    <div id="chart_determinant"></div>
                </div>
            </div>
        </div>

        <div class="box scrollme-x p-4">
            <h3 class="mb-3">Déterminants de la consommation :</h3>
            <table class="table table-striped table-sm table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Déterminant</th>
                        {% for year in project.years %}
                        <th scope="col" class="text-end">{{ year }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for determinant_name, data in data_determinant.items %}
                    <tr>
                        <th scope="row">{{ determinant_name }}</th>
                        {% for year, val in data.items %}
                        <td align="right">+{{ val|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="group-model">
    <div class="card city-group">
        <div class="card-header">
            <div class="row">
                <div class="col-10"><input type="text" name="group_name" class="form-control" placeholder="nom du groupe"></div>
                <div class="col-2 ">
                    <a href="#">
                        <i class="bi bi-trash float-end"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body"></div>
    </div>
    <form method="post" id="save-form">
        {% csrf_token %}
    </form>
</div>
{% endblock %}

{% block bodyend %}
{% localize off %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
var drake = dragula([$('#no-group')[0]])
$('.select-group').each(function(){
    drake.containers.push($(this).find(".card-body")[0])
})

$(".bi-trash").click(function(){
    $(this).closest(".select-group").remove()
})


drake.on('drop', (el) => { $('#save-all').show()})


$('#add-group').click(function(){
    let node = $('#group-model').children(".card").clone()
    node.addClass("select-group")
    $("#group-container").append(node)
    drake.containers.push(node.children(".card-body")[0])
    $('#save-all').show()
    node.find(".bi-trash").click(() => {
        node.remove()
    })
})

$("#save-all").click(function(){

    form_wrapper = $("#save-form")
    $(".select-group").each(function(index) {
        let group_name = $(this).find("input").val()
        if (group_name == ""){
            group_name = "sans_nom_" + index
        }
        field = $('<input>').attr({name: "group_name_" + index, value: group_name})
        form_wrapper.append(field)
        cities = $(this).find(".card-body").children().each(function(index){
            name = group_name + "_" + index
            field = $('<input>').attr({name: name, value: $(this).text()})
            form_wrapper.append(field)
        })
    })
    form_wrapper.submit()
})


</script>
{% sri_static "highcharts/js/highcharts.js" %}
{% sri_static "highcharts/js/exporting.js" %}
{% french_translation %}
{% display_chart 'chart_conso_cities' chart_conso_cities %}
{% display_chart 'chart_determinant' determinant_per_year_chart %}
{% display_chart 'pie_determinant' determinant_pie_chart %}
{% endlocalize %}
{% endblock %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Option avancée', 'Analyse par groupe de communes'])
})
</script>
{% endblock tagging %}
