<div class="fr-container mb-3">
    <nav class="fr-nav">
        <ul class="fr-nav__list border-bottom">
            <li class="fr-nav__item">
                <a class="fr-nav__link" {% if active_page == 'synthesis' %} aria-current="true"{% endif %} href="{% url 'project:report_synthesis' project.pk %}">Synthèse</a>
            </li>
            <li class="fr-nav__item">
                <a class="fr-nav__link" {% if active_page == 'target_2031' %} aria-current="true"{% endif %} href="{% url 'project:report_target_2031' project.pk %}">Objectif 2031</a>
            </li>
            <li class="fr-nav__item">
                <a class="fr-nav__link" {% if active_page == 'trajectory' %} aria-current="true"{% endif %} href="{% url 'trajectory:home' project.pk %}">Trajectoires</a>
            </li>
            <li class="fr-nav__item">
                <a class="fr-nav__link" {% if active_page == 'consommation' %} aria-current="true"{% endif %} href="{% url 'project:report_conso' project.pk %}">Consommation</a>
            </li>
            <li class="fr-nav__item"{% if not project.is_artif %} data-toggle="tooltip" title="OCS GE n'est pas disponible pour ce territoire" aria-hidden="true"{% endif %}>
                <a class="fr-nav__link {% if not project.is_artif %} disabled{% endif %}" {% if not project.is_artif %} role="link" aria-disabled="true"{% else %} href="{% url 'project:report_artif' project.pk %}"{% endif %} {% if active_page == 'artificialisation' %} aria-current="true"{% endif %}>Artificialisation</a>
            </li>
            <li class="fr-nav__item"{% if not project.is_artif %} data-toggle="tooltip" title="OCS GE n'est pas disponible pour ce territoire" aria-hidden="true"{% endif %}>
                <a class="fr-nav__link {% if not project.is_artif %} disabled{% endif %}" {% if not project.is_artif %} role="link" aria-disabled="true"{% else %} href="{% url 'project:report_discover' project.pk %}"{% endif %} {% if active_page == 'discover' %} aria-current="true"{% endif %}>Découvrir l'OCSGE</a>
            </li>
            <li class="fr-nav__item">
                <a class="fr-nav__link" {% if active_page == 'update' %}aria-current="true"{% endif %} href="{% url 'project:update' project.pk %}">Paramètres</a>
            </li>
        </ul>
    </nav>
</div>
