<div class="fr-container mb-3">
    <nav class="fr-nav">
        <ul class="fr-nav__list border-bottom">
            <li class="fr-nav__item">
                <a class="fr-nav__link" {% if active_page == 'synthesis' %} aria-current="true"{% endif %} href="{% url 'project:report_synthesis' project.pk %}">Synthèse</a>
            </li>
            <li class="fr-nav__item">
                <a class="fr-nav__link" {% if active_page == 'trajectory' %} aria-current="true"{% endif %} href="{% url 'project:trajectory:home' project.pk %}">Trajectoires</a>
            </li>
            <li class="fr-nav__item">
                <a class="fr-nav__link" {% if active_page == 'consommation' %} aria-current="true"{% endif %} href="{% url 'project:report_conso' project.pk %}">Consommation</a>
            </li>
            <li class="fr-nav__item"{% if not project.is_artif %} data-toggle="tooltip" title="L'OCS GE (données d'artificialisation) n'est pas disponible pour ce territoire." aria-hidden="true"{% endif %}>
                <a class="fr-nav__link {% if not project.is_artif %} disabled{% endif %}" {% if not project.is_artif %} role="link" aria-disabled="true"{% else %} href="{% url 'project:report_artif' project.pk %}"{% endif %} {% if active_page == 'artificialisation' %} aria-current="true"{% endif %}>Artificialisation</a>
            </li>
            <li class="fr-nav__item"{% if not project.is_artif %} data-toggle="tooltip" title="L'OCS GE (données d'artificialisation) n'est pas disponible pour ce territoire." aria-hidden="true"{% endif %}>
                <a class="fr-nav__link {% if not project.is_artif %} disabled{% endif %}" {% if not project.is_artif %} role="link" aria-disabled="true"{% else %} href="{% url 'project:report_discover' project.pk %}"{% endif %} {% if active_page == 'discover' %} aria-current="true"{% endif %}>Découvrir l'OCSGE</a>
            </li>
            <li class="fr-nav__item"{% if not project.is_artif %} data-toggle="tooltip" title="L'OCS GE (données d'artificialisation) n'est pas disponible pour ce territoire." aria-hidden="true"{% endif %}>
                <a class="fr-nav__link {% if not project.is_artif %} disabled{% endif %}" {% if not project.is_artif %} role="link" aria-disabled="true"{% else %} href="{% url 'project:report_urban_zones' project.pk %}"{% endif %} {% if active_page == 'urban_zones' %} aria-current="true"{% endif %}>Zonages d'urbanisme</a>
            </li>
            <li class="fr-nav__item">
                <a class="fr-nav__link" {% if active_page == 'update' %}aria-current="true"{% endif %} href="{% url 'project:update' project.pk %}">Paramètres</a>
            </li>
        </ul>
    </nav>
</div>

{% if project.user is None %}
    <div class="fr-container fr-py-1w">
        <div class="fr-notice fr-notice--info">
            <div class="fr-container">
                <div class="fr-notice__body">
                    <p class="fr-notice__title fr-text--sm">
                        Vous êtes actuellement en mode "anonyme". Si vous souhaitez retrouver votre diagnostic ou vos trajectoires lors de votre prochaine visite
                        {% if user.is_authenticated %}
                            <a href="{% url 'project:claim' project.id %}" class="fr-link fr-link--sm fr-icon-arrow-right-line fr-link--icon-right">associez le à votre compte</a>.
                        {% else %}
                            <a href="{% url 'users:signup' %}?next={% url 'project:claim' project.id %}" class="fr-link fr-link--sm fr-icon-arrow-right-line fr-link--icon-right">créez un compte</a> ou <a class="fr-link fr-link--sm fr-icon-arrow-right-line fr-link--icon-right" href="{% url 'users:signin' %}?next={% url 'project:claim' project.id %}">connectez-vous</a>.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
