{% extends "index.html" %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Synthèse
{% endblock pagetitle %}

{% block headers %}
{% sri_static "project/css/project.css" %}
{% endblock headers %}

{% block content %}
<div class="px-4">
    {% include "project/partials/report_title.html" with title=diagnostic surface=diagnostic.area %}

    {% include "project/report_menu.html" %}

    <div class="fr-container fr-py-3w">
      <div class="fr-callout fr-callout--brown-caramel fr-fi-information-line fr-callout-read-more">
        <div class="fr-callout-read-more__excerpt">
          <p class="fr-text--sm mb-3">L'article 191 de la Loi Climat & Résilience exprime que :</p>
          <p class="fr-text--sm mb-3"><i>« Afin d'atteindre l'objectif national d'absence de toute artificialisation nette des sols en 2050, le rythme de <strong>l'artificialisation des sols</strong> dans les dix années suivant la promulgation de la présente loi doit être tel que, sur cette période, <strong>la consommation totale d'espaces</strong> observée à l'échelle nationale soit inférieure à la moitié de celle observée sur les dix années précédant cette date.»</i></p>
        </div>
        <div class="fr-callout-read-more__text" id="synthesis_1" hidden>
          <p class="fr-text--sm mb-3">L'article 191 de la Loi Climat & Résilience exprime que :</p>
          <p class="fr-text--sm mb-3"><i>« Afin d'atteindre l'objectif national d'absence de toute artificialisation nette des sols en 2050, le rythme de <strong>l'artificialisation des sols</strong> dans les dix années suivant la promulgation de la présente loi doit être tel que, sur cette période, <strong>la consommation totale d'espaces</strong> observée à l'échelle nationale soit inférieure à la moitié de celle observée sur les dix années précédant cette date.»</i></p>
          <p class="fr-text--sm mb-3">Informations clés à retenir sur la mise en œuvre:</p>
          <ul class="fr-text--sm">
            <li>Entre 2021 et 2031 à l'échelle de la région, il est demandé de diviser par 2  la consommation d'espaces Naturels, Agricoles et Forestiers mesurée entre 2011 et 2021.</li>
            <li>D'ici février 2024, les SRADDET territorialiseront les objectifs de diminution pour chaque SCoT.</li>
          </ul>
          <p class="fr-text--sm mb-3">Mon Diagnostic Artificialisation vous accompagne dans le suivi de ces nouvelles règles en produisant des indicateurs s'appuyant sur:</p>
          <ul class="fr-text--sm mb-0">
            <li>la base de données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN ;</li>
            <li>les fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP ;</li>
            <li>les données, en particulier du recensement, de l'INSEE</li>
          </ul>
        </div>

        <button class="fr-btn fr-btn--secondary fr-btn--sm fr-callout-read-more__btn" aria-expanded="false" aria-controls="synthesis_1">
          Lire plus
        </button>
      </div>

      {% if not ocsge_available %}
      <div class="fr-notice fr-notice--info">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p class="fr-notice__title">Les données OCS GE ne sont pas encore disponibles sur ce territoire, vous n'avez donc pas accès aux informations relatives à l'artificialisation, l'usage et la couverture.</p>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="fr-mt-7w">
        <h2>Trajectoires</h2>
        <h4>Estimation de la trajectoire 2031</h4>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-6 fr-grid-row">
            <div class="fr-callout w-100">
              <p class="fr-callout__title">+{{ objective_chart.total_real|floatformat:1 }} ha</p>
              <p>Bilan consommation d'espaces 2011-2020</p>
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-6 fr-grid-row">
            <div class="fr-callout w-100">
              <p class="fr-callout__title">+{{ objective_chart.conso_2031|floatformat:1 }} ha</p>
              <p>Consommation cumulée de la période du 1er jan. 2021 au 31 déc. 2030 (10 ans) avec un seuil de réduction de {{ diagnostic.target_2031 }}%</p>
            </div>
          </div>
        </div>
        <div>
          <a class="fr-link" href="{% url 'project:trajectory:home' diagnostic.pk %}">Consulter les trajectoires</a>
        </div>
        <div class="fr-callout bg-white fr-p-2w mt-4">
          <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-1">Données</button>
          <div class="fr-collapse" id="target-data-1">
              <h6 class="fr-mt-2w">Source</h6>
              <p>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP (millésime min : 2009, millésime max : 2020).</p>
              <h6 class="fr-mt-2w">Calcul</h6>
              <p>La Loi Climat & Résilience recommande entre 2021 et 2031 à l'échelle régionale, de diviser par 2 la consommation d'espaces Naturels, Agricoles et Forestiers (NAF) mesurée entre 2011 et 2021 ; le même calcul a été appliqué à l'échelle du territoire comme scénario standard.</p>
          </div>
        </div>
      </div>

      <div class="fr-mt-12w">
        <h2>Consommation</h2>
        <h4>Bilan de la consommation d'espaces</h4>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-6 fr-grid-row">
            <div class="fr-callout w-100">
              <p class="fr-callout__title">+{{ current_conso|floatformat:1 }} ha</p>
              <p>Consommation d'espaces {{ diagnostic.analyse_start_date }}-{{ diagnostic.analyse_end_date }}</p>
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-6 fr-grid-row">
            <div class="fr-callout w-100">
              <p class="fr-callout__title">+{{ year_avg_conso|floatformat:1 }} ha</p>
              <p>Consommation d'espaces moyenne par an entre {{ diagnostic.analyse_start_date }}-{{ diagnostic.analyse_end_date }}</p>
            </div>
          </div>
        </div>
        <div>
          <a class="fr-link" href="{% url 'project:report_conso' diagnostic.pk %}">Consulter le bilan de consommation d'espaces</a>
        </div>
        <div class="fr-callout bg-white fr-p-2w mt-4">
          <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-2">Données</button>
          <div class="fr-collapse" id="target-data-2">
              <h6 class="fr-mt-2w">Source</h6>
              <p>Données d'évolution des fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP (millésime min : 2009, millésime max : 2020).</p>
              <h6 class="fr-mt-2w">Calcul</h6>
              <p>Les données du Cérema donnent la consommation d'espaces NAF par année, par déterminant et par commune.</p>
          </div>
        </div>
      </div>

      {% if ocsge_available %}
      <div class="fr-mt-12w">
        <h2>Artificialisation</h2>
        <h4>Bilan de l'artificialisation nette entre {{ diagnostic.analyse_start_date }} et {{ diagnostic.analyse_end_date }}</h4>
        <p><strong>Objectif zéro artificialisation nette en 2050</strong></p>
        <p>Sur la période demandée, l'OCS GE couvre de {{ first_millesime }} à {{ last_millesime }}.</p>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-4 fr-grid-row">
            <div class="fr-callout w-100">
              <p class="fr-callout__title">{{ net_artif|floatformat:0 }} ha</p>
              <p>Artificialisation nette sur la période <i class="bi bi-question-circle" data-toggle="tooltip" title="= artificialisation - renaturation" aria-hidden="true"></i></p>
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-4 fr-grid-row">
            <div class="fr-callout w-100">
              <p class="fr-callout__title">+{{ new_artif|floatformat:1 }} ha</p>
              <p>Total artificialisation sur la période</p>
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-4 fr-grid-row">
            <div class="fr-callout w-100">
              <p class="fr-callout__title">+{{ new_natural|floatformat:0 }} ha</p>
              <p>Total renaturation sur la période</p>
            </div>
          </div>
        </div>
        <div>
          <a class="fr-link" href="{% url 'project:report_artif' project.pk %}">Consulter le bilan de l'artificialisation</a>
        </div>
        <div class="fr-callout bg-white fr-p-2w mt-4">
          <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-3">Données</button>
          <div class="fr-collapse" id="target-data-3">
              <h6 class="fr-mt-2w">Source</h6>
              <p>OCS GE (millésime min : 2013, millésime max : 2019).</p>
              <h6 class="fr-mt-2w">Calcul</h6>
              <p>L'artificialisation nette = artificialisation - renaturation sur la période.</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
</div>
{% endblock content %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
window.onload = function(event) {
  _paq.push(['trackEvent', 'north_star_activation_funnel', 'open_dashboard_synthesis', 'step_2_north_star_activation_funnel'])
}
</script>
{% endblock tagging %}
