{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}
{% load sri %}

{% block pagetitle %}
Projection 2031
{% endblock %}

{% block headers %}
{% sri_static "project/css/project.css" %}
{% endblock %}

{% block content %}
<div class="px-4">
    {% include "project/detail_menu.html" %}

    <div class="bg-light rounded-5 border fr-container fr-py-3w">

        <div class="box box-alert px-4 py-2 mb-4 mt-0">
            <p>La Loi Climat & Résilience recommande :</p>

            <ul>
                <li>entre 2021 et 2031 à l'échelle régionale, de diviser par 2  la consommation d'espaces Naturels, Agricoles et Forestiers mesurée entre 2011 et 2021 ;</li>
                <li>d'ici février 2024, que les SRADDET territorialisent les objectifs de diminution pour chaque SCoT.</li>
            </ul>

            <p>En attente de territorialisation des objectifs de la loi Climat & Résilience, SPARTE fait une première simulation à l'échelle du territoire de diagnostic en divisant par 2 la consommation d'espaces par rapport au bilan 2011-2021.</p>

            <p>Pour la mesure de la consommation d'espaces NAF, l'Etat utilise les fichiers fonciers.</p>

            <p>Ces données sont fournies tous les ans depuis 2009. Le dernier millésime de 2021 est la photographie du territoire au 1er janvier 2021, intégrant les évolutions réalisées au cours de l'année 2020.</p>
        </div>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-callout">
                    <p class="fr-callout__title">+{{ objective_chart.total_real|floatformat:1 }} ha</p>
                    <p>Consommation 2011-2020</p>
                </div>
            </div>

            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-callout">
                    <p class="fr-callout__title">+{{ objective_chart.conso_2031|floatformat:1 }} ha</p>
                    <p>Trajectoire 2021-2030 <i class="bi bi-question-circle" data-toggle="tooltip" title="Réduction de {{ project.target_2031 }}% par rapport à la décennie précédente" aria-hidden="true"></i></p>
                </div>
            </div>

            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-callout">
                    <p class="fr-callout__title">+{{ objective_chart.annual_objective_2031|floatformat:1 }} ha/an</p>
                    <p>Trajectoire projetée annualisée</p>
                </div>
            </div>
        </div>

        <div class="w-100 box p-4">
            <div class="clearfix">
                <div class="float-end">Personnaliser l'objectif 2031 : <a href="{% url 'project:update' project.pk %}?next=report-target-2031" class="fr-btn fr-btn--tertiary fr-btn--sm">{{ project.target_2031 }}%</a></div>
                <h3 id="projection-2031">
                    Projection 2031 avec un objectif de réduction de 50%
                </h3>
                <p>Objectif 2031, réduction de 50% de la consommation d'espaces NAF par rapport à la somme des 10 dernières années (2011-2021)</p>
            </div>

            <div id="objective_chart" class=""></div>

            <p class="mt-5 my-0">
                <strong>En <span class="plotband_blue">bleu</span> : période de référence</strong>
            </p>
            <p class="my-0">
                <span class="text-muted"><em>1er jan. 2011 - 31 déc. 2020, 10 ans</em></span>
            </p>
            <p class="mt-2 mb-4">
                Consommation cumulée de référence : {{ objective_chart.total_real|floatformat:1 }} ha
                <br/>Consommation annuelle de référence : {{ objective_chart.annual_real|floatformat:1 }} ha
            </p>

            <p class="my-0">
                <strong>En <span class="plotband_green">vert</span> : projection 2031</strong>
            <p class="my-0">
                <span class="text-muted"><em>1er jan. 2021 - 31 déc. 2030, 10 ans</em></span>
            </p>
            <p class="mt-2">
                Pendant la période de réduction, la loi prévoit que chaque région ne consomme que 50% de ce qui a été consommé pendant la  période de référence.
            </p>
            {% if project.target_2031 != 50 %}
            <p class="mt-2">
                Vous avez personnalisé l'objectif de votre territoire à {{ project.target_2031 }}%.
            </p>
            {% endif %}
            <p class="mt-2 mb-4">
                Objectif de consommation cumulée 2030 : {{ objective_chart.conso_2031|floatformat:1 }} ha
                <br/>Objectif de consommation d'espaces NAF annuelle moyenne : {{ objective_chart.annual_objective_2031|floatformat:1 }} ha
            </p>

            <button class="fr-btn fr-btn--tertiary fr-btn--sm dropdown-toggle rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#target-data" aria-expanded="false" aria-controls="target-data">
                Données
            </button>
            <div class="collapse fr-highlight" id="target-data">
                <div>
                    <h4 class="pt-3">Source</h4>
                    <p>Fichiers fonciers du Cérema issus des données MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP (millésime min : 2009, millésime max : 2021)</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
{% localize off %}
{% sri_static "highcharts/js/highcharts.js" %}
{% sri_static "highcharts/js/exporting.js" %}
{% french_translation %}
{% display_chart 'objective_chart' objective_chart CSP_NONCE %}
{% endlocalize %}
{% endblock %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', 'Objectif 2031'])
})

var fired = false
$( window ).scroll(function() {
    if(fired == false && $( window ).scrollTop() + $( window ).height() > $( "#block-content" ).height() - 100) {
        _paq.push(['trackEvent', 'Consultation diagnostic', 'Fin tableau de bord', 'Objectif 2031'])
        fired = true
    }
})
</script>
{% endblock tagging %}
