{% extends "index.html" %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Rapport Zones d'Urbanisme
{% endblock pagetitle %}

{% block headers %}
{% endblock headers %}

{% block content %}
<div class="px-4">
    {% include "project/partials/report_title.html" with title=diagnostic surface=diagnostic.area %}

    {% include "project/report_menu.html" %}

    <div class="fr-container fr-py-3w">

      {% if project.partially_covered_by_ocsge %}
      <div class="fr-notice fr-notice--info">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p class="fr-notice__title">Les données OCS GE ne sont que partiellement disponibles sur ce territoire, vous n'avez donc pas accès aux informations relatives à l'artificialisation, l'usage et la couverture.</p>
          </div>
        </div>
      </div>
      {% elif not project.uniformly_covered_by_ocsge %}
      <div class="fr-notice fr-notice--info">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p class="fr-notice__title">Les données OCS GE ne sont pas encore disponibles sur ce territoire, vous n'avez donc pas accès aux informations relatives à l'artificialisation, l'usage et la couverture.</p>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="fr-mt-7w">
        <h2>Zones d'urbanisme</h2>
        <h4>Synthèse du taux d'artificialisation</h4>

    </div>
</div>
{% endblock %}
