{% extends "index.html" %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Rapport Zones d'Urbanisme
{% endblock pagetitle %}

{% block headers %}
{% endblock headers %}

{% block content %}
<div class="px-4">
    {% include "project/partials/report_title.html" with title=diagnostic surface=diagnostic.area %}

    {% include "project/report_menu.html" %}

    <div class="fr-container fr-py-3w">

      {% include "project/partials/ocsge_status.html" %}

      <div class="fr-mt-7w">
        <h2>Zones d'urbanisme</h2>
        <h4>Synthèse du taux d'artificialisation</h4>

    </div>
</div>
{% endblock %}
