{% extends "index.html" %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}
{% load sri %}

{% block pagetitle %}
Rapport artificialisation
{% endblock pagetitle %}

{% block headers %}
{% sri_static "project/css/project.css" %}
{% endblock headers %}

{% block content %}
<div class="px-4">
    {% include "project/partials/report_title.html" with title=diagnostic surface=diagnostic.area %}

    {% include "project/report_menu.html" %}

    <div class="fr-container fr-py-3w">
        <div class="fr-callout fr-callout--brown-caramel fr-fi-information-line fr-callout-read-more">
            <div class="fr-callout-read-more__excerpt">
                <p class="fr-text--sm mb-3">L'article 192 de la Loi Climat & Résilience votée en août 2021 définit l'artificialisation comme « une surface dont les sols sont :</p>
                <ul class="fr-text--sm mb-3">
                    <li>soit imperméabilisés en raison du bâti ou d'un revêtement,</li>
                    <li>soit stabilisés et compactés,</li>
                    <li>soit constitués de matériaux composites »</li>
                </ul>
            </div>
            <div class="fr-callout-read-more__text" id="artif_1" hidden>
                <p class="fr-text--sm mb-3">
                    L'article 192 de la Loi Climat & Résilience votée en août 2021 définit
                    l'artificialisation comme « une surface dont les sols sont :
                </p>
                <ul class="fr-text--sm mb-3">
                    <li>soit imperméabilisés en raison du bâti ou d'un revêtement,</li>
                    <li>soit stabilisés et compactés,</li>
                    <li>soit constitués de matériaux composites »</li>
                </ul>
                <p class="fr-text--sm mb-3">Elle se traduit dans l'OCS GE nationale comme la somme des  objets anthropisés dans la description de la couverture des sols.</p>
                <p class="fr-text--sm mb-3">L'application applique ici un croisement des données de l'OCS GE pour définir l'artificialisation conformément aux attendus de la loi Climat & Résilience, et au décret « nomenclature de l'artificialisation des sols» <a rel="noopener noreferrer" target="_blank" href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000045727061">(Décret n° 2022-763 du 29 avril 2022 relatif à la nomenclature de l'artificialisation des sols pour la fixation et le suivi des objectifs dans les documents de planification et d'urbanisme)</a>.</p>
                <p class="fr-text--sm mb-3"><strong>Définition de l'artificialisation des sols</strong></p>
                <p class="fr-text--sm mb-3">La nomenclature précise que les surfaces dont les sols sont soit imperméabilisés en raison du bâti ou d'un revêtement, soit stabilisés et compactés, soit constitués de matériaux composites sont qualifiées de surfaces artificialisées. De même, les surfaces végétalisées herbacées (c'est-à-dire non ligneuses) et qui sont à usage résidentiel, de production secondaire ou tertiaire, ou d'infrastructures, sont considérées comme artificialisées, y compris lorsqu'elles sont en chantier ou à l'état d'abandon.</p>
                <p class="fr-text--sm mb-3">L'artificialisation nette est définie comme « le solde de l'artificialisation et de la renaturation des sols constatées sur un périmètre et sur une période donnés » (article L.101-2-1 du code de l'urbanisme). </p>
                <p class="fr-text--sm mb-3">Au niveau national, l'artificialisation est mesurée par l'occupation des sols à grande échelle (OCS GE), en cours d'élaboration, dont la production sera engagée sur l'ensemble du territoire national d'ici fin 2024.</p>
                <img src="{% static 'project/img/ocs_ge_matrice_passage.png' %}" class="w-100" />
            </div>

            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-callout-read-more__btn" aria-expanded="false" aria-controls="artif_1">
                Lire plus
            </button>
        </div>

        <div class="fr-mt-12w">
            <h2>Etat des lieux du territoire au dernier millésime</h2>
            <a class="fr-link" href="{{ FAQ_URL }}fr/article/quest-ce-quun-millesime-110ihlr/" target="_blank" rel="noopener noreferrer">
                Qu'est-ce qu'un millésime ?
            </a>

            <div class="fr-mt-7w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-md-4 fr-grid-row">
                        <div class="fr-callout w-100">
                        <p class="fr-callout__title">{{ total_surface|floatformat:0 }} ha</p>
                        <p>Surface du territoire</p>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4 fr-grid-row">
                        <div class="fr-callout w-100">
                        <p class="fr-callout__title">{{ artif_area|floatformat:0 }} ha</p>
                        <p>
                            <span
                                class="dotted"
                                data-toggle="tooltip"
                                title="Surfaces répondant à la définition de la loi Climat et Résilience et à ses décrets d'application en {{ last_millesime }}"
                                aria-hidden="true">
                                Surfaces artificialisées
                            </span> en {{ last_millesime }}
                        </p>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4 fr-grid-row">
                        <div class="fr-callout w-100">
                        <p class="fr-callout__title">{{ rate_artif_area|floatformat:0 }}%</p>
                        <p>Taux de surfaces artificialisées</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-mt-12w">
            <h2>Evolution en volume de {{ first_millesime }} à {{ last_millesime }}</h2>
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-12 fr-col-md-6 fr-col-lg-3 fr-grid-row">
                <div class="fr-callout w-100">
                  <p class="fr-callout__title">{{ new_artif|floatformat:1 }} ha</p>
                  <p>
                    <span
                        class="dotted"
                        data-toggle="tooltip"
                        title="Evolution des surfaces non-artificialisées en surface artificialisées."
                        aria-hidden="true">
                            Artificialisation
                    </span>
                    </p>
                </div>
              </div>
              <div class="fr-col-12 fr-col-md-6 fr-col-lg-3 fr-grid-row">
                <div class="fr-callout w-100">
                  <p class="fr-callout__title">{{ new_natural|floatformat:1 }} ha</p>
                  <p>
                    <span
                        class="dotted"
                        data-toggle="tooltip"
                        title="Evolution des surfaces artificialisées en surface non-artificialisées"
                        aria-hidden="true">
                            Renaturation
                    </span>
                    </p>
                </div>
              </div>
              <div class="fr-col-12 fr-col-md-6 fr-col-lg-3 fr-grid-row">
                <div class="fr-callout w-100">
                  <p class="fr-callout__title">{{ net_artif|floatformat:1 }} ha</p>
                  <p>
                    <span
                        class="dotted"
                        data-toggle="tooltip"
                        title="Différence entre l'artificialisation et la renaturation"
                        aria-hidden="true">
                            Artificialisation nette
                    </span>
                    </p>

                </div>
              </div>
              <div class="fr-col-12 fr-col-md-6 fr-col-lg-3 fr-grid-row">
                <div class="fr-callout w-100">
                  <p class="fr-callout__title">{{ net_artif_rate|floatformat:1 }} %</p>
                    <p>
                        <span
                            class="dotted"
                            data-toggle="tooltip"
                            title="Rapport entre l'artificialisation nette de {{ first_millesime }} à {{ last_millesime }} et le total des surfaces artificialisées du territoire."
                            aria-hidden="true">
                                Taux d'artificialisation nette
                        </span>
                    </p>
                </div>
              </div>
            </div>
        </div>

        <div class="fr-mt-12w">
            <h2>Aperçu de l'artificialisation</h2>

            <h3>Evolution de l'artificialisation entre {{ first_millesime }} et {{ last_millesime }}</h3>

            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-8">
                    <div class="border fr-p-2w h-100">
                        <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                            <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
                                <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="chart_waterfall" data-type="image/png">PNG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="chart_waterfall" data-type="image/jpeg">JPEG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="chart_waterfall" data-type="application/pdf">PDF</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="chart_waterfall" data-type="image/svg+xml">Vectoriel</a>
                                    </li>
                                </ul>
                            </div>

                            <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fullscreen-chart" data-chart-target="chart_waterfall" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>
                        </div>
                        <div id="chart_waterfall"></div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-lg-4">
                    {% include "project/partials/artif_territory_map.html" %}
                </div>
            </div>

            <div class="fr-notice fr-mt-4w">
                <div class="fr-container">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <span class="fr-icon-information-line" aria-hidden="true"></span>
                            <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                            <p class="fr-tag fr-tag--sm fr-tag--success">
                                <strong>OCS GE</strong>
                            </p>
                        </div>
                        <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-2">Détails données et calcul</button>
                    </div>
                    <div class="fr-collapse" id="target-data-2">
                        <h6 class="fr-mt-2w">Source</h6>
                        <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse traduite grâce à la matrice de passage.</p>

                        <h6 class="fr-mt-2w">Calcul</h6>
                        <p class="fr-text--sm">Artificialisation sur la période - renaturation sur la période.</p>

                        <h6 class="fr-mt-2w">Données</h6>
                        <div class="table-responsive">
                            <table class="fr-table">
                                <caption>Évolution de l'artificialisation sur le territoire entre {{ first_millesime }} et {{ last_millesime }} (en ha)</caption>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        {% for period in headers_evolution_artif %}
                                        <th scope="col" class="text-end">{{ period }} (Ha)</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for serie_name, data in table_evolution_artif.items %}
                                    <tr>
                                        <th scope="row">{{ serie_name }}</th>
                                        {% for period, val in data.items %}
                                        <td class="text-end">{{ val|floatformat:1 }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if nb_communes > 1 %}
        <div class="fr-mt-12w">
            <h3 id="conso-annuelle">Artificialisation nette entre {{ first_millesime }} et {{ last_millesime }}</h3>

            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-8">
                    <div class="border fr-p-2w h-100">
                        <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                            <div class="dropdown custom-dropdown fr-mr-2w">
                                <button class="fr-btn fr-btn--tertiary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill" data-bs-toggle="dropdown" aria-expanded="false">
                                    Maille d'analyse
                                </button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="fr-nav__link" {% if level == "COMM" %} aria-current="true"{% endif %} href="{% url "project:report_artif" project.id %}?level_conso=COMMUNE">Communes</a>
                                    </li>
                                    {% if land_type in "DEPART_REGION_COMP" %}
                                    <li>
                                        <a class="fr-nav__link" {% if level == "EPCI" %} aria-current="true"{% endif %} href="{% url "project:report_artif" project.id %}?level_conso=EPCI">EPCI</a>
                                    </li>
                                    {% endif %}
                                    {% if land_type in "REGION_COMP" %}
                                    <li>
                                        <a class="fr-nav__link" {% if level == "DEPART" %} aria-current="true"{% endif %} href="{% url "project:report_artif" project.id %}?level_conso=DEPART">Départements</a>
                                    </li>
                                    {% endif %}
                                    {% if land_type in "COMP" %}
                                    <li>
                                        <a class="fr-nav__link" {% if level == "REGION" %} aria-current="true"{% endif %} href="{% url "project:report_artif" project.id %}?level_conso=REGION">Régions</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
                                <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="chart_comparison" data-type="image/png">PNG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="chart_comparison" data-type="image/jpeg">JPEG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="chart_comparison" data-type="application/pdf">PDF</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="chart_comparison" data-type="image/svg+xml">Vectoriel</a>
                                    </li>
                                </ul>
                            </div>

                            <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fullscreen-chart" data-chart-target="chart_comparison" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>
                        </div>
                        <div id="chart_comparison"></div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-lg-4">
                    {% include "project/partials/artif_cities_map.html" %}
                </div>
            </div>

            <div class="fr-notice fr-mt-4w">
                <div class="fr-container">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <span class="fr-icon-information-line" aria-hidden="true"></span>
                            <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                            <p class="fr-tag fr-tag--sm fr-tag--success">
                                <strong>OCS GE</strong>
                            </p>
                        </div>
                        <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-1">Détails données et calcul</button>
                    </div>
                    <div class="fr-collapse" id="target-data-1">
                        <h6 class="fr-mt-2w">Source</h6>
                        <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse.</p>
    
                        <h6 class="fr-mt-2w">Calcul</h6>
                        <p class="fr-text--sm">OCS GE traduite grâce à la matrice de passage.</p>
    
                        <h6 class="fr-mt-2w">Données</h6>
    
                        <div class="table-responsive">
                            <table class="fr-table">
                                <caption>Artificialisation nette sur les communes du territoire entre {{ first_millesime }} et {{ last_millesime }} (en ha)</caption>
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="2">Commune</th>
                                        <th scope="col" class="text-end" rowspan="2">Surface</th>
                                        {% for period in table_artif_net_periods %}
                                            <th scope="col" class="text-end">Artificialisation ({{ period }})</th>
                                            <th scope="col" class="text-end">Renaturation ({{ period }})</th>
                                            <th scope="col" class="text-end">Artificialisation nette ({{ period }})</th>
                                        {% endfor %}
                                        <th scope="col" class="text-end" rowspan="2">Artificialisation nette totale</th>
                                        <th scope="col" class="text-end" rowspan="2">% d'artificialisation nette total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in table_artif_net_records %}
                                    <tr>
                                        <th scope="row">{{ record.name }}</th>
                                        <td class="text-end">{{ record.area|floatformat:1 }}</td>
                                        {% for period in record.periods %}
                                        <td class="text-end">{{ period.new_artif|floatformat:1 }}</td>
                                        <td class="text-end">{{ period.new_natural|floatformat:1 }}</td>
                                        <td class="text-end">{{ period.net_artif|floatformat:1 }}</td>
                                        {% endfor %}
                                        <td class="text-end">{{ record.total_net_artif|floatformat:1 }}</td>
                                        <td class="text-end">{{ record.net_artif_percentage|floatformat:2 }} %</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="fr-mt-7w">
            <h2>Détails de l'artificialisation entre {{ first_millesime }} et {{ last_millesime }}</h2>

            <h3>Grandes familles de couverture des sols des surfaces artificialisées</h3>

            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-4">
                    <div class="border fr-p-2w">
                        <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                            <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
                                <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="couv_artif_sol" data-type="image/png">PNG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="couv_artif_sol" data-type="image/jpeg">JPEG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="couv_artif_sol" data-type="application/pdf">PDF</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="couv_artif_sol" data-type="image/svg+xml">Vectoriel</a>
                                    </li>
                                </ul>
                            </div>

                            <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="couv_artif_sol" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

                            <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#couvArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
                        </div>
                        <div id="couv_artif_sol"></div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-lg-8">
                    <div class="border fr-p-2w">
                        <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                            <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
                                <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_couv_artif_chart" data-type="image/png">PNG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_couv_artif_chart" data-type="image/jpeg">JPEG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_couv_artif_chart" data-type="application/pdf">PDF</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_couv_artif_chart" data-type="image/svg+xml">Vectoriel</a>
                                    </li>
                                </ul>
                            </div>

                            <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="detail_couv_artif_chart" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

                            <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#couvArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
                        </div>
                        <div id="detail_couv_artif_chart"></div>
                    </div>
                </div>
            </div>

            <div class="fr-notice fr-mt-4w">
                <div class="fr-container">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <span class="fr-icon-information-line" aria-hidden="true"></span>
                            <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                            <p class="fr-tag fr-tag--sm fr-tag--success">
                                <strong>OCS GE</strong>
                            </p>
                        </div>
                        <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-couv">Détails données et calcul</button>
                    </div>
                    <div class="fr-collapse" id="target-data-couv">
                        <h6 class="fr-mt-2w">Source</h6>
                        <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse (millésime min : {{ project.first_year_ocsge }}, millésime max : {{ project.last_year_ocsge }}).</p>
    
                        <h6 class="fr-mt-2w">Calcul</h6>
                        <p class="fr-text--sm">OCS GE traduite grâce à la matrice de passage.</p>
    
                        <h6 class="fr-mt-2w">Exemple de lecture</h6>
                        <p class="fr-text--sm">Il y a eu 7.5 ha de nouvelles Zones non bâties représentant 10% de la surface de toutes les nouvelles surfaces artificialisées et 2 ha d'anciennes Zones non bâties renaturées représentant 16% de la surface de toutes les zones renaturées.</p>
    
                        <h6 class="fr-mt-2w">Données</h6>
                        <p class="fr-text--sm">En hectare (Ha).</p>
                        <div class="table-responsive">
                            <table class="fr-table fr-table--no-caption table-last-row-bold">
                                <caption>Évolution de l'artificialisation par type de couverture sur le territoire de {{ first_millesime }} à {{ last_millesime }} (en ha et %)</caption>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="text-end">Artificialisation</th>
                                        <th scope="col" class="text-end text-muted">%</th>
                                        <th scope="col" class="text-end">Renaturation</th>
                                        <th scope="col" class="text-end text-muted">%</th>
                                        <th scope="col" class="text-end">Artificialisé en {{ last_millesime }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for couv in detail_couv_artif_table %}
                                    <tr>
                                        <th scope="row">{{ couv.code_prefix }} {{ couv.label }}</th>
                                        <td class="text-end">{{ couv.artif|floatformat:1 }}</td>
                                        <td class="text-end text-muted">{{ couv.artif|percent:detail_total_artif }}</td>
                                        <td class="text-end">{{ couv.renat|floatformat:1 }}</td>
                                        <td class="text-end text-muted">{{ couv.renat|percent:detail_total_renat }}</td>
                                        <td class="text-end">{{ couv.last_millesime|floatformat:1 }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th scope="row">Total</th>
                                        <td class="text-end">{{ detail_total_artif|floatformat:1 }}</td>
                                        <td class="text-end text-muted">100%</td>
                                        <td class="text-end">{{ detail_total_renat|floatformat:1 }}</td>
                                        <td class="text-end text-muted">100%</td>
                                        <td class="text-end">{{ artif_area|floatformat:1 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-mt-7w">
            <h3>Grandes familles d'usages du sol des surfaces artificialisées</h3>

            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-4">
                    <div class="border fr-p-2w">
                        <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                            <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
                                <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="usage_artif_sol" data-type="image/png">PNG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="usage_artif_sol" data-type="image/jpeg">JPEG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="usage_artif_sol" data-type="application/pdf">PDF</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="usage_artif_sol" data-type="image/svg+xml">Vectoriel</a>
                                    </li>
                                </ul>
                            </div>

                            <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="usage_artif_sol" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

                            <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#usageArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
                        </div>
                        <div id="usage_artif_sol"></div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-lg-8">
                    <div class="border fr-p-2w">
                        <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                            <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
                                <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_usage_artif_chart" data-type="image/png">PNG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_usage_artif_chart" data-type="image/jpeg">JPEG</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_usage_artif_chart" data-type="application/pdf">PDF</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_usage_artif_chart" data-type="image/svg+xml">Vectoriel</a>
                                    </li>
                                </ul>
                            </div>

                            <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="detail_usage_artif_chart" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

                            <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#usageArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
                        </div>
                        <div id="detail_usage_artif_chart"></div>
                    </div>
                </div>
            </div>

            <div class="fr-notice fr-mt-4w">
                <div class="fr-container">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <span class="fr-icon-information-line" aria-hidden="true"></span>
                            <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                            <p class="fr-tag fr-tag--sm fr-tag--success">
                                <strong>OCS GE</strong>
                            </p>
                        </div>
                        <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-usage">Détails données et calcul</button>
                    </div>
                    <div class="fr-collapse" id="target-data-usage">
                        <h6 class="fr-mt-2w">Source</h6>
                        <p class="fr-text--sm">Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse (millésime min : {{ project.first_year_ocsge }}, millésime max : {{ project.last_year_ocsge }}).</p>
    
                        <h6 class="fr-mt-2w">Calcul</h6>
                        <p class="fr-text--sm">OCS GE traduite grâce à la matrice de passage.</p>
    
                        <h6 class="fr-mt-2w">Données</h6>
                        <p class="fr-text--sm">En hectare (Ha).</p>
                        <div class="table-responsive">
                            <table class="fr-table table-last-row-bold">
                                <caption>Évolution de l'artificialisation par type d'usage sur le territoire de {{ first_millesime }} à {{ last_millesime }} (en ha et %)</caption>
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col" class="text-end">Artificialisation</th>
                                        <th scope="col" class="text-end text-muted">%</th>
                                        <th scope="col" class="text-end">Renaturation</th>
                                        <th scope="col" class="text-end text-muted">%</th>
                                        <th scope="col" class="text-end">Artificialisé en {{ last_millesime }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in detail_usage_artif_table %}
                                    <tr>
                                        <th scope="row">{{ item.code_prefix }} {{ item.label }}</th>
                                        <td class="text-end">{{ item.artif|floatformat:1 }}</td>
                                        <td class="text-end text-muted">{{ item.artif|percent:detail_total_artif }}</td>
                                        <td class="text-end">{{ item.renat|floatformat:1 }}</td>
                                        <td class="text-end text-muted">{{ item.renat|percent:detail_total_renat }}</td>
                                        <td class="text-end">{{ item.last_millesime|floatformat:1 }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th scope="row">Total</th>
                                        <td class="text-end">{{ detail_total_artif|floatformat:1 }}</td>
                                        <td class="text-end text-muted">100%</td>
                                        <td class="text-end">{{ detail_total_renat|floatformat:1 }}</td>
                                        <td class="text-end text-muted">100%</td>
                                        <td class="text-end">{{ artif_area|floatformat:1 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="couvArtifSol" tabindex="-1" aria-labelledby="couvArtifSolLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 class="fr-modal__title" id="couvArtifSolLabel">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Graphique couverture des sols
                </h1>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-drag-move-2-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez afficher le graphique en plein écran.</p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-download-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez télécharger le graphique sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
                <p class="fr-text--sm">Exemple de lecture: 8% des nouvelles surfaces artificialisées le sont pour des Zones bâties.</p>
                <p class="fr-text--sm">Vous pouvez analyser la répartition des surfaces artificialisées sur la période en pourcentage avec le camembert, ou en volume au dernier millésime avec l'histogramme.</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="usageArtifSol" tabindex="-1" aria-labelledby="usageArtifSolLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 class="fr-modal__title" id="usageArtifSolLabel">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Graphique grandes familles d'usages du sol des surfaces artificialisées
                </h1>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-drag-move-2-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez afficher le graphique en plein écran.</p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-download-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez télécharger le graphique sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
                <p class="fr-text--sm">Exemple de lecture: 55% des nouvelles surfaces artificialisées le sont pour des Zones résidentielles.</p>
                <p class="fr-text--sm">Vous pouvez analyser la répartition des surfaces artificialisées sur la période en pourcentage avec le camembert, ou en volume au dernier millésime avec l'histogramme.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block bodyend %}
{% localize off %}
{% sri_static "highcharts/js/highcharts.js" %}
{% sri_static "highcharts/js/highcharts-more.js" %}
{% sri_static "highcharts/js/exporting.js" %}
{% french_translation %}
{% display_chart 'detail_couv_artif_chart' detail_couv_artif_chart CSP_NONCE %}
{% display_chart 'couv_artif_sol' couv_artif_sol CSP_NONCE %}
{% display_chart 'detail_usage_artif_chart' detail_usage_artif_chart CSP_NONCE %}
{% display_chart 'usage_artif_sol' usage_artif_sol CSP_NONCE %}
{% display_chart 'chart_comparison' chart_comparison CSP_NONCE %}
{% display_chart 'chart_waterfall' chart_waterfall CSP_NONCE %}

{% endlocalize %}
{% endblock bodyend %}
