{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block pagetitle %}
Sélectionner un plan
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-12">
        <h1 class="mb-5">Diagnostiquer mon territoire</h1>

        <p class="mb-5">
            Veuillez sélectionner un territoire à diagnostiquer. Vous pouvez sélectionner une région, un département ou un EPCI. Utilisez le formulaire ci-dessous pour réaliser votre sélection.
        </p>

        <div class="border p-1 border-warning rounded">
            <form action="" method="post">
                {% csrf_token %}

                <p class="fs-4">
                <strong>Territoire sélectionné :</strong>
                <br/>
                {% if region_form %}
                    <span class="fs-6">{{ region_form.region }}</span>
                {% else %}
                    {{ region.name }}
                    <a href="{% url 'project:select' %}"><i class="bi bi-x-circle-fill fs-6 ms-1"></i></a>
                    >
                    {% if departement_form %}
                        <span class="fs-6">{{ departement_form.departement }}</span>
                    {% else %}
                        {{ departement.name}}
                        <a href="{% url 'project:select' %}?region_id={{ region.id }}"><i class="bi bi-x-circle-fill fs-6 ms-1"></i></a>
                        >
                        {% if epci %}
                            {{ epci.name}}
                            <a href="{% url 'project:select' %}?departement_id={{ departement.id }}"><i class="bi bi-x-circle-fill fs-6 ms-1"></i></a>
                        {% else %}
                            <span class="fs-6">{{ epci_form.epci }}</span> {{ epci_form.departement }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </p>

            <p>
                {% if region or departement or epci %}
                    <a href="#" class="btn btn-primary w-100">Voir le diagnostic</a>
                {% endif %}
            </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
<script language="javascript">
$('#id_region').on('change', function(){ $(this).closest('form').submit() })
$('#id_departement').on('change', function(){ $(this).closest('form').submit() })
$('#id_epci').on('change', function(){ $(this).closest('form').submit() })
</script>
{% endblock %}
