{% extends "index.html" %}

{% load static %}

{% block pagetitle %}
Test Ad Words
{% endblock pagetitle %}

{% block content %}
Test Ad Words
{% endblock content %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    // Google adwords
    gtag('event', 'conversion', {
        'send_to': 'AW-11157347812/iZaJCM7iz6kYEOS7nsgp',
        'value': 5.0,
        'event_callback': function () { }
    });
})
</script>
{% endblock tagging %}
