{% extends 'index.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load sri %}

{% block pagetitle %}
Modifier
{% endblock %}

{% block headers %}
{% sri_static "project/css/project.css" %}
<style nonce="{{ CSP_NONCE }}">
form > div {
    margin-top: 30px;
    padding: 3px;
}
#hint_id_is_public{
    display: block;
    width: 100%;
}
</style>
{% endblock %}


{% block content %}
<div class="px-4">
    {% include "project/partials/report_title.html" with title=diagnostic surface=diagnostic.area %}

    {% include "project/detail_menu.html" %}

    <div class="fr-container">
        <div class="d-flex flex-column align-items-center">
            <div class="fr-col-12 fr-col-lg-8">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex fr-mt-4w">
                        <div class="flex-grow-1">
                            <a href="{% url 'project:delete' project.pk %}" class="fr-btn fr-btn--secondary text-danger">
                                Supprimer
                            </a>
                        </div>
                        <div class="fr-mr-2w">
                            <a href="{% url 'project:detail' project.pk %}" class="fr-btn fr-btn--secondary">
                                Annuler
                            </a>
                        </div>
                        <div>
                            <button class="fr-btn" type="submit">
                                Mettre à jour
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="fr-container fr-my-7w">
        <div class="fr-col-12 fr-col-lg-8 m-auto fr-pt-5w border-top">
            <div class="fw-bold" id="territoires-de-comparaison">
                <a class="float-end" href="{% url 'project:lookalike' project.id %}?next={% url 'project:update' project.id %}&anchor=territoires-de-comparaison">
                    <i class="bi bi-plus-circle"></i>
                </a>
                Territoires de comparaison
            </div>
            {% if project.look_a_like %}
                <div class="d-flex flex-column mt-2">
                {% for land in project.get_look_a_like %}
                    <div class="w100">
                        {{ land.name }}
                        <a href="{% url 'project:rm-lookalike' project.id land.public_key %}?next={% url 'project:update' project.id %}&anchor=territoires-de-comparaison" class="float-end"><i class="bi bi-trash text-danger"></i></a>
                    </div>
                {% endfor %}
                </div>
            {% else %}
            <p class="text-muted">Aucun territoire.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block bodyend %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
const queryString = window.location.search
const urlParams = new URLSearchParams(queryString)
const next = urlParams.get('next')
if (next == "report-target-2031"){
    $('#id_target_2031').focus()
}
</script>
{% endblock bodyend %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Consultation diagnostic', 'Tableau de bord', 'Synthèse'])
})

var fired = false
$( window ).scroll(function() {
    if(fired == false && $( window ).scrollTop() + $( window ).height() > $( "#block-content" ).height() - 100) {
        _paq.push(['trackEvent', 'Consultation diagnostic', 'Fin tableau de bord', 'Synthèse'])
        fired = true
    }
})
</script>
{% endblock tagging %}
