@charset "UTF-8";

.key-figure {
    background-color: rgb(241, 250, 255);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    width: 230px;
    height: 150px;
    float: left !important;
    margin: 15px;
}

.key-figure-green {
    background-color: rgb(228, 255, 244);
}

.key-figure-yellow {
    background-color: rgb(255, 248, 221);
}

.key-figure-red {
    background-color: rgb(255, 239, 243);
}

.key-figure .card-header {
    font-weight: normal;
}

.key-figure .figure {
    font-size: 2.5em;
    margin-bottom: 0px;
}

.key-figure .card-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.rounded-5 {
    border-radius: 0.5rem;
}

.box {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 0.5rem !important;
    background-color: rgb(255, 255, 255);
    margin-top: 4rem;
}

.box-alert {
    background-color: rgb(255, 243, 205);
    color: rgb(102, 77, 3);
}

.scrollme-x {
    overflow-x: auto;
}

.box h3 {
    margin-top: 1rem;
    font-size: 1.35em;
    font-weight: 700;
    margin-bottom: 2rem;
}

.box tr:hover {
    background-color: rgb(241, 250, 255);
    color: rgb(0, 59, 117) !important;
}

.list-item {
    background-color: rgb(255, 255, 255);
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #fff !important;
}

.list-item:hover {
    background-color: rgb(242, 245, 255);
    border: 1px solid #dee2e6 !important;
}
