@charset "UTF-8";

.rounded-5 {
    border-radius: 0.5rem;
}

.box {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 0.5rem !important;
    background-color: rgb(255, 255, 255);
    margin-top: 4rem;
    position: relative;
}

.box-alert {
    background-color: rgb(255, 243, 205);
    color: rgb(102, 77, 3);
}

.scrollme-x {
    overflow-x: auto;
}

.box h3 {
    margin-top: 1rem;
    font-size: 1.35em;
    font-weight: 700;
    margin-bottom: 2rem;
}

.box tr:hover {
    background-color: rgb(241, 250, 255);
    color: rgb(0, 59, 117) !important;
}

.list-item {
    background-color: rgb(255, 255, 255);
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #fff !important;
}

.list-item:hover {
    background-color: rgb(242, 245, 255);
    border: 1px solid #dee2e6 !important;
}

.grid-item {
    width: 300px;
}

.grid-item--width2 {
    width: 600px;
}

.card-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.bg-light-blue {
    background-color: rgb(242, 245, 255);
}

.grab {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grab:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.city-group {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    width: 300px;
    overflow-y: hidden;
    float: left !important;
    margin: 15px;
}

.city-group>.card-body {
    max-height: 600px;
    overflow-y: auto;
}

#detail_artif_chart {
    height: 250px;
}

#group-model {
    display: none;
}

.plotband_blue{
    fill: rgba(149, 206, 255, 0.1);
    color: rgb(149, 206, 255);
}

.plotband_green{
    fill: rgba(169, 255, 150, 0.1);
    color: rgb(135, 204, 120);
}

.plotband_orange{
    fill: rgba(255, 188, 117, 0.1);
    color: rgb(255, 188, 117);
}

.plotband_pink{
    fill: rgba(255, 117, 153, 0.1);
    color: rgb(255, 117, 153);
}

.plotband_violet{
    fill: rgba(153, 158, 255, 0.1);
    color: rgb(153, 158, 255);
}

.plotband_gray {
    fill: rgba(92, 92, 97, 0.1);
    color: rgb(92, 92, 97);
}

.dotted {
    text-decoration: underline dotted;
}
