<script language="javascript" nonce="[NONE_PLACEHOLDER]">
///////////////////////////////
// Traduction des menus et autres éléments d'un chart
///////////////////////////////
Highcharts.setOptions({
    lang: {
        months: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'],
        weekdays: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
        shortMonths: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aout', 'Sept', 'Oct', 'Nov', 'Déc'],
        decimalPoint: ',',
        thousandsSep: ' ',
        downloadPNG: 'Télécharger en image PNG',
        downloadJPEG: 'Télécharger en image JPEG',
        downloadPDF: 'Télécharger en document PDF',
        downloadSVG: 'Télécharger en document Vectoriel',
        exportButtonTitle: 'Export du graphique',
        loading: 'Chargement en cours...',
        printButtonTitle: 'Imprimer le graphique',
        printChart: 'Imprimer',
        viewFullscreen: 'Afficher en plein écran',
        resetZoom: 'Réinitialiser le zoom',
        resetZoomTitle: 'Réinitialiser le zoom au niveau 1:1'
    }
})
</script>
