{% extends 'index.html' %}

{% load static %}
{% load project_tags %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load highcharts_tags %}
{% load sri %}

{% block pagetitle %}
Test
{% endblock %}

{% block content %}

<div>
    <h1 class="mb-3">Détail de la zone urbaine</h1>
    <ul class="fr-tags-group">
        <li>
            <p class="fr-tag fr-tag--sm">Surface de la zone:&nbsp;<strong>{{ surface|floatformat:1 }} ha</strong></p>
        </li>
        <li>
            <p class="fr-tag fr-tag--sm">Période demandée:&nbsp;<strong>De {{ diagnostic.analyse_start_date }} à {{ diagnostic.analyse_end_date }}</strong></p>
        </li>
        <li>
            <p class="fr-tag fr-tag--sm">Type de zone zone:&nbsp;<strong>{{ zone_urba.typezone }}</strong></p>
        </li>
        <li>
            <p class="fr-tag fr-tag--sm">Libellé:&nbsp;<strong>{{ zone_urba.libelle }}</strong></p>
        </li>
        <li>
            <p class="fr-tag fr-tag--sm">Libellé long:&nbsp;<strong>{{ zone_urba.libelong }}</strong></p>
        </li>
    </ul>
    <p>Sur la période demandée, l'OCS GE couvre de {{ diagnostic.first_year_ocsge|stringformat:"s" }} à {{ diagnostic.last_year_ocsge|stringformat:"s" }}.</p>
</div>


<div class="fr-grid-row fr-grid-row--gutters">

    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-callout">
            <p class="fr-callout__title">{{ total_artif_area|floatformat:1 }} ha</p>
            <p>Surface artificialisée en {{ diagnostic.last_year_ocsge|stringformat:"s" }}</p>
        </div>
    </div>

    <div class="fr-col-12 fr-col-md-4">
        <div class="fr-callout">
            <p class="fr-callout__title">{{ filling_artif_rate|floatformat:1 }}%</p>
            <p>Taux de remplissage en {{ diagnostic.last_year_ocsge|stringformat:"s" }}</p>
        </div>
    </div>

</div>


<div class="fr-mt-7w" hx-get="{% url 'project:artif-net-chart' diagnostic.id %}?zone_urba_id={{ zone_urba.id|stringformat:"s" }}" hx-trigger="revealed">
    <h3>Artificialisation net entre {{ diagnostic.first_year_ocsge|stringformat:"s" }} et {{ diagnostic.last_year_ocsge|stringformat:"s" }}</h3>

    <!-- TODO Sofian ajouter skeletton -->
    <div class="fr-custom-loader"></div>
    
</div>


<div class="fr-mt-7w">
    <h2>Détails de l'artificialisation entre {{ diagnostic.first_year_ocsge|stringformat:"s" }} et {{ diagnostic.last_year_ocsge|stringformat:"s" }}</h2>

    <h3>Grandes familles de couverture des sols des espaces artificialisés</h3>

    <div hx-get="{% url 'project:artif-detail-couv-chart' diagnostic.id %}?zone_urba_id={{ zone_urba.id|stringformat:"s" }}" hx-trigger="revealed" hx-swap="outerHTML">
        <div class="fr-custom-loader"></div>
    </div>

    <h3>Grandes familles d'usages du sol des espaces artificialisés</h3>

    <div hx-get="{% url 'project:artif-detail-usa-chart' diagnostic.id %}?zone_urba_id={{ zone_urba.id|stringformat:"s" }}" hx-trigger="revealed" hx-swap="outerHTML">
        <div class="fr-custom-loader"></div>
    </div>

</div>
{% endblock content %}


{% block bodyend %}
{% localize off %}

{% sri_static "highcharts/js/highcharts.js" %}
{% sri_static "highcharts/js/highcharts-more.js" %}
{% sri_static "highcharts/js/exporting.js" %}
{% french_translation %}

{% endlocalize %}
{% endblock %}