
<div id="target-artif-territory-map" class="border theme-map-image-container h-100 fr-p-2w d-flex flex-column align-items-center justify-content-between">
    <a href="{% url 'project:theme-my-artif' project.pk %}" target="_blank">
        <div class="d-flex justify-content-end align-items-center w-100 fr-mb-2w">
            <button class="fr-btn fr-icon-external-link-line fr-btn--tertiary fr-btn--sm"></button>
        </div>
        <p class="fw-bold">
            Carte comprendre l'artificialisation de son territoire
        </p>
        <div id="react-carte-comprendre-artif"></div>
    </a>
</div>
