{% load highcharts_tags %}
{% load project_tags %}


<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-4">
        <div class="border fr-p-2w">
            <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
                    <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="fr-nav__link export-chart" href="#" data-chart-target="usage_artif_sol" data-type="image/png">PNG</a>
                        </li>
                        <li>
                            <a class="fr-nav__link export-chart" href="#" data-chart-target="usage_artif_sol" data-type="image/jpeg">JPEG</a>
                        </li>
                        <li>
                            <a class="fr-nav__link export-chart" href="#" data-chart-target="usage_artif_sol" data-type="application/pdf">PDF</a>
                        </li>
                        <li>
                            <a class="fr-nav__link export-chart" href="#" data-chart-target="usage_artif_sol" data-type="image/svg+xml">Vectoriel</a>
                        </li>
                    </ul>
                </div>

                <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="usage_artif_sol" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

                <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#usaArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
            </div>
            <div id="usage_artif_sol"></div>
            {% display_chart 'usage_artif_sol' usage_artif_sol CSP_NONCE %}
        </div>
    </div>
    <div class="fr-col-12 fr-col-lg-8">
        <div class="border fr-p-2w">
            <div class="d-flex justify-content-end align-items-center fr-mb-2w">
                <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
                    <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_usage_artif_chart" data-type="image/png">PNG</a>
                        </li>
                        <li>
                            <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_usage_artif_chart" data-type="image/jpeg">JPEG</a>
                        </li>
                        <li>
                            <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_usage_artif_chart" data-type="application/pdf">PDF</a>
                        </li>
                        <li>
                            <a class="fr-nav__link export-chart" href="#" data-chart-target="detail_usage_artif_chart" data-type="image/svg+xml">Vectoriel</a>
                        </li>
                    </ul>
                </div>

                <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="detail_usage_artif_chart" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

                <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#usaArtifSol" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
            </div>
            <div id="detail_usage_artif_chart"></div>
            {% display_chart 'detail_usage_artif_chart' detail_usage_artif_chart CSP_NONCE %}
        </div>
    </div>
</div>

<div class="fr-callout bg-white fr-p-2w mt-4">
    <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-usa">Données et calcul</button>
    <div class="fr-collapse" id="target-data-usa">
        <h6 class="fr-mt-2w">Source</h6>
        <p>Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse (millésime min : 2013, millésime max : 2019).</p>

        <h6 class="fr-mt-2w">Calcul</h6>
        <p>OCS GE traduite grâce à la matrice de passage.</p>

        <h6 class="fr-mt-2w">Exemple de lecture</h6>
        <p>Il y a eu 7.5 ha de nouvelles Zones non bâties représentant 10% de la surface de toutes les nouvelles surfaces artificialisées et 2 ha d'anciennes Zones non bâties renaturées représentant 16% de la surface de toutes les zones renaturées.</p>

        <h6 class="fr-mt-2w">Données</h6>
        <p>En hectare (Ha).</p>
        <table class="table table-striped table-sm table-borderless">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-end">Artificialisation</th>
                    <th scope="col" class="text-end" class="text-muted">%</th>
                    <th scope="col" class="text-end">Renaturation</th>
                    <th scope="col" class="text-end" class="text-muted">%</th>
                    <th scope="col" class="text-end">Artificialisé en {{ last_millesime }}</th>
                </tr>
            </thead>
            <tbody>
                {% for couv in detail_usage_artif_table %}
                <tr>
                    <th scope="row">{{ couv.code_prefix }} {{ couv.label }}</th>
                    <td align="right">{{ couv.artif|floatformat:1 }}</td>
                    <td align="right" class="text-muted">{{ couv.artif|percent:detail_total_artif }}</td>
                    <td align="right">{{ couv.renat|floatformat:1 }}</td>
                    <td align="right" class="text-muted">{{ couv.renat|percent:detail_total_renat }}</td>
                    <td align="right">{{ couv.last_millesime|floatformat:1 }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row" class="text-muted">Total :</th>
                    <td align="right" class="text-muted">{{ detail_total_artif|floatformat:1 }}</td>
                    <td align="right" class="text-muted">100%</td>
                    <td align="right" class="text-muted">{{ detail_total_renat|floatformat:1 }}</td>
                    <td align="right" class="text-muted">100%</td>
                    <td align="right"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="usaArtifSol" tabindex="-1" aria-labelledby="usaArtifSolLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 id="fr-modal-2-title" class="fr-modal__title" id="usaArtifSolLabel">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Graphique couverture des sols
                </h1>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-drag-move-2-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez afficher le graphique en plein écran.</p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-download-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez télécharger le graphique sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
                <p class="fr-text--sm">Exemple de lecture: 8% des nouvelles surfaces artificialisées le sont pour des Zones bâties.</p>
            </div>
        </div>
    </div>
</div>
