{% load highcharts_tags %}

<div class="border fr-p-2w">
    <div class="d-flex justify-content-end align-items-center fr-mb-2w">
        <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
            <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

            <ul class="dropdown-menu">
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="artif_net_chart" data-type="image/png">PNG</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="artif_net_chart" data-type="image/jpeg">JPEG</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="artif_net_chart" data-type="application/pdf">PDF</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="artif_net_chart" data-type="image/svg+xml">Vectoriel</a>
                </li>
            </ul>
        </div>

        <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="artif_net_chart" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

        <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#artif-net-astuce" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
    </div>
    <div id="artif_net_chart"></div>
</div>


{% display_chart 'artif_net_chart' artif_net_chart CSP_NONCE %}


<!-- Modal -->
<div class="modal fade" id="artif-net-astuce" tabindex="-1" aria-labelledby="artif-net-astuce-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 id="fr-modal-2-title" class="fr-modal__title" id="artif-net-astuce-label">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Artificialisation nette
                </h1>
                <p class="fr-text--sm">L'artificialisation nette est la somme des surface artificialisées sur la période à laquelle est soustrait la somme des surfaces renaturées.</p>
            </div>
        </div>
    </div>
</div>