{% load highcharts_tags %}

<h3>Consommation d'espaces par ménages</h3>

<p>Mise en perspective de la consommation d'espaces avec les données de l'INSEE.</p>

<div class="border fr-p-2w">
    {% display_chart_test 'household_chart' household_chart CSP_NONCE %}
</div>

<div class="fr-notice fr-mt-4w fr-mb-7w">
    <div class="fr-container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="fr-icon-information-line" aria-hidden="true"></span>
                <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                <p class="fr-tag fr-tag--sm fr-tag--blue">
                    <strong>FICHIERS FONCIERS</strong>
                </p>
            </div>
            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-5">Détails données et calcul</button>
        </div>
        <div class="fr-collapse" id="target-data-5">
            <h6 class="fr-mt-2w">Source</h6>
            <p class="fr-text--sm">Ménages INSEE, sur la période d'analyse (millésimes 2008-2013-2018) : <a href="https://www.insee.fr/fr/statistiques/5395819?sommaire=5395886" target="_blank" rel="noreferrer noopener">Couples-Familles-Ménages en 2018</a> (colonnes C18_MEN, C13_MEN et C08_MEN)</p>
    
            <h6 class="fr-mt-2w">Calcul</h6>
            <p class="fr-text--sm">Les données pour les années manquantes sont obtenues par approximation affine, les décalages liés aux arrondis sont lissés.</p>
    
            <h6 class="fr-mt-2w">Données</h6>
            <table class="table table-striped table-sm table-borderless fr-text--sm">
                <thead>
                    <tr>
                        <th scope="col">{{ col_name }}</th>
                        {% for year in project.years %}
                        <th scope="col" class="text-end">{{ year }}</th>
                        {% endfor %}
                        <th scope="col" class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city_name, data in household_table.items %}
                    <tr>
                        <th scope="row">{{ city_name }}</th>
                        {% for year, val in data.items %}
                        <td align="right">{{ val|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="border fr-p-2w">
    <div class="d-flex justify-content-end align-items-center fr-mb-2w">
        <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
            <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

            <ul class="dropdown-menu">
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="conso_household_chart" data-type="image/png">PNG</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="conso_household_chart" data-type="image/jpeg">JPEG</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="conso_household_chart" data-type="application/pdf">PDF</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="conso_household_chart" data-type="image/svg+xml">Vectoriel</a>
                </li>
            </ul>
        </div>

        <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="conso_household_chart" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

        <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#menage-astuce" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
    </div>
    <div id="conso_household_chart"></div>
</div>
{% display_chart 'conso_household_chart' conso_household_chart CSP_NONCE %}

<div class="fr-notice fr-mt-4w">
    <div class="fr-container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="fr-icon-information-line" aria-hidden="true"></span>
                <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                <p class="fr-tag fr-tag--sm fr-tag--blue">
                    <strong>FICHIERS FONCIERS</strong>
                </p>
            </div>
            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-6">Détails données et calcul</button>
        </div>
        <div class="fr-collapse" id="target-data-6">
            <h6 class="fr-mt-2w">Sourcce</h6>
            <ul class="fr-text--sm">
                <li>Ménages INSEE, sur la période d'analyse (millésimes 2008-2013-2018) : <a href="https://www.insee.fr/fr/statistiques/5395819?sommaire=5395886" target="_blank" rel="noreferrer noopener">Couples-Familles-Ménages en 2018</a> (colonnes C18_MEN, C13_MEN et C08_MEN)</li>
                <li>Données d'évolution des fichiers fonciers produits et diffusés par le Cérema depuis 2009 à partir des fichiers MAJIC (Mise A Jour de  l'Information Cadastrale) de la DGFIP. Le dernier millésime de 2022 est la  photographie du territoire au 1er janvier 2022, intégrant les évolutions réalisées au cours de l'année 2021.</li>
            </ul>
    
            <h6 class="fr-mt-2w">Calcul</h6>
            <p class="fr-text--sm">Consommation d'espaces NAF annuelle divisée par l'évolution des ménages, par maille d'analyse du territoire de diagnostic.</p>
    
            <h6 class="fr-mt-2w">Données</h6>
            <table class="table table-striped table-sm table-borderless fr-text--sm">
                <thead>
                    <tr>
                        <th scope="col" class="text-end">(Ha par nouveau ménage accueilli)</th>
                        {% for year in project.years %}
                        <th scope="col" class="text-end">{{ year }}</th>
                        {% endfor %}
                        <th scope="col" class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city_name, data in conso_household_table.items %}
                    <tr>
                        <th scope="row">{{ city_name }}</th>
                        {% for year, val in data.items %}
                        <td align="right">{{ val|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="menage-astuce" tabindex="-1" aria-labelledby="menage-astuce-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 id="fr-modal-2-title" class="fr-modal__title" id="menage-astuce-label">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Consommation d'espaces par ménages
                </h1>
                <p class="fr-text--sm">
                    Selon l’INSEE "Un ménage, au sens du recensement de la population, désigne l'ensemble des personnes qui partagent la même résidence principale,
                    sans que ces personnes soient nécessairement unies par des liens de parenté. Un ménage peut être constitué d'une seule personne.
                    Il y a égalité entre le nombre de ménages et le nombre de résidences principales."
                </p>
                <p class="fr-text--sm">
                    Cette analyse des ménages est différente de l’évolution démographique.
                    Par exemple en cas du départ d’un enfant du logement familial pour s’installer seul dans son propre logement,
                    le nombre de ménages augmente, mais la population n’augmente pas.
                </p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-drag-move-2-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez afficher le graphique en plein écran.</p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-download-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez télécharger le graphique sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
            </div>
        </div>
    </div>
</div>
