<table class="table-couv-nomenclature">
    <tr>
        <td rowspan="7" class="vertical">
            <div>
                <strong>{{ couv_nomenclature.CS1.code_prefix }}</strong>
                <span>{{ couv_nomenclature.CS1.label_short }}</span>
            </div>
        </td>
        <td rowspan="4">
            <strong>{{ couv_nomenclature.CS1_1.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_1.label_short }}</div>
        </td>
        <td rowspan="2">
            <strong>{{ couv_nomenclature.CS1_1_1.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_1_1.label_short }}</div>
        </td>
        <td class="{{ couv_nomenclature.CS1_1_1_1.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS1_1_1_1.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_1_1_1.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ couv_nomenclature.CS1_1_1_2.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS1_1_1_2.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_1_1_2.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <strong>{{ couv_nomenclature.CS1_1_2.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_1_2.label_short }}</div>
        </td>
        <td class="{{ couv_nomenclature.CS1_1_2_1.code_prefix_class }} text-dark">
            <strong>{{ couv_nomenclature.CS1_1_2_1.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_1_2_1.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ couv_nomenclature.CS1_1_2_2.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS1_1_2_2.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_1_2_2.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <strong>{{ couv_nomenclature.CS1_2.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_2.label_short }}</div>
        </td>
        <td rowspan="3"></td>
        <td class="{{ couv_nomenclature.CS1_2_1.code_prefix_class }} text-dark">
            <strong>{{ couv_nomenclature.CS1_2_1.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_2_1.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ couv_nomenclature.CS1_2_2.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS1_2_2.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_2_2.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ couv_nomenclature.CS1_2_3.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS1_2_3.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS1_2_3.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td rowspan="7" class="vertical">
            <div>
                <strong>{{ couv_nomenclature.CS2.code_prefix }}</strong>
                <span>{{ couv_nomenclature.CS2.label_short }}</span>
            </div>
        </td>
        <td rowspan="5">
            <strong>{{ couv_nomenclature.CS2_1.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_1.label_short }}</div>
        </td>
        <td rowspan="3">
            <strong>{{ couv_nomenclature.CS2_1_1.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_1_1.label_short }}</div>
        </td>
        <td class="{{ couv_nomenclature.CS2_1_1_1.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS2_1_1_1.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_1_1_1.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ couv_nomenclature.CS2_1_1_2.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS2_1_1_2.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_1_1_2.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ couv_nomenclature.CS2_1_1_3.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS2_1_1_3.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_1_1_3.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td rowspan="2"></td>
        <td class="{{ couv_nomenclature.CS2_1_2.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS2_1_2.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_1_2.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ couv_nomenclature.CS2_1_3.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS2_1_3.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_1_3.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <strong>{{ couv_nomenclature.CS2_2.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_2.label_short }}</div>
        </td>
        <td rowspan="2"></td>
        <td class="{{ couv_nomenclature.CS2_2_1.code_prefix_class }}">
            <strong>{{ couv_nomenclature.CS2_2_1.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_2_1.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ couv_nomenclature.CS2_2_2.code_prefix_class }} text-dark">
            <strong>{{ couv_nomenclature.CS2_2_2.code_prefix }}</strong>
            <div>{{ couv_nomenclature.CS2_2_2.label_short }}</div>
        </td>
    </tr>
</table>

<style nonce="[NONE_PLACEHOLDER]">
table.table-couv-nomenclature td {
    background: #bababa;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    line-height: 18px;
    padding: 10px;
    text-align: center;
    width: 160px;
}
table.table-couv-nomenclature td.vertical {
    width: 42px;
}
table.table-couv-nomenclature td.vertical > div {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
}
{% for leaf in couv_leafs %}
table.table-couv-nomenclature .{{ leaf.code_prefix_class }} {
    background-color: {{ leaf.map_color }};
}
{% endfor %}
</style>