<table class="table-usage-nomenclature">
    <tr>
        <td rowspan="5">
            <strong>{{ usage_nomenclature.US1.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US1.label_short }}</div>
        </td>
        <td rowspan="5"></td>
        <td class="{{ usage_nomenclature.US1_1.code_prefix_class }} text-dark">
            <strong>{{ usage_nomenclature.US1_1.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US1_1.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US1_2.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US1_2.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US1_2.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US1_3.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US1_3.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US1_3.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US1_4.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US1_4.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US1_4.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US1_5.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US1_5.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US1_5.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td>
            <strong>{{ usage_nomenclature.US235.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US235.label_short }}</div>
        </td>
        <td></td>
        <td class="{{ usage_nomenclature.US235.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US235.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US235.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td rowspan="7">
            <strong>{{ usage_nomenclature.US4.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US4.label_short }}</div>
        </td>
        <td rowspan="5">
            <strong>{{ usage_nomenclature.US4_1.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US4_1.label_short }}</div>
        </td>
        <td class="{{ usage_nomenclature.US4_1_1.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US4_1_1.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US4_1_1.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US4_1_2.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US4_1_2.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US4_1_2.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US4_1_3.code_prefix_class }} text-dark">
            <strong>{{ usage_nomenclature.US4_1_3.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US4_1_3.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US4_1_4.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US4_1_4.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US4_1_4.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US4_1_5.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US4_1_5.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US4_1_5.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td rowspan="2"></td>
        <td class="{{ usage_nomenclature.US4_2.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US4_2.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US4_2.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US4_3.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US4_3.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US4_3.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td rowspan="4">
            <strong>{{ usage_nomenclature.US6.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US6.label_short }}</div>
        </td>
        <td rowspan="4"></td>
        <td class="{{ usage_nomenclature.US6_1.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US6_1.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US6_1.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US6_2.code_prefix_class }}">
            <strong>{{ usage_nomenclature.US6_2.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US6_2.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US6_3.code_prefix_class }} text-dark">
            <strong>{{ usage_nomenclature.US6_3.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US6_3.label_short }}</div>
        </td>
    </tr>
    <tr>
        <td class="{{ usage_nomenclature.US6_6.code_prefix_class }} text-dark">
            <strong>{{ usage_nomenclature.US6_6.code_prefix }}</strong>
            <div>{{ usage_nomenclature.US6_6.label_short }}</div>
        </td>
    </tr>
</table>

<style nonce="[NONE_PLACEHOLDER]">
table.table-usage-nomenclature td {
    background: #bababa;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    line-height: 18px;
    padding: 10px;
    text-align: center;
    width: 160px;
}

{% for leaf in usa_leafs %}
table.table-usage-nomenclature .{{ leaf.code_prefix_class }} {
    background-color: {{ leaf.map_color }};
}
{% endfor %}
</style>