{% load highcharts_tags %}

<h3>Consommation relative aux évolutions démographiques des territoires</h3>

<p>Mise en perspective de la consommation d'espaces avec les données de l'INSEE.</p>

<div class="border fr-p-2w">
    <div class="d-flex justify-content-end align-items-center fr-mb-2w">
        <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
            <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

            <ul class="dropdown-menu">
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="pop_chart" data-type="image/png">PNG</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="pop_chart" data-type="image/jpeg">JPEG</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="pop_chart" data-type="application/pdf">PDF</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="pop_chart" data-type="image/svg+xml">Vectoriel</a>
                </li>
            </ul>
        </div>

        <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="pop_chart" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

        <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#pop-astuce" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
    </div>
    <div id="pop_chart"></div>
</div>
{% display_chart 'pop_chart' pop_chart CSP_NONCE %}

<div class="fr-notice fr-mt-4w fr-mb-7w">
    <div class="fr-container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="fr-icon-information-line" aria-hidden="true"></span>
                <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                <p class="fr-tag fr-tag--sm fr-tag--blue">
                    <strong>FICHIERS FONCIERS</strong>
                </p>
            </div>
            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-pop-conso">Détails données et calcul</button>
        </div>
        <div class="fr-collapse" id="target-data-pop-conso">
            <h6 class="fr-mt-2w">Source</h6>
            <p class="fr-text--sm">Recensement de la population (RP) de l'INSEE, sur la période d'analyse (millésime min : 2006, millésime max : 2019)  : <a href="https://www.insee.fr/fr/statistiques/3698339" target="_blank" rel="noreferrer noopener">L'historique des populations communales</a> (colonnes PMUN06 à PMUN19)</p>
    
            <h6 class="fr-mt-2w">Calcul</h6>
            <p class="fr-text--sm">Données brutes.</p>
    
            <h6 class="fr-mt-2w">Données</h6>
            <table class="table table-striped table-sm table-borderless fr-text--sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for year in diagnostic.years %}
                        <th scope="col" class="text-end">{{ year }}</th>
                        {% endfor %}
                        <th scope="col" class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city_name, data in pop_table.items %}
                    <tr>
                        <th scope="row">{{ city_name }}</th>
                        {% for year, val in data.items %}
                        <td align="right">{{ val|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="border fr-p-2w">
    <div class="d-flex justify-content-end align-items-center fr-mb-2w">
        <div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
            <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

            <ul class="dropdown-menu">
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="conso_pop_chart" data-type="image/png">PNG</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="conso_pop_chart" data-type="image/jpeg">JPEG</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="conso_pop_chart" data-type="application/pdf">PDF</a>
                </li>
                <li>
                    <a class="fr-nav__link export-chart" href="#" data-chart-target="conso_pop_chart" data-type="image/svg+xml">Vectoriel</a>
                </li>
            </ul>
        </div>

        <button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-target="conso_pop_chart" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>

        <button class="fr-btn fr-icon-question-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="modal" data-bs-target="#pop-astuce" data-toggle="tooltip" title="Astuces pour lire le graphique" aria-hidden="true"></button>
    </div>
    <div id="conso_pop_chart"></div>
</div>
{% display_chart 'conso_pop_chart' conso_pop_chart CSP_NONCE %}

<div class="fr-notice fr-mt-4w">
    <div class="fr-container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="fr-icon-information-line" aria-hidden="true"></span>
                <span class="fr-text--xs fr-mr-1w">Source de données: </span>
                <p class="fr-tag fr-tag--sm fr-tag--blue">
                    <strong>FICHIERS FONCIERS</strong>
                </p>
            </div>
            <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-4">Détails données et calcul</button>
        </div>
        <div class="fr-collapse" id="target-data-4">
            <h6 class="fr-mt-2w">Source</h6>
            <ul class="fr-text--sm">
                <li>Recensement de la population (RP) de l'INSEE, sur la période d'analyse (millésime min : 2006, millésime max : 2019)  : <a href="https://www.insee.fr/fr/statistiques/3698339" target="_blank" rel="noreferrer noopener">L'historique des populations communales</a> (colonnes PMUN06 à PMUN19)</li>
                <li>Données d'évolution des fichiers fonciers produits et diffusés par le Cérema depuis 2009 à partir des fichiers MAJIC (Mise A Jour de  l'Information Cadastrale) de la DGFIP. Le dernier millésime de 2022 est la  photographie du territoire au 1er janvier 2022, intégrant les évolutions réalisées au cours de l'année 2021.</li>
            </ul>
    
            <h6 class="fr-mt-2w">Calcul</h6>
            <p class="fr-text--sm">Consommation d'espaces NAF annuelle divisée par l'évolution de la population, par maille d'analyse du territoire de diagnostic.</p>
    
            <h6 class="fr-mt-2w">Données</h6>
            <table class="table table-striped table-sm table-borderless fr-text--sm">
                <thead>
                    <tr>
                        <th scope="col" class="text-end">(Ha par nouvel habitant)</th>
                        {% for year in diagnostic.years %}
                        <th scope="col" class="text-end">{{ year }}</th>
                        {% endfor %}
                        <th scope="col" class="text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city_name, data in conso_pop_table.items %}
                    <tr>
                        <th scope="row">{{ city_name }}</th>
                        {% for year, val in data.items %}
                        <td align="right">{{ val|floatformat:1 }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pop-astuce" tabindex="-1" aria-labelledby="pop-astuce-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="fr-modal__body">
            <div class="fr-modal__header">
                <button class="fr-link--close fr-link" data-bs-dismiss="modal" aria-label="Close">Fermer</button>
            </div>
            <div class="fr-modal__content">
                <h1 id="fr-modal-2-title" class="fr-modal__title" id="pop-astuce-label">
                    <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                    Astuces - Consommation relative aux évolutions démographiques des territoires
                </h1>
                <p class="fr-text--sm">
                    Selon l'INSEE la population correspond à "l'ensemble des personnes, nationaux ou étrangers, établies de façon durable sur le territoire économique du pays, même si
                    ces personnes en sont temporairement absentes. Cette règle générale comporte toutefois certaines exceptions (étudiants notamment)."
                </p>
                <p class="fr-text--sm">
                    La consommation relative aux évolutions démographiques des territoires permet d'analyser la sobriété foncière en comparant le volume
                    d'ha consommé par habitant. Si un territoire est négatif, cela signifie qu'il a consommé alors qu'il a perdu de la population.
                </p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-drag-move-2-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez afficher le graphique en plein écran.</p>
                <p class="fr-text--sm">Avec le bouton <span class="fr-icon-download-line fr-icon--sm" aria-hidden="true"></span>, vous pouvez télécharger le graphique sous forme d'image (utilisez PNG si vous ne savez pas lequel choisir).</p>
            </div>
        </div>
    </div>
</div>
