{% load crispy_forms_tags %}

{% if success_message %}
    {% load highcharts_tags %}

    <div class="fade-in fr-alert fr-alert--success fr-alert--sm" role="alert">
        <h3 class="fr-alert__title">Votre objectif a été mis à jour.</h3>
    </div>

    <div id="objective-chart-swapper" hx-swap-oob="true">
        <div id="objective_chart"></div>
        {% display_chart 'objective_chart' objective_chart CSP_NONCE %}
    </div>

    <div id="alert-swapper" hx-swap-oob="true">
        {% if project.target_2031 != 50 %}
            <div class="fr-alert fr-alert--info fr-alert--sm mt-3">
                <p>Vous avez personnalisé l'objectif de votre territoire à {{ project.target_2031 }}%.</p>
            </div>
        {% endif %}
    </div>
    
    <span id="button-swapper" hx-swap-oob="true">{{ project.target_2031 }}</span>
    <span id="objective-conso-swapper" hx-swap-oob="true">{{ objective_chart.conso_2031|floatformat:1 }}</span>
    <span id="objective-annual-swapper" hx-swap-oob="true">{{ objective_chart.annual_objective_2031|floatformat:1 }}</span>
{% else %}
    <form hx-post="{% url 'project:set_target_2031' project.pk %}">
        {% csrf_token %}
        {{ form|crispy }}
        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-mt-2w">
            <li>
                <button class="fr-btn" type="submit">
                    Enregistrer
                </button>
            </li>
        </ul>
    </form>
{% endif %}
