<div class="fr-container">
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="mb-3">{{ title }}</h1>
            <ul class="fr-tags-group">
                <li>
                    <p class="fr-tag fr-tag--sm">Surface du territoire:&nbsp;<strong>{{ surface|floatformat:0 }} ha</strong></p>
                </li>
                <li>
                    <p class="fr-tag fr-tag--sm">Période demandée:&nbsp;<strong>De {{ project.analyse_start_date }} à {{ project.analyse_end_date }}</strong></p>
                </li>
                <li>
                    <p class="fr-tag fr-tag--sm">Maille d'analyse:&nbsp;<strong>{{ project.level_label }}</strong></p>
                </li>
            </ul>
        </div>
        <div>
            <button hx-get="{% url 'project:report_download' project.pk %}" hx-target="#fr-modal__form" class="fr-btn mt-2" data-toggle="tooltip" title="Word" aria-hidden="true" data-fr-opened="false" aria-controls="fr-modal-download">
                Télécharger mon diagnostic
            </button>
        </div>
    </div>
</div>

<dialog aria-labelledby="fr-modal-2-title" id="fr-modal-download" class="fr-modal" role="dialog" >
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" aria-controls="fr-modal-download">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-2-title" class="fr-modal__title">
                            Recevoir le diagnostic par e-mail
                        </h1>
                        <div id="fr-modal__form">
                            <div class="fr-custom-loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
