<div id="a456" class="fr-mt-7w">
    <h3>Zones naturelles ayant été le plus artificialisées sur la période</h3>

    <div class="overflow-auto">
        <table class="table table-striped table-sm table-borderless table-custom">
            <thead>
                <tr>
                    <th scope="col">Commune</th>
                    <th scope="col" class="text-end">Insee</th>
                    <th scope="col">Libellé court</th>
                    <th scope="col">Libellé long</th>
                    <th scope="col">Type de zone</th>
                    <th scope="col" class="text-end">Surface</th>
                    <th scope="col" class="text-end">Surface artificielle ({{ last_year_ocsge }})</th>
                    <th scope="col" class="text-end">Taux de remplissage ({{ last_year_ocsge }})</th>
                    <th scope="col" class="text-end">Artificialisation ({{ first_year_ocsge }} à {{ last_year_ocsge }})</th>
                </tr>
            </thead>
            <tbody>
                {% for zone in zone_list %}
                <tr>
                    <td>{{ zone.city_name }}</td>
                    <td class="text-end">{{ zone.zone_urba.insee }}</td>
                    <td>{{ zone.zone_urba.libelle }}</td>
                    <td data-toggle="tooltip" title="{{ zone.zone_urba.libelong }}"><div class="text-truncate">{{ zone.zone_urba.libelong }}</div></td>
                    <td>{{ zone.zone_urba.typezone }}</td>
                    <td class="text-end">{{ zone.zone_urba.area|floatformat:1 }} ha</td>
                    <td class="text-end">{{ zone.area|floatformat:1 }} ha</td>
                    <td class="text-end">
                        <div class="progress-bar-container">
                            <div class="progress-bar-indicator w-{{ zone.fill_up_rate|floatformat:0 }}"></div>
                            <div class="progress-bar-value">{{ zone.fill_up_rate|floatformat:1 }}%</div>
                        </div>
                    </td>
                    <td class="text-end">{{ zone.new_artif|floatformat:1 }} ha</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="fr-callout bg-white fr-p-2w mt-4">
        <button class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-fill mt-0" aria-expanded="false" aria-controls="target-data-n-table">Données</button>
        <div class="fr-collapse" id="target-data-n-table">
            <h6 class="fr-mt-2w">Source</h6>
            <p>Données d'OCcupation des Sols à Grande Echelle (OCS GE) de l'IGN, sur la période d'analyse. Zonages d'Urbanisme issus du Géoportail de l'Urbanisme (GPU) en date de juin 2023: <a href="https://www.geoportail-urbanisme.gouv.fr/" target="_blank">https://www.geoportail-urbanisme.gouv.fr/</a></p>

            <h6 class="fr-mt-2w">Calcul</h6>
            <p>Qualifier l'artificialisation de chaque parcelle OCS GE via la matrice d'artficialisation (<a href="{% url 'public_data:matrix' %}">consulter</a>). Puis comparer la surface totale des parcelles artificielles, dans chaque zonage d'urbanisme N, à la surface de la zone pour connaître le taux d'occupation.</p>
        </div>
    </div>

</div>