<div id="target-zone-urba-fill-map" class="border theme-map-image-container h-100 fr-p-2w d-flex flex-column align-items-center justify-content-between">
    <div class="d-flex justify-content-end align-items-center w-100 fr-mb-2w">
        <a href="{% url 'project:map-urban-zones' diagnostic.pk %}" target="_blank">
            <button class="fr-btn fr-icon-external-link-line fr-btn--tertiary fr-btn--sm"></button>
        </a>
    </div>
    <p class="fw-bold">Carte présentant le remplissage des zones U, AUs et AUc</p>
    {% if diagnostic.theme_map_fill_gpu %}
        <img src="{{ diagnostic.theme_map_fill_gpu.url }}" alt="Carte présentant les zonages d'urbanisme">
    {% else %}
        <div class="skeleton-loader" hx-get="{% url 'project:zone-urba-fill-map' diagnostic.id %}" hx-trigger="load delay:10s" hx-target="#target-zone-urba-fill-map" hx-swap="outerHTML">
        </div>
    {% endif %}
</div>
