@import '@gouvfr/dsfr/dist/dsfr.min.css';
@import '@gouvfr/dsfr/dist/utility/icons/icons-system/icons-system.min.css';
@import '@gouvfr/dsfr/dist/utility/icons/icons-design/icons-design.min.css';
@import '@gouvfr/dsfr/dist/utility/icons/icons-business/icons-business.min.css';

/*
Fix link icon position
*/
.fr-breadcrumb__link::before,
.fr-link::after {
    position: relative;
    top: 5px;
}

/*
Fix nav extra margin
*/
.fr-nav__list {
    margin: 0;
}

/*
Custom dropdown
*/
.custom-dropdown {
    padding: 0;
}

.custom-dropdown .dropdown-menu {
    padding: 0;
    border: none;
    border-radius: 0;
    filter: drop-shadow(var(--overlap-shadow));
}

.custom-dropdown .dropdown-menu>li {
    padding: 0;
}

.custom-dropdown .dropdown-menu .fr-nav__link {
    box-shadow: 0 calc(-1rem - 1px) 0 -1rem var(--border-default-grey);
    padding: 0.75rem 1rem;
    background-image: none;
}

.custom-dropdown .dropdown-menu .fr-nav__link[aria-current]:before {
    left: 0;
}

/*
Graph groups
*/
.graph-group-container>div {
    padding: 2rem 0;
}

.graph-group-container>div:not(:last-child) {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

.graph-group-container>div:first-child {
    padding-top: 0;
}

.graph-group-container>div:last-child {
    padding-bottom: 0;
}

@media (min-width: 62em) {
    .graph-group-container>div {
        border-bottom: none !important;
        padding: 0;
    }

    .graph-group-container>div:not(:last-child) {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}

/*
Loader
*/
.fr-custom-loader {
    margin: 40px auto;
    color: darkblue;
    width: 56px;
    height: 30px;
    --d: radial-gradient(farthest-side, currentColor 90%, #0000);
    background: var(--d), var(--d), var(--d);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    animation: m 1s infinite;
}

.fr-custom-loader--button {
    color: white;
    width: 30px;
    height: 12px;
    --d: radial-gradient(farthest-side, currentColor 90%, #0000);
    background: var(--d), var(--d), var(--d);
    background-size: 7px 7px;
    background-repeat: no-repeat;
    animation: m 1s infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes m {
    0% {
        background-position: calc(0*100%/2) 100%, calc(1*100%/2) 100%, calc(2*100%/2) 100%
    }

    12.5% {
        background-position: calc(0*100%/2) 0, calc(1*100%/2) 100%, calc(2*100%/2) 100%
    }

    25% {
        background-position: calc(0*100%/2) 0, calc(1*100%/2) 0, calc(2*100%/2) 100%
    }

    37.5% {
        background-position: calc(0*100%/2) 0, calc(1*100%/2) 0, calc(2*100%/2) 0
    }

    50% {
        background-position: calc(0*100%/2) 0, calc(1*100%/2) 0, calc(2*100%/2) 0
    }

    62.5% {
        background-position: calc(0*100%/2) 100%, calc(1*100%/2) 0, calc(2*100%/2) 0
    }

    75% {
        background-position: calc(0*100%/2) 100%, calc(1*100%/2) 100%, calc(2*100%/2) 0
    }

    87.5% {
        background-position: calc(0*100%/2) 100%, calc(1*100%/2) 100%, calc(2*100%/2) 100%
    }

    100% {
        background-position: calc(0*100%/2) 100%, calc(1*100%/2) 100%, calc(2*100%/2) 100%
    }
}

/*
Form labels
*/
.control-label {
    color: var(--text-label-grey);
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.help-block {
    font-size: .75rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

form .control-group {
    margin-top: 25px;
}

/*
Theme map
*/
.theme-map-image-container img {
    width: 100%;
    height: auto;
}

.theme-map-image-container a {
    background-image: none;
}

.theme-map-image-container [target=_blank]:after {
    content: none;
}

/*
Skeleton loader
*/
.skeleton-loader {
    width: 100%;
    height: 100%;
    background-color: #DDDBDD;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.skeleton-loader::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    -webkit-animation: shimmer 2s infinite;
    animation: shimmer 2s infinite;
    content: "";
}

@-webkit-keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

/*
fr Tag success
*/
.fr-tag--success {
    background-color: #b8fec9;
    background-color: var(--background-contrast-success);
    color: #18753c;
    color: var(--text-default-success);
}


/*
Custom links
*/
.fr-link--text-decoration-none {
    background-image: none;
}

/*
Diagnostic list
*/
#diagnostic-list-empty-message {
    visibility: hidden;
}

/*
Remove trajectory select year invalid input icon
*/
select[name=start].is-invalid, select[name=end].is-invalid {
    border: none;
    box-shadow: inset 0 -2px 0 0 var(--border-plain-error);
}

.invalid-feedback {
    margin-bottom: 0;
}

.invalid-feedback > strong {
    font-weight: 400 !important;
}

/*
Margin trajectory conso
*/
.form-set-year-conso > div {
    margin-right: 25px;
    margin-bottom: 25px;
}

/*
HTMX Indicator loader
*/
.htmx-indicator {
    opacity: 0;
    display: none;
    transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator, .htmx-request.htmx-indicator {
    opacity: 1;
    display: block;
}

.htmx-request .htmx-indicator-placeholder, .htmx-request.htmx-indicator-placeholder {
    opacity: 0;
    visibility: hidden;
}

/*
Home Page
*/
.section-blue {
    background-color: #1D41FF;
}

.section-main {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section-main h1 {
    color: white;
}

.section-main p {
    color: var(--grey-1000-50);
}

#hero-anim-map-container {
    position: absolute;
    bottom: -38%;
    right: 0;
}

#hero-anim-map {
    transform: rotateZ(-23deg);
    position: absolute;
    bottom: 0;
    right: -130px;
    transition: all 0.4s ease-out;
    -webkit-box-shadow: -4px -1px 11px -2px rgba(0,0,0,0.25); 
    box-shadow: -4px -1px 11px -2px rgba(0,0,0,0.25);
}

.section-main:hover #hero-anim-map {
    bottom: 0;
    right: -100px;
    transform: rotateZ(-24deg);
}

@media (max-width: 992px) {
    #hero-anim-map-container  {
        display: none;
    }
}

.section-legal {
    position: relative;
    background-color: #D6FFED;
}

#legal-anim-logo {
    width: 170px;
    height: 170px;
    position: absolute;
    right: 45px;
    bottom: 45px;
    background-image: url('/assets/images/loi-climat-et-resilience.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom 3% right 3%;
}

@media (max-width: 992px) {
    #legal-anim-logo  {
        display: none;
    }
}
