@import '@gouvfr/dsfr/dist/dsfr.min.css';
@import '@gouvfr/dsfr/dist/utility/icons/icons-system/icons-system.min.css';

/*
Fix link icon position
*/
.fr-breadcrumb__link::before, .fr-link::after {
    position: relative;
    top: 5px;
}

/*
Fix nav extra margin
*/
.fr-nav__list {
    margin: 0;
}
