#mapV2__wrapper {
    position: relative;
}

.mapV2__controls input {
    margin-right: 5px;
}

#data-tab .fr-grid-row {
    display: flex;
    flex-direction: column;
}

#data-tab .fr-grid-row > div {
    max-width: 100% !important;
    width: 100%;
}

#mapV2__legend {
    background: #ffffff;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    opacity: 0;
    transition: opacity .3s ease;
}

.map-label {
    color: #000000;
    font-weight: bold;
    z-index: 99999999;
}

/*
Tabs
*/
.tabs .tablist {
    width: 60px;
    height: 100%;
    background: #1D41FF;
}

.tabs .tablist button {
    list-style: none;
    text-align: center;
    padding: 16px 0;
    font-size: 20px;
    transition: all .3s ease;
    color: #ffffff;
    cursor: pointer;
    display: block;
    width: 100%;
}

.tabs .tablist button:hover, .tabs .tablist button[aria-selected="true"] {
    color: #1D41FF;
    background: #ffffff;
}

.tabs .tab {
    background: #ffffff;
    width: 420px;
    font-size: 13px;
    position: absolute;
    right: 60px;
    top: 0;
    bottom: 40px;
    z-index: 1000;
    transition: all .5s ease;
    overflow: auto;
}

.tabs .tab .tab-item {
    padding: 16px 20px;
    padding-bottom: 10px;
}

.tabs .tab .tab-title  {
    font-size: 14px;
    font-weight: bold;
}

.tabs .tab .filter-group {
    border-bottom: 1px solid #eaeaea;
}

.tabs .tab .filter-group .filter-group__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tabs .tab .filter-group .filter-group__filter:last-child  {
    margin-bottom: 0px;
}