#mapV2__wrapper {
    position: relative;
}

.mapV2__controls input {
    margin-right: 5px;
}

.tabs .tablist {
    width: 60px;
    color: #ffffff;
    background: #ffffff;
}


.tabs .tablist button {
    list-style: none;
    text-align: center;
    padding: 16px 0;
    font-size: 20px;
    transition: all .3s ease;
    color: #1D41FF;
    cursor: pointer;
    display: block;
    width: 100%;
}

.tabs .tablist button:hover, .tabs .tablist button[aria-selected="true"] {
    color: #ffffff;
    background: #1D41FF;
}

.tabs .tab {
    background: #ffffff;
    width: 380px;
    padding: 10px;
    font-size: 12px;
    position: absolute;
    right: 60px;
    top: 0;
    height: 100%;
    z-index: 1000;
    transition: all .5s ease;
    overflow: auto;
}