<div class="dropdown custom-dropdown fr-mr-2w" data-toggle="tooltip" title="Exporter le graphique">
    <button class="fr-btn fr-icon-download-line fr-btn--tertiary fr-btn--sm" data-bs-toggle="dropdown" aria-expanded="false"></button>

    <ul class="dropdown-menu">
        <li>
            <a class="fr-nav__link export-chart" href="#" data-chart-exportpng="{{ chart }}">PNG</a>
        </li>
        <li>
            <a class="fr-nav__link export-chart" href="#" data-chart-exportcsv="{{ chart }}">CSV</a>
        </li>
    </ul>
</div>

{% if show_fullscreen %}
<button class="fr-btn fr-icon-drag-move-2-line fr-btn--tertiary fr-btn--sm fr-mr-2w fullscreen-chart" data-chart-fullscreen="{{ chart }}" data-toggle="tooltip" title="Afficher le graphique en plein écran"></button>
{% endif %}
