<p class="fr-text--sm">
    Données d'évolution des fichiers fonciers produits et diffusés par le Cerema depuis 2009 à 
    partir des fichiers MAJIC (Mise A Jour de l'Information Cadastrale) de la DGFIP. Le dernier 
    millésime de 2023 est la photographie du territoire au 1er janvier 2023, intégrant les évolutions 
    réalisées au cours de l'année 2022.
    Pour plus d'informations sur <a class="fr-link" href="{{ FAQ_URL }}article/quest-ce-quun-millesime-110ihlr/" target="_blank" rel="noopener noreferrer">"Qu'est-ce qu'un millésime ?"</a>.
</p>
