<div class="bg-white theme-map-image-container h-100 fr-p-2w d-flex flex-column align-items-center justify-content-between">
    {% if dynamic_map_url %}
    <a href="{{ dynamic_map_url }}" target="_blank" rel="noopener">
        <div class="d-flex justify-content-end align-items-center w-100 fr-mb-2w">
            <span class="fr-icon-external-link-line fr-icon--sm" aria-hidden="true"></span>
        </div>
    {% endif %}
        <p class="fw-bold">
            {{ title }}
        </p>
        {% if src %}
            <img
                src="{{ src }}"
                alt="{{ title }}"
            >
        {% else %}
            <div class="skeleton-loader"></div>
        {% endif %}
    {% if dynamic_map_url %}
    </a>
    {% endif %}
</div>
