{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
            <h1 class="mb-5 fw-bold text-center">{{ title }}</h1>

            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button id="btn-validate" class="fr-btn mt-2" type="submit">{{ label_validate_btn }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
