<p>Bonjour,</p>

<p>Vous recevez cet e-mail en réponse à une demande de réinitialisation du mot de passe de votre compte sur le site mondiagartif.beta.gouv.fr.</p>

<p>Votre compte a été créé avec ProConnect : il n'a pas de mot de passe. Pour vous connecter, utilisez le bouton « S'identifier avec ProConnect » sur la page de connexion :</p>

<p><a href="{{ DOMAIN_URL }}{% url 'users:signin' %}">{{ DOMAIN_URL }}{% url 'users:signin' %}</a></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet e-mail.</p>

<p>Bien cordialement,</p>
<p>L'équipe Mon Diagnostic Artificialisation.</p>
