{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block pagetitle %}Demande de réinitialisation de mot de passe{% endblock %}

{% block content %}

<div class="d-flex justify-content-center mt-5">
    <div class="col-12 col-md-5 col-lg-4">

        <h1>Mot de passe perdu ?</h1>
        <p>Saisissez votre E-mail ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="fr-btn mt-2" type="submit">Envoyer</button>
        </form>
    </div>
</div>

{% endblock %}
