{% extends "index.html" %}

{% block pagetitle %}Demande de réinitialisation de mot de passe envoyée{% endblock pagetitle %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="col-12 col-md-5 col-lg-4">
        <h1>Demande envoyée</h1>
        <p>Nous vous avons envoyé par e-mail les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>
        <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse e-mail avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>
    </div>
</div>

{% endblock content %}
