{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block pagetitle %}Réinitialiser mon mot de passe{% endblock %}

{% block content %}

<div class="d-flex justify-content-center mt-5">
    <div class="col-12 col-md-5 col-lg-4">

        <h1 class="mb-5 fw-bold text-center">Mot de passe perdu ?</h1>
        <p>Saisissez votre E-mail ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="fr-btn mt-2" type="submit">Réinitialiser mon mot de passe</button>
        </form>
    </div>
</div>

{% endblock %}
