{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block pagetitle %}Message de réinitialisation du mot de passe envoyé{% endblock %}

{% block content %}

<div class="d-flex justify-content-center mt-5">
    <div class="col-12 col-md-5 col-lg-4">
        <div class="center card">
            <h2>Message de réinitialisation du mot de passe envoyé</h2>
            <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>
            <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>
        </div>
    </div>
</div>

{% endblock %}
