{% extends "index.html" %}

{% block pagetitle %}Réinitialisation du mot de passe terminée{% endblock pagetitle %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="col-12 col-md-5 col-lg-4">

        <h1>Réinitialisation terminée</h1>
        <p>Votre mot de passe a été réinitialisé. Vous pouvez maintenant vous connecter.</p>
        <a href="{% url 'users:signin' %}" id="btn-voir-diag-1">
            <button class="fr-btn">
                Connexion
            </button>
          </a>
    </div>
</div>

{% endblock content %}
