{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block pagetitle %}{{ page_title }}{% endblock pagetitle %}

{% block content %}

<div class="d-flex justify-content-center mt-5">
    <div class="col-12 col-md-5 col-lg-4">

        <h1 class="mb-5 fw-bold text-center">{{ title }}</h1>

        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="fr-btn mt-2" type="submit">{{ label_validate_btn }}</button>
        </form>

        <p class="mt-3">Autres actions :</p>
        <ul>
            <li><i class="bi bi-key"></i> <a href="{% url 'users:password' %}">Modifier votre mot de passe</a></li>
            <li><i class="bi bi-x-circle-fill"></i> <a href="{% url 'users:unsubscribe' %}">Vous désinscrire</a></li>
        </ul>
    </div>
</div>

{% endblock content %}

{% block tagging %}
<script language="javascript" nonce="{{ CSP_NONCE }}">
$( window ).on('load', function () {
    _paq.push(['trackEvent', 'Profil', 'Ouverture'])
})
</script>
{% endblock tagging %}
