{% extends "index.html" %}

{% block pagetitle %}Modifier mes informations{% endblock pagetitle %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <h1 class="fr-mb-5w fr-text--center">Modifier mes informations</h1>

                <form action="" method="post">
                    {% csrf_token %}
                    {% include "users/partials/profile_form.html" %}
                </form>

                <p class="fr-mt-3w">Autres actions :</p>
                <ul>
                    <li><i class="bi bi-key"></i> <a href="{% url 'users:password' %}">Modifier mon mot de passe</a></li>
                    <li><i class="bi bi-x-circle-fill"></i> <a href="{% url 'users:unsubscribe' %}">Me désinscrire</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
