{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block pagetitle %}Inscription{% endblock %}

{% block content %}

<!--
  align-items-center = aligner le contenu verticalement
-->

<div class="d-flex justify-content-center mt-5">

  <div class="col-12 col-md-5 col-lg-4">
    <!-- Heading -->
    <h1 class="mb-5 fw-bold text-center">Inscription</h1>


    {% load crispy_forms_tags %}
    <form action="{% url 'users:signup' %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn w-100 btn-primary mt-2" type="submit">S'inscrire</button>
    </form>



    <!-- Text -->
    <p class="mb-0 fs-sm text-center text-muted">
      Vous avez déjà un compte ? <a href="{% url 'users:signin' %}">connectez-vous</a>.
    </p>
  </div>
</div>
<!-- / .row -->

{% endblock %}
