ENVIRONMENT=dev

# Airflow
AIRFLOW_HOME=/usr/local/airflow
AIRFLOW__CORE__TEST_CONNECTION="Enabled"
AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL=3
AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION=False
AIRFLOW__WEBSERVER__UPDATE_FAB_PERMS=True
AIRFLOW__CORE__ENABLE_XCOM_PICKLING=True

# S3 (Scaleway)
AIRFLOW_S3_BUCKET_NAME=ASK_A_MAINTAINER
AIRFLOW_S3_APP_BUCKET_NAME=ASK_A_MAINTAINER
AIRFLOW_S3_LOGIN=ASK_A_MAINTAINER
AIRFLOW_S3_PASSWORD=ASK_A_MAINTAINER
AIRFLOW_S3_ENDPOINT=https://s3.fr-par.scw.cloud
AIRFLOW_S3_REGION_NAME=fr-par

# Matomo
MATOMO_DB_NAME=ASK_A_MAINTAINER
MATOMO_DB_USER=ASK_A_MAINTAINER
MATOMO_DB_PASSWORD=ASK_A_MAINTAINER
MATOMO_DB_HOST=ASK_A_MAINTAINER
MATOMO_DB_PORT=ASK_A_MAINTAINER
MATOMO_DB_SCHEMA=matomo

# DBT (base de transformation)
DBT_DB_NAME=ASK_A_MAINTAINER
DBT_DB_USER=ASK_A_MAINTAINER
DBT_DB_PASSWORD=ASK_A_MAINTAINER
DBT_DB_HOST=ASK_A_MAINTAINER
DBT_DB_PORT=ASK_A_MAINTAINER
DBT_DB_SCHEMA=public

# Base de données de dev (Django local)
DEV_DB_NAME=synthese
DEV_DB_USER=postgres
DEV_DB_PASSWORD=PICK_A_PASSWORD
DEV_DB_HOST=host.docker.internal
DEV_DB_PORT=5432
DEV_DB_SCHEMA=public

# Base de données staging
STAGING_DB_NAME=ASK_A_MAINTAINER
STAGING_DB_USER=ASK_A_MAINTAINER
STAGING_DB_PASSWORD=ASK_A_MAINTAINER
STAGING_DB_HOST=ASK_A_MAINTAINER
STAGING_DB_PORT=ASK_A_MAINTAINER
STAGING_DB_SCHEMA=public

# Base de données production
PROD_DB_NAME=ASK_A_MAINTAINER
PROD_DB_USER=ASK_A_MAINTAINER
PROD_DB_PASSWORD=ASK_A_MAINTAINER
PROD_DB_HOST=ASK_A_MAINTAINER
PROD_DB_PORT=ASK_A_MAINTAINER
PROD_DB_SCHEMA=public

# GPU (SFTP IGN)
GPU_SFTP_HOST=sftp-public.ign.fr
GPU_SFTP_USER=gpu_depot_exports
GPU_SFTP_PASSWORD=ASK_A_MAINTAINER
GPU_SFTP_PORT=2200
GPU_HOST_KEY=AAAAC3NzaC1lZDI1NTE5AAAAIF2HG2tQJkTK9yFReDFP/dO8cMY20bpdGQe9ot5irZsB

# Mattermost
MATTERMOST_WEBHOOK_URL=ASK_A_MAINTAINER
MATTERMOST_CHANNEL=@YOUR_MATTERMOST_USERNAME

OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# Data.gouv
DATA_GOUV_API_KEY=ASK_A_MAINTAINER
DATA_GOUV_API_ENDPOINT=https://demo.data.gouv.fr/api/1
DATA_GOUV_ORGANIZATION_ID=ASK_A_MAINTAINER

# GitHub OAuth (pour Airflow)
GITHUB_OAUTH_APP_ID=ASK_A_MAINTAINER
GITHUB_OAUTH_APP_SECRET=ASK_A_MAINTAINER

# Brevo
BREVO_API_KEY=ASK_A_MAINTAINER

# Crisp
CRISP_IDENTIFIER=ASK_A_MAINTAINER
CRISP_KEY=ASK_A_MAINTAINER
CRISP_WEBSITE_ID=ASK_A_MAINTAINER
