# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
s3fs==2024.6.1
dependency-injector==4.41.0
py7zr==0.21.1
sqlmesh==0.115.1
sqlmesh[postgres]==0.115.1
apache-airflow-providers-postgres==5.11.2
requests
dbt-core
dbt-postgres
tqdm==4.66.5
pysftp==0.2.9
