# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
s3fs==2024.6.1
dependency-injector
py7zr==0.21.1
apache-airflow-providers-postgres==5.11.2
requests==2.32.3
dbt-core==1.8.2
dbt-postgres==1.8.2
tqdm==4.66.5
paramiko>=3
pyarrow==17.0.0
adbc_driver_postgresql==1.1.0
pandas
geopandas==1.0.1
GeoAlchemy2==0.15.2
SQLAlchemy==1.4.53
pygdaltools==1.4.2
beautifulsoup4
openpyxl
authlib
