<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row position-relative">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499" aria-haspopup="menu" id="button-500" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
                            <p class="fr-header__service-title">
                                SPARTE
                                <sup class="fr-badge fr-badge--sm fr-badge--blue-cumulus">Beta</sup>
                            </p>
                        </a>
                        {% comment %} <small class="fr-header__service-tagline">Mesurer votre consommation d'espaces et l'artificialisation de votre territoire</small> {% endcomment %}
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <a class="fr-btn" href="{% url 'project:create' %}">
                                    Créer un diagnostic
                                </a>
                            </li>
                            {% if user.is_authenticated %}
                            <li>
                                <button class="fr-btn" aria-expanded="false" aria-controls="menu-mon-compte">Mon compte</button>
                                <div class="fr-collapse fr-menu" id="menu-mon-compte">
                                    <ul class="fr-menu__list">
                                        <li>
                                          <a class="fr-nav__link" href="{% url 'project:list' %}">Mes diagnostics</a>
                                        </li>
                                        <li>
                                            <a class="fr-nav__link" href="{% url 'users:profile' %}" target="_self">Profil</a>
                                        </li>


                                        {% if is_staff %}
                                        <li>
                                          <a class="fr-nav__link" href="{% url 'admin:index' %}">Administration</a>
                                        </li>
                                        <li>
                                          <a class="fr-nav__link" href="{% url 'public_data:matrix' %}">Matrice</a>
                                        </li>
                                        <li>
                                          <a class="fr-nav__link" href="{% url 'admin:diagnostic_word_wordtemplate_change' 'template-bilan-1' %}">Modèles Word du diagnostic</a>
                                        </li>
                                        <li>
                                          <a class="fr-nav__link" href="{% url 'home:all-emails' %}">Liste des e-mails</a>
                                        </li>
                                        <li>
                                          <a class="fr-nav__link" href="{% url 'project:excel' %}">Export Excel</a>
                                        </li>
                                        <li>
                                            <a class="fr-nav__link" href="{{ METABASE_URL }}" target="_blank">Metabase</a>
                                          </li>
                                        {% endif %}
                                        <li>
                                            <a class="fr-nav__link" href="{% url 'users:signout' %}" target="_self">Déconnexion</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% else %}
                            <li>
                                <a class="fr-btn" href="{% url 'users:signin' %}">
                                    Se connecter
                                </a>
                            </li>
                            <li>
                                <a class="fr-btn" href="{% url 'users:signup' %}">
                                    S’inscrire
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
                Fermer
            </button>
            <div class="fr-header__menu-links">
            </div>
        </div>
    </div>
</header>
