{% load static %}
{% load static dsfr_tags %}
{% load utils_tags %}
{% load sri %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>{% block pagetitle %}SPARTE{% endblock %}</title>

        <link rel="icon" href="{% static 'favicon.ico' %}">
        <!-- Core theme CSS (includes Bootstrap)-->
        {% sri_static "css/styles.css" %}
        <!-- Bootstrap icon -->
        {% sri_static "icons/bootstrap-icons.css" %}
        <!-- Design System CSS -->
        {% sri_static 'dsfr/dist/dsfr/dsfr.min.css' %}
        <!-- Override DSFR CSS -->
        {% sri_static "css/navigation.css" %}
        <!-- subtemplate header injection -->
        {% block headers %}{% endblock %}
        <!-- matomo -->
        {% tracking_code %}
        <style nonce="{{ CSP_NONCE }}">
        body {
            overflow: hidden;
            height: 100vh;
        }
        #second-navbar {
            height:31px;
        }
        main {
            overflow: auto;
        }
        #navbarSupportedContent2 {
            font-size: 0.75rem;
        }
        </style>
    </head>
    <body>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper" class="d-flex flex-column h-100">
            <!-- Top navigation-->
            {% include "header.html" %}

            <!-- <nav id="second-navbar" class="navbar navbar-expand border-bottom">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent2">
                        <ul class="navbar-nav ms-0 mt-2 mt-lg-0 ps-2">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                {% for bread in breadcrumbs %}
                                    {% if bread.is_active %}
                                    <li class="breadcrumb-item active" aria-current="page">{{ bread.title}}</li>
                                    {% else %}
                                    <li class="breadcrumb-item"><a href="{{ bread.href }}">{{ bread.title}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                </ol>
                            </nav>
                        </ul>

                        <ul class="navbar-nav me-0 mt-2 mt-lg-0">
                            {% block sub_bar_actions %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </nav> -->

            <!-- Page content-->
            <main class="p-0 flex-grow-1 d-flex flex-column" id="main">
                {% if messages %}
                    <div class="row justify-content-center w-100 my-0">
                        <div class="col-12 col-md-8 col-lg-6">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-1" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% block carto %}
                <div id="block-content">
                    {% block content %}
                    {% endblock %}
                </div>
                {% endblock carto %}
                <!-- Footer-->
                {% block footer %}
                <div id="footer" class="border-top py-5 flex-grow-1 mt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <img class="w-100" src="{% static 'img/logo_france.png' %}" alt="Logo France Marianne"/>
                            </div>
                            <div class="col-10">
                                <p class="my-3">
                                    <a href="{% url 'home:cgv' %}">Mentions légales</a> - <a href="{% url 'home:privacy' %}">Politique de confidentialité</a> - <a href="{% url 'home:stats' %}">Statistiques</a> - <a href="{% url 'home:accessibilite' %}">Accessibilité : non conforme</a>
                                </p>
                                <p class="text-muted">
                                    SPARTE est une start-up d'état en cours d'élaboration, la plateforme est en version BETA publique. Faites nous part de vos propositions pour améliorer ce service en envoyant un e-mail à <a href="mailto:sparte@beta.gouv.fr">sparte@beta.gouv.fr</a>. SPARTE est incubée à la Fabrique du numérique du Ministère de la Transition Ecologique, et membre de la communauté <a href="https://www.beta.gouv.fr">Beta Gouv</a>.
                                </p>
                                <p class="text-muted">
                                    Sparte est Open Source, le code est disponible sur github : <a href="https://github.com/MTES-MCT/sparte" target="_blank">https://github.com/MTES-MCT/sparte</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock footer %}
                </div>
            </main>
        </div>

        <script nonce="{{ CSP_NONCE }}" type="module" src="{% static 'dsfr/dist/dsfr/dsfr.module.min.js' %}"></script>
        <script nonce="{{ CSP_NONCE }}" nomodule src="{% static 'dsfr/dist/dsfr/dsfr.nomodule.min.js' %}"></script>
        {% sri_static "js/jquery-3.6.0.min.js" %}
        {% sri_static "js/bootstrap.bundle.min.js" %}

        <script nonce="{{ CSP_NONCE }}">
        // initialize les tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        </script>
        {% block extra_js %}{% endblock extra_js %}
        <!-- subtemplate footer injection -->
        {% block bodyend %}{% endblock bodyend %}
        <!-- Tagging injection -->
        {% block tagging %}{% endblock tagging %}
        <script language="javascript" nonce="{{ CSP_NONCE }}">
            $( "#btn-documentation" ).click(function() {
                _paq.push(['trackEvent', 'Documentation', 'Barre de menu'])
            })
        </script>
    </body>
</html>
