{% load static %}

<div role="banner" class="dashboard-header">
    <div class="header-brand">
        <a href="/" title="Accueil - Mon Diagnostic Artificialisation">
            <img src="{% static '/img/logo-mon-diagnostic-artificialisation.svg' %}" alt="Mon Diagnostic Artificialisation">
        </a>
    </div>

    <ul class="header-actions">
        {% comment %} <li class="d-none d-lg-block">
            {% include "project/components/forms/search.html" %}
        </li> {% endcomment %}
        <li class="d-lg-none d-xl-none">
            <a class="fr-link" href="{% url 'project:create' %}">
                Créer un diagnostic
            </a>
        </li>
        <li>
            <a class="fr-link fr-ml-2w" target="_blank" href="{{ FAQ_URL }}" rel="noopener">
                FAQ
            </a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <button class="fr-btn" aria-expanded="false" aria-controls="menu-mon-compte">Mon compte</button>
            <div class="fr-collapse fr-menu" id="menu-mon-compte">
                <ul class="fr-menu__list">
                    <li>
                      <a class="fr-nav__link" href="{% url 'project:list' %}">Mes diagnostics</a>
                    </li>
                    <li>
                        <a class="fr-nav__link" href="{% url 'users:profile' %}" target="_self">Profil</a>
                    </li>
                    {% if is_staff %}
                    <li>
                      <a class="fr-nav__link" href="{% url 'admin:index' %}">Administration</a>
                    </li>
                    <li>
                      <a class="fr-nav__link" href="{% url 'public_data:matrix' %}">Matrice</a>
                    </li>
                    <li>
                      <a class="fr-nav__link" href="{% url 'admin:diagnostic_word_wordtemplate_change' 'template-bilan-1' %}">Modèles Word du diagnostic</a>
                    </li>
                    <li>
                      <a class="fr-nav__link" href="{% url 'home:all-emails' %}">Liste des e-mails</a>
                    </li>
                    <li>
                      <a class="fr-nav__link" href="{% url 'project:excel' %}">Export Excel</a>
                    </li>
                    <li>
                        <a class="fr-nav__link" href="{{ METABASE_URL }}" target="_blank" rel="noopener">Metabase</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="fr-nav__link" href="{% url 'users:signout' %}" target="_self">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </li>
        {% else %}
        <li>
            <a class="fr-btn" href="{% url 'users:signin' %}">
                Se connecter
            </a>
        </li>
        <li>
            <a class="fr-btn" href="{% url 'users:signup' %}">
                S'inscrire
            </a>
        </li>
        {% endif %}
    </ul>
</div>
