{% if MATOMO_ACTIVATE %}
<!-- Matomo Tag Manager -->
<meta name="matomo-enabled" content="true">
<script nonce="[NONCE_PLACEHOLDER]">
  var _mtm = window._mtm = window._mtm || [];
  _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
  {% if REQUEST.user.is_authenticated %}
  _mtm.push({'UserID': '{{ REQUEST.user.email }}' });
    {% endif %}
  (function() {
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='{{ MATOMO_CONTAINER_SRC }}'; s.parentNode.insertBefore(g,s);
  })();
</script>
{% endif %}


